﻿@{
    ViewBag.Title = "Confirmation Call";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>                    
                </div>
                <div class="ibox-content" id="tbl-report" style="min-height:400px">
                    <div class="row">
                        <div class="col-lg-10">
                            <small>เลือกวัน Reply within ที่ต้องการออกรายงาน</small>
                            <div class="form-group form-inline">
                                <div class="input-daterange input-group" id="datesearch">
                                    <input type="text" class="input-sm form-control" id="reportdate" name="reportdate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                </div>
                                <span style="margin-left:5px;">
                                    <button type="button" class="btn btn-xs btn-success" onclick="retrieve_report()"><i class="fa fa-fw fa-search"></i>ค้นหา</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row" v-if="dataset!=null && dataset.length>0">
                        <div class="col-lg-8">
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Issue Date</th>
                                        <th>Reply within</th>
                                        <th>Success</th>
                                        <th>Unsuccess</th>
                                        <th>Letter</th>
                                        <th>Follow-up</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in dataset">
                                        <td>{{row.ProductGroup}}</td>
                                        <td>{{row.IssueDate}}</td>
                                        <td>{{row.ExpireDate}}</td>
                                        <td class="text-right">{{row.Success}}</td>
                                        <td class="text-right">{{row.Unsuccess}}</td>
                                        <td class="text-right">{{row.Letter}}</td>
                                        <td class="text-right">{{row.Followup}}</td>
                                        <td>
                                            <button v-if="row.Followup>0" type="button" class="btn btn-xs btn-primary" v-on:click="update_letter(row.ProductGroup,row.IssueDate,row.ExpireDate)">เปลี่ยนเป็น Letter</button>
                                            <button type="button" class="btn btn-xs btn-success" v-on:click="export_report(row.ProductGroup,row.IssueDate,row.ExpireDate)"><i class="fa fa-fw fa-download"></i>ออกรายงาน</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" v-if="dataset!=null && dataset.length==0">
                        <span class="alert alert-warning col-md-4 text-center">ไม่พบข้อมูล</span>
                    </div>
                </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/bundles/vuejs")
}


<script type="text/javascript">
    var tbl = new Vue({
        el: '#tbl-report',
        data: {
            reportdate : "",
            dataset: null
        },
        methods: {
            export_report: function (product,issue,expire) {
                var serviceURL = '@Url.Content("~/Report/ExportConfirmationCall")';
                $.ajax({
                    type: "GET",
                    url: serviceURL,
                    beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                    data: { product:product,issue:issue,expire:expire},
                    contentType: "application/json;",
                    dataType: "JSON",
                    success: function (filename) {
                        stoploading();
                        if (filename.endsWith(".xlsx")) {
                            pop_message('Message Box', 'Download Completed.');
                            window.location = filename;
                        } else {
                            console.log(filename);
                            pop_message('Oops..', 'Export function call failed.', 'error');
                        }
                    },
                    error: function () {
                        stoploading();
                        pop_message('Oops..', 'Export function call failed.', 'error');
                    }
                });
            },
            update_letter: function (product, issue, expire) {
                var serviceURL = '@Url.Content("~/Report/UpdateLetter")';
                swal({
                        title: "ยืนยัน?",
                        text: "คุณต้องการอัพเดตรายการที่ยังอยู่ในสถานะ Follow-up เป็น Letter ใช่หรือไม่?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((confirm) => {
                            if (confirm) {
                                $.ajax({
                                    type: "POST",
                                    url: serviceURL,
                                    data: { product: product, issue: issue, expire: expire },
                                    dataType: "JSON"
                                }).done(function (data) {
                                    if (data && data.error) {
                                        swal("Error", "something went wrong. please report to developer", "error")
                                        console.log(data);
                                    } else {
                                        swal("Success", "อัพเดตข้อมูลแล้ว", "success");
                                        retrieve_report();
                                    }
                                }).fail(function () { swal("Error", "something went wrong. please report to developer", "error") });
                            }
                        });
            }
        }
    });
    $(document).ready(function () {
        $('#datesearch').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "dd/mm/yyyy"
        });
        retrieve_report();
    });

    function retrieve_report() {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Report/ConfirmationCall")',
            data: { date: $("#reportdate").val() },
            dataType: "json",
            success: function (data) {
                stoploading();
                tbl.dataset = data;
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

</script>

