﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@{
    ViewBag.Title = "Daily Report ";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "Index", "Report")
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>                    
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-10">
                            <small>เลือกวันที่นำเข้าลีดที่ต้องการออกรายงาน</small>
                            <div class="form-group form-inline">
                                <div class="input-daterange input-group" id="datesearch">
                                    <input type="text" class="input-sm form-control" id="datestart" name="start" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    @*<span class="input-group-addon">&nbsp;ถึง&nbsp;</span>
                                        <input type="text" class="input-sm form-control" id="dateend" name="end" value="@DateTime.Now.ToString("dd/MM/yyyy")" />*@
                                </div>
                                <span style="margin-left:5px;">
                                    <button type="button" class="btn btn-xs btn-primary" onclick="retrieve_report()"><i class="fa fa-fw fa-search"></i>ค้นหา</button>
                                    <button type="button" class="btn btn-xs btn-primary" onclick="export_report()"><i class="fa fa-fw fa-download"></i>ออกรายงาน</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>      
                    <div class="table-responsive" id="tbl-report">
                        <table v-if="dt.length>0" class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        ชื่อ - นามสกุล
                                    </th>
                                    <th>
                                        Life
                                    </th>
                                    <th>
                                        Cancer
                                    </th>
                                    <th>
                                        Health
                                    </th>
                                    <th>
                                        PA
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in dt">
                                    <td>{{row.ReceiverUserName}}</td>
                                    <td class="text-right">{{row.Life}}</td>
                                    <td class="text-right">{{row.Cancer}}</td>
                                    <td class="text-right">{{row.Health}}</td>
                                    <td class="text-right">{{row.PA}}</td>
                                    <td class="text-right">{{row.Total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/bundles/vuejs")
}


<script type="text/javascript">
    var tbl = new Vue({
        el: '#tbl-report',
        data: {
            reportdate : "",
            dt: {}
        },
    });
        $(document).ready(function () {
            $('#datesearch').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "d/mm/yyyy"
            });
        });
        function retrieve_report()
        {
            var start = $("#datestart").val();
            var end = '';//$("#dateend").val();

            var serviceURL = '@Url.Content("~/Report/RetrieveDailyReport")';
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                data: { reportdate: start},
                contentType: "application/json;",
                dataType: "JSON",
                success: function (result) {
                    stoploading();
                    tbl.dt = result;
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Export function call failed.', 'error');
                }
            });
        }
        function export_report()
        {
            var start = $("#datestart").val();
            var end = '';//$("#dateend").val();

            var serviceURL = '@Url.Content("~/Report/ExportDailyReport")';
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                data: { reportdate: start},
                contentType: "application/json;",
                dataType: "JSON",
                success: function (filename) {
                    stoploading();
                    if (filename.error) {
                        console.log(filename);
                        pop_message('Oops..', 'Export function call failed.', 'error');                        
                    } else {
                        pop_message('Message Box', 'Download Completed.');
                        window.location = filename;
                    }
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Export function call failed.', 'error');
                }
            });
        }
</script>

