﻿@{
    ViewBag.Title = "Daily Tracking Report";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "Index", "Report")
                </li>
                <li class="active">
                    <strong>@title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@title</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" onclick="export_report()">ออกรายงานในรูปแบบ Excel</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>เลือกช่วงวันที่ที่ต้องการออกรายงาน</label>
                                <input type="text" class="form-control input-daterange" id="daterange1" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group form-inline">
                                <span style="margin-left:5px;">
                                    <button type="button" class="btn btn-xs btn-primary" onclick="export_report()"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;&nbsp;ออกรายงาน</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/daterangepicker/css")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/daterangepicker")
}

<script type="text/javascript">
    $(document).ready(function () {
    });

    function export_report() {
        var daterange = $("#daterange1").data('daterangepicker')
        var start = daterange.startDate.format('DD/MM/YYYY');
        var end = daterange.endDate.format('DD/MM/YYYY');
        var serviceURL = '@Url.Content("~/Report/ExportDailyTrackingCall")';
        $.ajax({
            type: "GET",
            url: serviceURL,
            beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
            data: { startdate: start, enddate: end },
            contentType: "application/json;",
            dataType: "JSON",
            success: function (filename) {
                stoploading();
                if (filename.error) {
                    console.log(filename);
                    pop_message('Oops..', 'Export function call failed.', 'error');
                } else {
                    pop_message('Message Box', 'Download Completed.');
                    window.location = filename;
                }
            },
            error: function () {
                stoploading();
                pop_message('Oops..', 'Export function call failed.', 'error');
            }
        });
    }

</script>