﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@model GT.CRMApplication.WebMVC5.Controllers.ReportController.DashBoardReportClass

@{
    ViewBag.Title = "Dashboard";
    var index = 0;
}


<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>Dashboard Report</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Data as of : 1/@(DateTime.Now.Month)/@(DateTime.Now.Year) - <font color="blue">@(DateTime.Now.Day)/@(DateTime.Now.Month)/@(DateTime.Now.Year)</font> At @(DateTime.Now.ToString("HH:mm"))</strong>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <!-- row 1 -->
    <div class="row">
        <div class="col-lg-6" style="max-height:330px;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Call - Break by Type of Call</h5>
                    <span class="label label-danger pull-right">MTD</span>
                </div>
                <div class="ibox-content" style="max-height:300px;">
                    <div id="ct-chart-bar-calltype-curr" style="height:220px;" class="ct-perfect-fourth"></div>
                    <small><font color="#545454">Remark : Prospect Call + Unidentified Call</font></small>
                </div>
                <table style="position:absolute;top:250px;left:30px;font-size:smaller;color:#545454">
                    <tr>
                        @{ index = 0; }
                        @foreach (var value in Model.clsNumberOfCallByCallType.legends)
                        {
                            <td>
                                <div class="legendColorBox">
                                    <div style="border:1px solid #000000;padding:1px">
                                        <div style="width:4px;height:0;border:5px solid @Model.Colors[index++];overflow:hidden"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="legendLabel">
                                    @value
                                </div>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        }
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-lg-6" style="max-height:330px;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span>
                    <h5>Inbound Call - Break By Interesting Channel</h5>
                </div>
                <div class="ibox-content" style="max-height:300px;">
                    <div id="ct-chart-bar-interest-curr" style="height:220px;" class="ct-perfect-fourth"></div>
                    <small><font color="#545454">Remark : Prospect Call + Unidentified Call</font></small>
                </div>
                <table style="position:absolute;top:250px;left:30px;font-size:smaller;color:#545454">
                    <tr>
                        @{ index = 0; }
                        @foreach (var value in Model.clsNumberOfIBCallByInterest.legends)
                        {
                            <td>
                                <div class="legendColorBox">
                                    <div style="border:1px solid #000000;padding:1px">
                                        <div style="width: 4px; height: 0; border: 5px solid @Model.Colors[index++]; overflow: hidden"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="legendLabel">
                                    @value
                                </div>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- row 2-->
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span> <span class="label label-success pull-right">TODAY</span>
                    <h5>Total Call</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><font color="blue">@Model.clsTotalCall.DAILY_CALL</font> | @Model.clsTotalCall.MTD_CALL</h1>
                    @*<div class="stat-percent font-bold text-success">5% <i class="fa fa-level-up"></i> MoM</div>*@
                    <small>Total Call (Call)</small><br />
                    <small>Today TSR : <font color="blue">@Model.clsTotalCall.DAILY_TSR</font> person(s)</small><br />
                    <p>&nbsp;</p>
                    <table class="table table-bordered table-striped" style="font-size:smaller">
                        <tr>
                            <th>TSR</th>
                            <th>TODAY <small>Call(s)</small></th>
                            <th>MTD <small>Call(s)</small></th>
                        </tr>
                        @foreach (var tsr in Model.clsTotalCall.CALL_BY_TSR)
                        {
                            <tr>
                                <td>@tsr.CREATED_BY_CODE</td>
                                <td><font color="blue">@tsr.DAILY_CALL</font></td>
                                <td>@tsr.MTD_CALL</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span> <span class="label label-success pull-right">TODAY</span>
                    <h5>Sales Call</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><font color="blue">@Model.clsSalesCall.DAILY_SALE_CALL</font> | @Model.clsSalesCall.MTD_SALE_CALL</h1>
                    @*<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>*@
                    <small>Sales Call (Call)</small><br />
                    <small><font color="blue">@(Model.clsSalesCall.DAILY_PERCENT_SALECALL)%</font> | @(Model.clsSalesCall.MTD_PERCENT_SALECALL)% of Total Call</small>
                    <p>&nbsp;</p>
                    <table class="table table-bordered table-striped" style="font-size:smaller">
                        <tr>
                            <th>TSR</th>
                            <th>TODAY <small>Call(s)</small></th>
                            <th>MTD <small>Call(s)</small></th>
                        </tr>
                        @foreach (var tsr in Model.clsSalesCall.CALL_BY_TSR)
                        {
                            <tr>
                                <td>@tsr.CREATED_BY_CODE</td>
                                <td><font color="blue">@tsr.DAILY_SALE_CALL (@(Math.Round(tsr.DAILY_PERCENT_SALECALL, 0))%)</font></td>
                                <td>@tsr.MTD_SALE_CALL (@(Math.Round(tsr.MTD_PERCENT_SALECALL, 0))%)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span> <span class="label label-success pull-right">TODAY</span>
                    <h5>Success Call</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><font color="blue">@Model.clsSuccessCall.DAILY_SUCCESS_CALL</font> | @Model.clsSuccessCall.MTD_SUCCESS_CALL</h1>
                    @*<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>*@
                    <small>% Sales Call (Call)</small><br />
                    <small><font color="blue">@(Model.clsSuccessCall.DAILY_PERCENT_SUCCESSCALL)%</font> | @(Model.clsSuccessCall.MTD_PERCENT_SUCCESSCALL)% of Sales Call</small>
                    <p>&nbsp;</p>
                    <table class="table table-bordered table-striped" style="font-size:smaller">
                        <tr>
                            <th>TSR</th>
                            <th>TODAY <small>Call(s)</small></th>
                            <th>MTD <small>Call(s)</small></th>
                        </tr>
                        @foreach (var tsr in Model.clsSuccessCall.CALL_BY_TSR)
                        {
                            <tr>
                                <td>@tsr.CREATED_BY_CODE</td>
                                <td><font color="blue">@tsr.DAILY_SUCCESS_CALL (@(Math.Round(tsr.DAILY_PERCENT_SUCCESSCALL, 0))%)</font></td>
                                <td>@tsr.MTD_SUCCESS_CALL (@(Math.Round(tsr.MTD_PERCENT_SUCCESSCALL, 0))%)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span> <span class="label label-success pull-right">TODAY</span>
                    <h5>API</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><font color="blue">@Model.clsAPI.DAILY_API</font> | @Model.clsAPI.MTD_API</h1>
                    @*<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>*@
                    <small>Annual Premium Income (Baht)</small><br />
                    <small>Application Form <font color="blue">@(Model.clsAPI.DAILY_APP)</font> | @(Model.clsAPI.MTD_APP) App(s)</small>
                    <small>Average API <font color="blue">@(Model.clsAPI.AVG_DAILY_API)</font> | @(Model.clsAPI.AVG_MTD_API) Baht Per App</small>
                    <p>&nbsp;</p>
                    <table class="table table-bordered table-striped" style="font-size:smaller">
                        <tr>
                            <th>TSR</th>
                            <th>TODAY <small>App(s)</small></th>
                            <th>MTD <small>App(s)</small></th>
                        </tr>
                        @if (Model.clsAPI.CALL_BY_TSR.Count() <= 0)
                        {
                            <tr><td colspan="3" class="text-center">No Data</td></tr>
                        }
                        else
                        {
                            foreach (var tsr in Model.clsAPI.CALL_BY_TSR)
                            {
                                <tr>
                                    <td>@tsr.CREATED_BY_CODE</td>
                                    <td><font color="blue">@tsr.DAILY_APP (@(Math.Round(tsr.DAILY_API, 0)) THB)</font></td>
                                    <td>@tsr.MTD_APP (@(Math.Round(tsr.MTD_API, 0)) THB)</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- row 3 -->
    <div class="row">
        <div class="col-lg-6" style="max-height:330px;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Inbound Call - Break by Activity</h5>
                    <span class="label label-danger pull-right">MTD</span>
                    <div class="pull-right">
                        <div class="btn-group">
                            @*<button type="button" class="btn-xs btn-white" onclick="$('#ct-chart-bar-activ-prev').hide(); $('#ct-chart-bar-activ-curr').show(); return false;">Current</button>*@
                            @*<button type="button" class="btn-xs btn-white actions" onclick="$('#ct-chart-bar-activ-curr').hide(); $('#ct-chart-bar-activ-prev').show(); return false;">Prev Month</button>*@
                        </div>
                    </div>
                </div>
                <div class="ibox-content" style="max-height:300px;">
                    <div id="ct-chart-bar-ib-activ-curr" style="height:220px;" class="ct-perfect-fourth"></div>
                    <small><font color="#545454">Remark : Prospect Call + Unidentified Call</font></small>
                </div>
                <table style="position:absolute;top:250px;left:30px;font-size:smaller;color:#545454">
                    <tr>
                        @{ index = 0; }
                        @foreach (var value in Model.clsNumberOfIBCallByActivity.legends)
                        {
                            <td>
                                <div class="legendColorBox">
                                    <div style="border:1px solid #000000;padding:1px">
                                        <div style="width:4px;height:0;border:5px solid @Model.Colors[index++];overflow:hidden"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="legendLabel">
                                    @value
                                </div>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6" style="max-height:330px;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Outbound Call - Break by Activity</h5>
                    <span class="label label-danger pull-right">MTD</span>
                    <div class="pull-right">
                        <div class="btn-group">
                            @*<button type="button" class="btn-xs btn-white" onclick="$('#ct-chart-bar-activ-prev').hide(); $('#ct-chart-bar-activ-curr').show(); return false;">Current</button>*@
                            @*<button type="button" class="btn-xs btn-white actions" onclick="$('#ct-chart-bar-activ-curr').hide(); $('#ct-chart-bar-activ-prev').show(); return false;">Prev Month</button>*@
                        </div>
                    </div>
                </div>
                <div class="ibox-content" style="max-height:300px;">
                    <div id="ct-chart-bar-ob-activ-curr" style="height:220px;" class="ct-perfect-fourth"></div>
                    <small><font color="#545454">Remark : Prospect Call + Unidentified Call</font></small>
                </div>
                <table style="position:absolute;top:250px;left:30px;font-size:smaller;color:#545454">
                    <tr>
                        @{ index = 0; }
                        @foreach (var value in Model.clsNumberOfOBCallByActivity.legends)
                        {
                            <td>
                                <div class="legendColorBox">
                                    <div style="border:1px solid #000000;padding:1px">
                                        <div style="width:4px;height:0;border:5px solid @Model.Colors[index++];overflow:hidden"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="legendLabel">
                                    @value
                                </div>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- row 4 -->
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span>
                    <h5>Total Call Portion</h5>
                </div>
                <div class="ibox-content" style="height:260px;">
                    <div id="ct-chart-pie-totalcall" class="ct-perfect-fourth"></div>
                </div>
                <table style="position:absolute;top:220px;left:30px;font-size:smaller;color:#545454">
                    @{ index = 0; }
                    @foreach (var value in Model.clsCallPortion.legends)
                    {
                        <tr>
                            <td>
                                <div class="legendColorBox">
                                    <div style="border:1px solid #000000;padding:1px">
                                        <div style="width: 4px; height: 0; border: 5px solid @Model.Colors[index++]; overflow: hidden"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="legendLabel">
                                    @value
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span>
                    <h5>Source of Lead (IB)</h5>
                </div>
                <div class="ibox-content" style="height:260px;">
                    <div id="ct-chart-pie-ibcall" class="ct-perfect-fourth"></div>
                </div>
                <table style="position:absolute;top:220px;left:30px;font-size:smaller;color:#545454">
                    @{ index = 0; }
                    @foreach (var value in Model.clsIBCallPortion.legends)
                    {
                        <tr>
                            <td>
                                <div class="legendColorBox">
                                    <div style="border:1px solid #000000;padding:1px">
                                        <div style="width: 4px; height: 0; border: 5px solid @Model.Colors[index++]; overflow: hidden"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="legendLabel">
                                    @value
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span>
                    <h5>Sales Call</h5>
                </div>
                <div class="ibox-content" style="height:260px;">
                    <div id="ct-chart-pie-salecall" class="ct-perfect-fourth"></div>
                </div>
                <table style="position:absolute;top:220px;left:30px;font-size:smaller;color:#545454">
                    @{ index = 0; }
                    @foreach (var value in Model.clsSalesCallPortion.legends)
                    {
                        <tr>
                            <td>
                                <div class="legendColorBox">
                                    <div style="border:1px solid #000000;padding:1px">
                                        <div style="width: 4px; height: 0; border: 5px solid @Model.Colors[index++]; overflow: hidden"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="legendLabel">
                                    @value
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">MTD</span>
                    <h5>Service Call</h5>
                </div>
                <div class="ibox-content" style="height:260px;">
                    <div id="ct-chart-pie-servicecall" class="ct-perfect-fourth"></div>
                </div>
                <table style="position:absolute;top:220px;left:30px;font-size:smaller;color:#545454">
                    @{ index = 0; }
                    @foreach (var value in Model.clsServiceCallPortion.legends)
                    {
                        <tr>
                            <td>
                                <div class="legendColorBox">
                                    <div style="border:1px solid #000000;padding:1px">
                                        <div style="width: 4px; height: 0; border: 5px solid @Model.Colors[index++]; overflow: hidden"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="legendLabel">
                                    @value
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <!-- row 4 -->
    <div class="row">

    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/chartistStyles")
}

@section Scripts {
}
@Scripts.Render("~/plugins/chartist")
<script type="text/javascript">
    $(document).ready(function () {

        // allcall by calltype
        new Chartist.Bar('#ct-chart-bar-calltype-curr', {
            labels: @Model.clsNumberOfCallByCallType.SerializeDay
            ,series: @Model.clsNumberOfCallByCallType.SerializeData
        }, {
            stackBars: true,
            axisY: {
                labelInterpolationFnc: function (value) {
                    return value;
                },
                scaleMinSpace: 20,
                onlyInteger: true
            },
            height: '180px'
            ,plugins : [
               Chartist.plugins.tooltip()
            ]
        });

        // ob-call by activity
        new Chartist.Bar('#ct-chart-bar-ob-activ-curr', {
            labels: @Model.clsNumberOfOBCallByActivity.SerializeDay
            ,series: @Model.clsNumberOfOBCallByActivity.SerializeData
        }, {
            stackBars: true,
            axisY: {
                labelInterpolationFnc: function (value) {
                    return value;
                },
                scaleMinSpace: 20,
                onlyInteger: true
            },
            height: '180px'
            ,plugins : [
                Chartist.plugins.tooltip()
            ]
        });

        // ib-call by activity
        new Chartist.Bar('#ct-chart-bar-ib-activ-curr', {
            labels: @Model.clsNumberOfIBCallByActivity.SerializeDay
            ,series: @Model.clsNumberOfIBCallByActivity.SerializeData
        }, {
            stackBars: true,
            axisY: {
                labelInterpolationFnc: function (value) {
                    return value;
                },
                scaleMinSpace: 20,
                onlyInteger: true
            },
            height: '180px'
            ,plugins : [
               Chartist.plugins.tooltip()
            ]
        });


        // ib-call by interesting channel
        new Chartist.Bar('#ct-chart-bar-interest-curr', {
            labels: @Model.clsNumberOfIBCallByInterest.SerializeDay
            ,series: @Model.clsNumberOfIBCallByInterest.SerializeData
        }, {
            stackBars: true,
            axisY: {
                labelInterpolationFnc: function (value) {
                    return value;
                },
                scaleMinSpace: 20,
                onlyInteger: true
            },
            height: '180px',
            plugins : [
                Chartist.plugins.tooltip()
            ]
        });

        // ===========================================================================
        //  pie chart
        // ===========================================================================

        // total call
        var sum = function (a, b) { return a + b };

        var data1 = {
            series: @Model.clsCallPortion.SerializeData
        };

        new Chartist.Pie('#ct-chart-pie-totalcall', data1, {
            labelInterpolationFnc: function (value) {
                return Math.round(value / data1.series.reduce(sum) * 100) + '%';
            }
            ,plugins : [
                Chartist.plugins.tooltip()
            ]
        });

        // ib-call by source of lead
        var data2 = {
            series: @Model.clsIBCallPortion.SerializeData
        };

        new Chartist.Pie('#ct-chart-pie-ibcall', data2, {
            labelInterpolationFnc: function (value) {
                return Math.round(value / data2.series.reduce(sum) * 100) + '%';
            }
            ,plugins : [
                Chartist.plugins.tooltip({
                    valueTransform: function () {
                        return (value / 1000) + 'k';
                    }
                })
            ]
        });

        // sales call by response category
        var data3 = {
            series: @Model.clsSalesCallPortion.SerializeData
        };

        new Chartist.Pie('#ct-chart-pie-salecall', data3, {
            labelInterpolationFnc: function (value) {
                return Math.round(value / data3.series.reduce(sum) * 100) + '%';
            }
            ,plugins : [
                Chartist.plugins.tooltip()
            ]
        });

        // sales call by response category
        var data4 = {
            series: @Model.clsServiceCallPortion.SerializeData
        };

        new Chartist.Pie('#ct-chart-pie-servicecall', data4, {
            labelInterpolationFnc: function (value) {
                return Math.round(value / data4.series.reduce(sum) * 100) + '%';
            }
            ,plugins : [
                Chartist.plugins.tooltip()
            ]
        });

    });
</script>
}
