﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using System.Configuration;
@using GT.CRMApplication.WebMVC5.Helpers;
@using GT.InboundApplication.Model.Common;
@{
    var linksales = Request.SalesLink();
    var linklead = ConfigurationManager.AppSettings["Link_GTLEAD"].ToString();
    var project = AppConfigHelper.ProjectName();
    ViewBag.Title = "Sales Report";
    var reportindex = 1;
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-lg-12">
        <div class="col-lg-10">
            <h2>Sales Report</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="http://gt-telesales/@linksales/index">หน้าแรก</a>
                </li>
                <li class="active">
                    <strong>Sales Report</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row display-flex">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">CALL TRACKING</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Transaction Report</small>
                        <a href="@Url.Action("CallTrackingReport")" class="product-name">@(reportindex++). Call Tracking Report by Prospect</a>
                        <div class="small m-t-xs">
                            รายงานแสดงการใช้งานสายโทรเข้าออกของทีม @project ทั้งหมด แบบ Unique Client และผลการโทรล่าสุด
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("CallTrackingReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i>ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">SUCCESS CALL WITHOUT APPLICATION</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Reconcile Report</small>
                        <a href="@Url.Action("CallSuccessWithOutAppReport")" class="product-name">@(reportindex++). Incomplete Success Call<br></a>
                        <div class="small m-t-xs">
                            รายงานแสดงข้อมูลสาย Success ที่ไม่มี Application No.
                            (Success Call without Application No. definition)
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("CallSuccessWithOutAppReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation">
                        <h4><font color="white">SUM PERF. BY TSR</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">CRM Report</small>
                        <a href="@Url.Action("SalesPerformanceByTSRReport")" class="product-name">Sales Performance Report by TSR<br></a>
                        <div class="small m-t-xs">
                            รายงานแสดงข้อมูลผลการทำงานแบบแสดงตามรายชื่อ TSR
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("SalesPerformanceByTSRReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">DAILY SALES REPORT</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Sales Report</small>
                        <a href="@Url.Action("DailySalesReport")" class="product-name">@(reportindex++). Daily Sales Report<br></a>
                        <div class="small m-t-xs">
                            รายงานแสดงข้อมูลการขาย แจกแจงเป็นรายวัน
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("DailySalesReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">FAX REPORT</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Sales Report</small>
                        <a href="@Url.Action("FaxReport")" class="product-name">@(reportindex++). FAX Report<br></a>
                        <div class="small m-t-xs">
                            รายงานแสดงข้อมูลเรียกเก็บประกัน แจกแจงเป็นรายวัน
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("FaxReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">DAILY SALES SUMMARY REPORT</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Sales Report</small>
                        <a href="@Url.Action("DailySalesSummaryReport")" class="product-name">@(reportindex++). Daily Sales Summary Report<br></a>
                        <div class="small m-t-xs">
                            รายงานสรุปการขายรายวัน
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("DailySalesSummaryReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">INCOMPLETE DOCUMENT REPORT</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Sales Report</small>
                        <a href="@Url.Action("IncompleteDocumentReport")" class="product-name">@(reportindex++). Incomplete Document Report<br></a>
                        <div class="small m-t-xs">
                            รายงานการเก็บเอกสาร (เฉพาะ Motor)
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("IncompleteDocumentReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (project == "IGM")
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                            <h4><font color="white">SUMMARY INSPECTION REPORT</font></h4>
                        </div>
                        <div class="product-desc">
                            <small class="text-muted">UW Report</small>
                            <a href="@linksales/UWMotor/SummaryInspectionReport" class="product-name">Summary Inspection Report<br></a>
                            <div class="small m-t-xs">
                                รายงาน Summary ส่งตรวจสภาพ
                            </div>
                            <div class="m-t text-righ">
                                <a href="@linksales/UWMotor/SummaryInspectionReport" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                            <h4><font color="white">LEAD PERFORMANCE BY PRODUCT</font></h4>
                        </div>
                        <div class="product-desc">
                            <small class="text-muted">Lead Performance Report</small>
                            <a href="@Url.Action("LeadPerformanceByInterestProductReport")" class="product-name">@(reportindex++). Lead Performance by Product<br></a>
                            <div class="small m-t-xs">
                                รายงาน Lead Performance by Product
                            </div>
                            <div class="m-t text-righ">
                                <a href="@Url.Action("LeadPerformanceByInterestProductReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                            <h4><font color="white">TSR SALES BY PRODUCT</font></h4>
                        </div>
                        <div class="product-desc">
                            <small class="text-muted">Sales Report</small>
                            <a href="@Url.Action("TSRSalesByProductReport")" class="product-name">@(reportindex++). TSR Sales By Product Report<br></a>
                            <div class="small m-t-xs">
                                รายงานแสดงข้อมูลการขาย แจกแจงราย TSR แยกผลิตภัณฑ์
                            </div>
                            <div class="m-t text-righ">
                                <a href="@Url.Action("TSRSalesByProductReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (User.IsAdmin())
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                            <h4><font color="white">LEAD CONVERSION REPORT</font></h4>
                        </div>
                        <div class="product-desc">
                            <small class="text-muted">Sales Report</small>
                            <a href="@Url.Action("LeadConversion")" class="product-name">@(reportindex++). Lead Conversion Report<br></a>
                            <div class="small m-t-xs">
                                รายงาน Lead Conversion
                            </div>
                            <div class="m-t text-righ">
                                <a href="@Url.Action("LeadConversion")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">SUPERVISOR TRACKING</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Sales Report</small>
                        <a href="@Url.Action("SupervisorTrackingReport")" class="product-name">@(reportindex++). Supervisor Tracking Report<br></a>
                        <div class="small m-t-xs">
                            Supervisor Tracking Report
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("SupervisorTrackingReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">KPI Non-Life Tracking Report</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">KPI Report</small>
                        <a href="@Url.Action("KPINLTracking")" class="product-name">@(reportindex++). KPI Non-Life Tracking Report<br></a>
                        <div class="small m-t-xs">

                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("KPINLTracking")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">KPI NL</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">KPI Report</small>
                        <a href="@Url.Action("KPINLPMReport")" class="product-name">@(reportindex++). KPI NL<br></a>
                        <div class="small m-t-xs">

                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("KPINLPMReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">TSR Grading Performance Report</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Performance Report</small>
                        <a href="@Url.Action("TSRGradingPerformanceReport")" class="product-name">@(reportindex++). TSR Grading Performance Report<br></a>
                        <div class="small m-t-xs">
                            This report represent TSR Grading Performance.
                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("TSRGradingPerformanceReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">TSR Tracking Report</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Performance Report</small>
                        <a href="@Url.Action("TSRTargetTrackingReport")" class="product-name">@(reportindex++). TSR Tracking Report<br></a>
                        <div class="small m-t-xs">

                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("TSRTargetTrackingReport")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" style="background:url(../content/images/report.jpg); background-size:cover;">
                        <h4><font color="white">Sub Status Tracking Report</font></h4>
                    </div>
                    <div class="product-desc">
                        <small class="text-muted">Lead Report</small>
                        <a href="@Url.Action("SubStatusTracking")" class="product-name">@(reportindex++). Sub Status Tracking Report<br></a>
                        <div class="small m-t-xs">

                        </div>
                        <div class="m-t text-righ">
                            <a href="@Url.Action("SubStatusTracking")" class="btn btn-xs btn-primary"><i class="fa fa-long-arrow-right"></i> ไปยังรายงาน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>