﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;

@{
    ViewBag.Title = "Invoice";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "Index", "Report")
                </li>
                <li class="active">
                    <strong>@title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">                
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>เลือกช่วงวันที่ Success ที่ต้องการออกรายงาน</label>
                                <input type="text" class="form-control input-daterange" id="daterange1" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>                        
                        <div class="col-lg-10">
                            <div class="form-group form-inline">                                
                                <span style="margin-left:5px;">
                                    <button type="button" class="btn btn-xs btn-primary" onclick="retrieve_report()"><i class="fa fa-fw fa-search"></i>ค้นหา</button>
                                    <button type="button" class="btn btn-xs btn-primary" onclick="export_report()"><i class="fa fa-fw fa-download"></i>ออกรายงาน</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive" id="tbl-report">
                        <table v-if="dt.length>0" class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        ชื่อ - นามสกุล
                                    </th>
                                    <th>
                                        Successful of Life
                                    </th>
                                    <th>
                                        Successful of Cancer
                                    </th>
                                    <th>
                                        Successful of Health
                                    </th>
                                    <th>
                                        Successful of PA
                                    </th>
                                    <th>
                                        Grand Total Cases
                                    </th>
                                    <th>
                                        Incentive (Baht)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in dt">
                                    <td>{{row.TSR}}</td>
                                    <td class="text-right">{{row.Life}}</td>
                                    <td class="text-right">{{row.Cancer}}</td>
                                    <td class="text-right">{{row.Health}}</td>
                                    <td class="text-right">{{row.PA}}</td>
                                    <td class="text-right">{{row.TotalCase}}</td>
                                    <td class="text-right">{{row.Incentive}}</td>
                                </tr>
                            </tbody>
                            <tfoot v-if="dt.length>1">
                                <tr>
                                    <td>Total</td>
                                    <td class="text-right">{{dt.reduce((acc, item) => acc + item.Life, 0)}}</td>
                                    <td class="text-right">{{dt.reduce((acc, item) => acc + item.Cancer, 0)}}</td>
                                    <td class="text-right">{{dt.reduce((acc, item) => acc + item.Health, 0)}}</td>
                                    <td class="text-right">{{dt.reduce((acc, item) => acc + item.PA, 0)}}</td>
                                    <td class="text-right">{{dt.reduce((acc, item) => acc + item.TotalCase, 0)}}</td>
                                    <td class="text-right">{{dt.reduce((acc, item) => acc + item.Incentive, 0)}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/multiple-select/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/vuejs")
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/multiple-select")
}


<script type="text/javascript">
    var vue = new Vue({
        el: "#tbl-report",
        data:{
            dt: [],            
        }
    })
    $(document).ready(function () {
    });

    function retrieve_report() {
        var daterange = $("#daterange1").data('daterangepicker')
        var start = daterange.startDate.format('DD/MM/YYYY');
        var end = daterange.endDate.format('DD/MM/YYYY');
        var serviceURL = '@Url.Content("~/Report/RetrieveInvoice")';
        $.ajax({
            type: "GET",
            url: serviceURL,
            beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
            data: { startdate: start, enddate: end },
            traditional: true,
            contentType: "application/json;",
            dataType: "JSON",
            success: function (result) {
                vue.dt = result;
                stoploading();
            },
            error: function () {
                stoploading();
                pop_message('Oops..', 'Search function call failed.', 'error');
            }
        });
    }
   
    function export_report() {
        var daterange = $("#daterange1").data('daterangepicker')
        var start = daterange.startDate.format('DD/MM/YYYY');
        var end = daterange.endDate.format('DD/MM/YYYY');
        var serviceURL = '@Url.Content("~/Report/ExportInvoice")';
        $.ajax({
            type: "GET",
            url: serviceURL,
            beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
            data: { startdate: start, enddate: end },
            traditional: true,
            contentType: "application/json;",
            dataType: "JSON",
            success: function (filename) {
                stoploading();
                if (filename.error) {
                    pop_message('Oops..', 'Export function call failed.', 'error');
                } else {
                    pop_message('Message Box', 'Download Completed.');
                    window.location = filename;
                }
            },
            error: function () {
                stoploading();
                pop_message('Oops..', 'Export function call failed.', 'error');
            }
        });
    }

</script>