﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.CRMApplication.WebMVC5.Helpers;
@{
    ViewBag.Title = "KPI by TSR Report";
    var title = ViewBag.Title;
    var project = AppConfigHelper.ProjectName();
}


<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>KPI by TSR Report</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "Index", "Report")
                </li>
                <li class="active">
                    <strong>@title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@title</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" onclick="export_report()">ออกรายงานเป็น Excel</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-10">
                            <label>เลือกช่วงวันที่ต้องการออกรายงาน</label>
                            <div class="form-group form-inline">
                                <div class="input-group" id="datesearch">
                                    <input type="text" class="input-sm form-control input-daterange" id="daterange1" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                </div>
                                <span style="margin-left:15px;">
                                    <button type="button" class="btn btn-xs btn-primary" onclick="retrieve_report()"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;ค้นหา</button>
                                </span>
                                <span style="margin-left:5px;">
                                    <button type="button" class="btn btn-xs btn-primary" onclick="export_report()"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;&nbsp;ออกรายงาน</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive" id="tbl-report">
                        <table class="table table-striped table-hover table-bordered" style="font-size:90%">
                            <thead>
                                <tr>
                                    <th>Supervisor</th>
                                    <th>TSR Name</th>
                                    <th>Total Lead</th>
                                    <th>New Lead</th>
                                    <th>Old Lead</th>
                                    <th>Total Used</th>
                                    <th>Total Call</th>
                                    <th>Talk Time</th>
                                    <th>Call Attempt</th>
                                    <th>New Lead Call</th>
                                    <th>New Lead Call Attempt</th>
                                    <th>No Contact</th>
                                    <th>Follow Up</th>
                                    <th>Wait</th>
                                    <th>In-Progress</th>
                                    <th>Reject</th>
                                    <th>Not Update</th>
                                    <th>Not Target</th>
                                    <th>Success</th>
                                    <th>DMC Contact</th>
                                    <th>DMC Rate</th>
                                    <th>List Conv.</th>
                                    <th>Respond Rate</th>
                                    <th>Policy (Submit)</th>
                                    <th>Premium (Submit)</th>
                                    <th>Policy (Approve)</th>
                                    <th>Premium (Approve)</th>
                                    <th>Case Size</th>
                                    <th>Policy (New)</th>
                                    <th>Premium (New)</th>
                                    <th>New Lead Conv.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="table in dataset">
                                    <tr v-for="row in table.dt">
                                        <td>{{row.Supervisor}}</td>
                                        <td>{{row.Fullname}}</td>
                                        <td class="text-right">{{row.total_lead}}</td>
                                        <td class="text-right">{{row.new_lead}}</td>
                                        <td class="text-right">{{row.old_lead}}</td>
                                        <td class="text-right">{{row.total_used}}</td>
                                        <td class="text-right">{{row.total_call}}</td>
                                        <td class="text-right">{{toHHMMSS(row.total_talk_time)}}</td>
                                        <td class="text-right">{{row.call_attempt.toFixed(2)}}</td>
                                        <td class="text-right">{{row.new_lead_call}}</td>
                                        <td class="text-right">{{row.new_lead_call_attempt.toFixed(2)}}</td>
                                        <td class="text-right">{{row.nocontact}}</td>
                                        <td class="text-right">{{row.followup}}</td>
                                        <td class="text-right">{{row.wait}}</td>
                                        <td class="text-right">{{row.inprogress}}</td>
                                        <td class="text-right">{{row.reject}}</td>
                                        <td class="text-right">{{row.notupdate}}</td>
                                        <td class="text-right">{{row.nottarget}}</td>
                                        <td class="text-right">{{row.success}}</td>
                                        <td class="text-right">{{row.dmc}}</td>
                                        <td class="text-right">{{row.dmc_rate | percent}}</td>
                                        <td class="text-right">{{row.list_conv | percent}}</td>
                                        <td class="text-right">{{row.respond_rate | percent}}</td>
                                        <td class="text-right">{{row.submit}}</td>
                                        <td class="text-right">{{row.sum_submit | currency('')}}</td>
                                        <td class="text-right">{{row.approve}}</td>
                                        <td class="text-right">{{row.sum_approve | currency('')}}</td>
                                        <td class="text-right">{{divide(row.sum_approve,row.approve) | currency('')}}</td>
                                        <td class="text-right">{{row.new_approve}}</td>
                                        <td class="text-right">{{row.sumnew_approve | currency('')}}</td>
                                        <td class="text-right">{{row | calpercent('new_approve','new_lead') | percent}}</td>
                                    </tr>
                                    <tr v-if="table.dt.length>1" class="danger">
                                        <td>{{table.summary.Supervisor}}</td>
                                        <td>Total</td>
                                        <td class="text-right">{{table.summary.total_lead}}</td>
                                        <td class="text-right">{{table.summary.new_lead}}</td>
                                        <td class="text-right">{{table.summary.old_lead}}</td>
                                        <td class="text-right">{{table.summary.total_used}}</td>
                                        <td class="text-right">{{table.summary.total_call}}</td>
                                        <td class="text-right">{{toHHMMSS(table.summary.total_talk_time)}}</td>
                                        <th class="text-right">{{divide(table.summary.total_call,table.summary.total_used) | currency('')}}</th>
                                        <td class="text-right">{{table.summary.new_lead_call}}</td>
                                        <th class="text-right">{{divide(table.summary.new_lead_call,table.summary.new_used) | currency('')}}</th>
                                        <td class="text-right">{{table.summary.nocontact}}</td>
                                        <td class="text-right">{{table.summary.followup}}</td>
                                        <td class="text-right">{{table.summary.wait}}</td>
                                        <td class="text-right">{{table.summary.inprogress}}</td>
                                        <td class="text-right">{{table.summary.reject}}</td>
                                        <td class="text-right">{{table.summary.notupdate}}</td>
                                        <td class="text-right">{{table.summary.nottarget}}</td>
                                        <td class="text-right">{{table.summary.success}}</td>
                                        <td class="text-right">{{table.summary.dmc}}</td>
                                        <th class="text-right">{{divide(Sum(table.dt,'dmc'),Sum(table.dt,'total_used'))*100 | percent}}</th>
                                        @*<th class="text-right">{{divide(Sum(table.dt,'success'),Sum(table.dt,'total_used'))*100 | percent}}</th>*@
                                        <th class="text-right">{{divide(table.summary.approve,table.summary.total_lead)*100 | percent}}</th>
                                        <th class="text-right">{{divide(table.summary.success,table.summary.dmc)*100 | percent}}</th>
                                        <td class="text-right">{{table.summary.submit}}</td>
                                        <td class="text-right">{{table.summary.sum_submit | currency('')}}</td>
                                        <td class="text-right">{{table.summary.approve}}</td>
                                        <td class="text-right">{{table.summary.sum_approve | currency('')}}</td>
                                        <th class="text-right">{{divide(table.summary.sum_approve,table.summary.approve) | currency('')}}</th>
                                        <td class="text-right">{{table.summary.new_approve}}</td>
                                        <td class="text-right">{{table.summary.sumnew_approve | currency('')}}</td>
                                        <td class="text-right">{{divide(table.summary.new_approve,table.summary.new_lead)*100 | percent}}</td>
                                    </tr>
                                </template>
                                <tr v-if="dataset.total" class="danger">
                                    <td colspan="2">Grand Total</td>
                                    <th class="text-right">{{dataset.total | Sum('total_lead')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('new_lead')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('old_lead')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('total_used')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('total_call')}}</th>
                                    <th class="text-right">{{toHHMMSS(Sum(dataset.total,'total_talk_time'))}}</th>
                                    <th class="text-right">{{divide(Sum(dataset.total,'total_call'),Sum(dataset.total,'total_used')).toFixed(2)}}</th>
                                    <th class="text-right">{{dataset.total | Sum('new_lead_call')}}</th>
                                    <th class="text-right">{{divide(Sum(dataset.total,'new_lead_call'),Sum(dataset.total,'new_used')).toFixed(2)}}</th>
                                    <th class="text-right">{{dataset.total | Sum('nocontact')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('followup')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('wait')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('inprogress')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('reject')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('notupdate')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('nottarget')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('success')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('dmc')}}</th>
                                    <th class="text-right">{{divide(Sum(dataset.total,'dmc'),Sum(dataset.total,'total_used'))*100 | percent}}</th>
                                    @*<th class="text-right">{{divide(Sum(dataset.total,'success'),Sum(dataset.total,'total_used'))*100 | percent}}</th>*@
                                    <th class="text-right">{{divide(Sum(dataset.total,'approve'),Sum(dataset.total,'total_lead'))*100 | percent}}</th>
                                    <th class="text-right">{{divide(Sum(dataset.total,'success'),Sum(dataset.total,'dmc'))*100 | percent}}</th>
                                    <th class="text-right">{{dataset.total | Sum('submit')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('sum_submit') | currency('')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('approve')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('sum_approve') | currency('')}}</th>
                                    <th class="text-right">{{divide(Sum(dataset.total,'sum_approve'),Sum(dataset.total,'approve')) | currency('')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('new_approve')}}</th>
                                    <th class="text-right">{{dataset.total | Sum('sumnew_approve') | currency('')}}</th>
                                    <th class="text-right">{{divide(Sum(dataset.total,'new_approve'),Sum(dataset.total,'new_lead'))*100 | percent}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/daterangepicker/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/vuejs")
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/daterangepicker")
}


<script type="text/javascript">
    var tbl = new Vue({
        el: '#tbl-report',
        data: {
            dataset: {}
        },
        methods: {
            toHHMMSS: function (secs) {
                var sec_num = parseInt(secs, 10)
                var hours = Math.floor(sec_num / 3600)
                var minutes = Math.floor(sec_num / 60) % 60
                var seconds = sec_num % 60

                return [hours, minutes] //, seconds]
                    .map(v => v < 10 ? "0" + v : v)
                    //.filter((v, i) => v !== "00" || i > 0)
                    .join(":")
            }
        }
    });
        $(document).ready(function () {
        });

        function retrieve_report() {
            var daterange = $("#daterange1").data('daterangepicker')
            var start = daterange.startDate.format('DD/MM/YYYY');
            var end = daterange.endDate.format('DD/MM/YYYY');
            var serviceURL = '@Url.Content("~/Report/RetrieveRPT_KPI_TSR")';
            var totalarrays = new Array(12);
            for (i = 0 ; i < totalarrays.length ; i++) totalarrays[i] = 0; //set default value in array.
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังออกรายงาน..'),
                data : { startdate : start, enddate : end },
                contentType: "application/json;",
                dataType: "JSON",
                success: function (ss) {
                    stoploading();
                    tbl.dataset = ss;
                    var total = [];
                    if (tbl.dataset.length > 1) {
                        for (var i = 0; i < tbl.dataset.length; i++) {
                            total = total.concat(tbl.dataset[i].summary)
                        }
                        tbl.dataset.total = total;
                    }
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Retrieve TSR summary function call failed.','error');
                }
            });
        }

        function export_report()
        {
            var daterange = $("#daterange1").data('daterangepicker')
            var start = daterange.startDate.format('DD/MM/YYYY');
            var end = daterange.endDate.format('DD/MM/YYYY');

            var serviceURL = '@Url.Content("~/Report/ExportRPT_TSR_KPIbyProduct")';
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                data: { startdate: start, enddate: end },
                contentType: "application/json;",
                dataType: "JSON",
                success: function (filename) {
                    stoploading();
                    if (filename.startsWith("error ")) {
                        pop_message('Oops..', 'Export function call failed.', 'error');
                    } else {
                        pop_message('Message Box', 'Download Completed.');
                        window.location = filename;
                    }
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Export function call failed.', 'error');
                }
            });
        }

</script>