﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;

@{
    ViewBag.Title = "Lead Performance Report";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "MarketingReport", "Report")
                </li>
                <li class="active">
                    <strong>@title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@title</h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" onclick="export_report()">ออกรายงานเป็น Excel</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>เลือกช่วงวันที่ต้องการออกรายงาน</label>
                                <input type="text" class="form-control input-daterange" id="daterange1" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="ddl-tsr">Source</label>
                                @Html.DropDownList("ddl-callsource", (IEnumerable<SelectListItem>)ViewBag.Callsources, new { @class = "form-control", @multiple = "multiple" })
                            </div>
                        </div>
                        @if (User.IsManager())
                        {
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="ddl-sup">เลือกดูราย Supervisor</label>
                                    @Html.DropDownList("ddl-sup", (IEnumerable<SelectListItem>)ViewBag.SupervisorList, "เลือก", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                        @if (User.IsAdmin())
                        {
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="ddl-tsr">เลือกดูราย TSR</label>
                                    @Html.DropDownList("ddl-tsr", (IEnumerable<SelectListItem>)ViewBag.TsrList, "เลือก", new { @class = "form-control" })
                                </div>
                            </div>
                        }
                        <div class="col-lg-10">
                            <div class="form-group form-inline">
                                <span>
                                    <button type="button" class="btn btn-xs btn-primary" onclick="retrieve_report()"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;ค้นหา</button>
                                </span>
                                <span style="margin-left:5px;">
                                    <button type="button" class="btn btn-xs btn-primary" onclick="export_report()"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;&nbsp;ออกรายงาน</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive" id="tbl-report">
                        <table class="table table-striped table-hover table-bordered " style="font-size:90%">
                            <thead>
                                <tr>
                                    <th>Source</th>
                                    <th>Product</th>
                                    <th>Total Income Lead</th>
                                    <th>Assigned</th>
                                    <th>UnAssigned</th>
                                    <th>Total Lead</th>
                                    <th>New Lead</th>
                                    <th>Old Lead</th>
                                    <th>Total Used</th>
                                    <th>Total Call</th>
                                    <th>Call Attempt</th>
                                    <th>No Contact</th>
                                    <th>Follow Up</th>
                                    <th>Wait</th>
                                    <th>In-Progress</th>
                                    @*<th>Refuse</th>
                                        <th>Un-Success</th>*@
                                    <th>Reject</th>
                                    <th>Not Update</th>
                                    <th>Not Target</th>
                                    <th>Success</th>
                                    <th>DMC Contact</th>
                                    <th>DMC Rate</th>
                                    <th>List Conv.</th>
                                    <th>Respond Rate</th>
                                    <th>Policy (Submit)</th>
                                    <th>Premium (Submit)</th>
                                    <th>Policy (Approve)</th>
                                    <th>Premium (Approve)</th>
                                    <th>Case Size</th>
                                    <th>Policy (New)</th>
                                    <th>Premium (New)</th>
                                    <th>New Lead Conv.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in dataset">
                                    <td>{{row.callsource}}</td>
                                    <td>{{row.product}}</td>
                                    <td class="text-right">{{row.income_lead}}</td>
                                    <td class="text-right">{{row.assigned}}</td>
                                    <td class="text-right">{{row.unassigned}}</td>
                                    <td class="text-right">{{row.total_lead}}</td>
                                    <td class="text-right">{{row.new_lead}}</td>
                                    <td class="text-right">{{row.old_lead}}</td>
                                    <td class="text-right">{{row.total_used}}</td>
                                    <td class="text-right">{{row.total_call}}</td>
                                    <td class="text-right">{{row.call_attempt.toFixed(2)}}</td>
                                    <td class="text-right">{{row.nocontact}}</td>
                                    <td class="text-right">{{row.followup}}</td>
                                    <td class="text-right">{{row.wait}}</td>
                                    <td class="text-right">{{row.inprogress}}</td>
                                    @*<td class="text-right">{{row.refuse}}</td>
                                        <td class="text-right">{{row.unsuccess}}</td>*@
                                    <td class="text-right">{{row.reject}}</td>
                                    <td class="text-right">{{row.notupdate}}</td>
                                    <td class="text-right">{{row.nottarget}}</td>
                                    <td class="text-right">{{row.success}}</td>
                                    <td class="text-right">{{row.dmc}}</td>
                                    <td class="text-right">{{row.dmc_rate | percent}}</td>
                                    <td class="text-right">{{row.list_conv | percent}}</td>
                                    <td class="text-right">{{row.respond_rate | percent}}</td>
                                    <td class="text-right">{{row.submit}}</td>
                                    <td class="text-right">{{row.sum_submit | currency('')}}</td>
                                    <td class="text-right">{{row.approve}}</td>
                                    <td class="text-right">{{row.sum_approve | currency('')}}</td>
                                    <td class="text-right">{{divide(row.sum_approve,row.approve) | currency('')}}</td>
                                    <td class="text-right">{{row.new_approve}}</td>
                                    <td class="text-right">{{row.sumnew_approve | currency('')}}</td>
                                    <td class="text-right">{{divide(row.new_approve,row.new_lead)*100 | percent}}</td>
                                </tr>
                            </tbody>
                            <tfoot v-if="dataset.length > 0">
                                <tr class="danger">
                                    <th>Total</th>
                                    <th></th>
                                    <th class="text-right">{{dataset | Sum('income_lead')}}</th>
                                    <th class="text-right">{{dataset | Sum('assigned')}}</th>
                                    <th class="text-right">{{dataset | Sum('unassigned')}}</th>
                                    <th class="text-right">{{dataset | Sum('total_lead')}}</th>
                                    <th class="text-right">{{dataset | Sum('new_lead')}}</th>
                                    <th class="text-right">{{dataset | Sum('old_lead')}}</th>
                                    <th class="text-right">{{dataset | Sum('total_used')}}</th>
                                    <th class="text-right">{{dataset | Sum('total_call')}}</th>
                                    <th class="text-right">{{divide(Sum(dataset,'total_call'),Sum(dataset,'total_used')).toFixed(2)}}</th>
                                    <th class="text-right">{{dataset | Sum('nocontact')}}</th>
                                    <th class="text-right">{{dataset | Sum('followup')}}</th>
                                    <th class="text-right">{{dataset | Sum('wait')}}</th>
                                    <th class="text-right">{{dataset | Sum('inprogress')}}</th>
                                    <th class="text-right">{{dataset | Sum('reject')}}</th>
                                    <th class="text-right">{{dataset | Sum('notupdate')}}</th>
                                    <th class="text-right">{{dataset | Sum('nottarget')}}</th>
                                    <th class="text-right">{{dataset | Sum('success')}}</th>
                                    <th class="text-right">{{dataset | Sum('dmc')}}</th>
                                    <th class="text-right">{{divide(Sum(dataset,'dmc'),Sum(dataset,'total_used'))*100 | percent}}</th>
                                    @*<th class="text-right">{{divide(Sum(dataset,'success'),Sum(dataset,'total_used'))*100 | percent}}</th>*@
                                    <th class="text-right">{{divide(Sum(dataset,'approve'),Sum(dataset,'total_lead'))*100 | percent}}</th>
                                    <th class="text-right">{{divide(Sum(dataset,'success'),Sum(dataset,'dmc'))*100 | percent}}</th>
                                    <th class="text-right">{{dataset | Sum('submit')}}</th>
                                    <th class="text-right">{{dataset | Sum('sum_submit') | currency('')}}</th>
                                    <th class="text-right">{{dataset | Sum('approve')}}</th>
                                    <th class="text-right">{{dataset | Sum('sum_approve') | currency('')}}</th>
                                    <th class="text-right">{{divide(Sum(dataset,'sum_approve'),Sum(dataset,'approve')) | currency('')}}</th>
                                    <th class="text-right">{{dataset | Sum('new_approve')}}</th>
                                    <th class="text-right">{{dataset | Sum('sumnew_approve') | currency('')}}</th>
                                    <th class="text-right">{{divide(Sum(dataset,'new_approve'),Sum(dataset,'new_lead'))*100 | percent}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/multiple-select/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/vuejs")
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/multiple-select")
}


<script type="text/javascript">
    var tbl = new Vue({
        el: '#tbl-report',
        data: {
            dataset: {}
        },
        //methods:{
        //    Sum : function (list, key) {
        //        return list.reduce(function (total, item) {
        //            return total + item[key]
        //        }, 0)
        //    }
        //}
    });
    //Vue.filter('Sum', function (list, key) {
    //    return list.reduce(function (total, item) {
    //        return total + item[key]
    //    }, 0)
    //});
    $(document).ready(function () {
        $('#ddl-callsource').multipleSelect().multipleSelect("checkAll");
    });

    function retrieve_report() {
        var daterange = $("#daterange1").data('daterangepicker')
        var start = daterange.startDate.format('DD/MM/YYYY');
        var end = daterange.endDate.format('DD/MM/YYYY');
        var tsr = $("#ddl-tsr").val();
        var sup = $("#ddl-sup").val();
        var source = $("#ddl-callsource").multipleSelect("getSelects");
        if (source.length == $("#ddl-callsource>option").length) source = ['all'];
        var serviceURL = '@Url.Content("~/Report/RetrieveLeadPerformance")';
        $.ajax({
            type: "GET",
            url: serviceURL,
            beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังออกรายงาน..'),
            data: { startdate: start, enddate: end, tsr: tsr, supervisor: sup, source: source },
            traditional: true,
            contentType: "application/json;",
            dataType: "JSON",
            success: function (ss) {
                stoploading();
                tbl.dataset = ss;
            },
            error: function () {
                stoploading();
                pop_message('Oops..', 'Retrieve TSR summary function call failed.', 'error');
            }
        });
    }

    function export_report() {
        var daterange = $("#daterange1").data('daterangepicker')
        var start = daterange.startDate.format('DD/MM/YYYY');
        var end = daterange.endDate.format('DD/MM/YYYY');
        var tsr = $("#ddl-tsr").val();
        var sup = $("#ddl-sup").val();
        var source = $("#ddl-callsource").multipleSelect("getSelects");
        if (source.length == $("#ddl-callsource>option").length) source = ['all'];
        var serviceURL = '@Url.Content("~/Report/ExportLeadPerformance")';
        $.ajax({
            type: "GET",
            url: serviceURL,
            beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
            data: { startdate: start, enddate: end, tsr: tsr, supervisor: sup, source: source },
            traditional: true,
            contentType: "application/json;",
            dataType: "JSON",
            success: function (filename) {
                stoploading();
                if (filename.startsWith("error ")) {
                    pop_message('Oops..', 'Export function call failed.', 'error');
                } else {
                    pop_message('Message Box', 'Download Completed.');
                    window.location = filename;
                }
            },
            error: function () {
                stoploading();
                pop_message('Oops..', 'Export TSR Summary function call failed.', 'error');
            }
        });
    }

</script>