﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@{
    ViewBag.Title = "Productivity Report ";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "Index", "Report")
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-10">
                            <small for="reportmonth">เลือกเดือนที่อนุมัติที่ต้องการออกรายงาน</small>
                            <div class="form-group form-inline">
                                    <div class="form-group">
                                        
                                        <div class="input-group date" data-provide="datepicker" data-date-format="MM yyyy" data-date-min-view-mode="1" data-date-autoclose="true">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="reportmonth" name="reportmonth" class="form-control" value="" autocomplete="off">
                                        </div>
                                    </div>
                                    <span style="margin-left:5px;">
                                        <button type="button" class="btn btn-xs btn-primary" onclick="retrieve_report()"><i class="fa fa-fw fa-search"></i>ค้นหา</button>
                                        <button type="button" class="btn btn-xs btn-primary" onclick="export_report()"><i class="fa fa-fw fa-download"></i>ออกรายงาน</button>
                                    </span>                                
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>            
                    <div class="table-responsive" id="tbl-report">
                        <table v-if="dt.length>0" class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th rowspan="2">
                                        ชื่อ - นามสกุล
                                    </th>
                                    <th colspan="4">
                                        Life
                                    </th>
                                    <th colspan="4">
                                        Cancer
                                    </th>
                                    <th colspan="4">
                                        Health
                                    </th>
                                    <th colspan="4">
                                        PA
                                    </th>
                                    <th colspan="4">
                                        A&H
                                    </th>
                                    <th colspan="4">
                                        Total
                                    </th>
                                </tr>
                                <tr>
                                    <th>Success</th>
                                    <th>Unsuccess</th>
                                    <th>Letter</th>
                                    <th>Total</th>
                                    <th>Success</th>
                                    <th>Unsuccess</th>
                                    <th>Letter</th>
                                    <th>Total</th>
                                    <th>Success</th>
                                    <th>Unsuccess</th>
                                    <th>Letter</th>
                                    <th>Total</th>
                                    <th>Success</th>
                                    <th>Unsuccess</th>
                                    <th>Letter</th>
                                    <th>Total</th>
                                    <th>Success</th>
                                    <th>Unsuccess</th>
                                    <th>Letter</th>
                                    <th>Total</th>
                                    <th>Success</th>
                                    <th>Unsuccess</th>
                                    <th>Letter</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in dt">
                                    <td>{{row.TSR}}</td>
                                    <td class="text-right">{{row.Life1}}</td>
                                    <td class="text-right">{{row.Life2}}</td>
                                    <td class="text-right">{{row.Life3}}</td>
                                    <td class="text-right">{{row.Life}}</td>
                                    <td class="text-right">{{row.CANCER1}}</td>
                                    <td class="text-right">{{row.CANCER2}}</td>
                                    <td class="text-right">{{row.CANCER3}}</td>
                                    <td class="text-right">{{row.Cancer}}</td>
                                    <td class="text-right">{{row.HEALTH1}}</td>
                                    <td class="text-right">{{row.HEALTH2}}</td>
                                    <td class="text-right">{{row.HEALTH3}}</td>
                                    <td class="text-right">{{row.Health}}</td>
                                    <td class="text-right">{{row.PA1}}</td>
                                    <td class="text-right">{{row.PA2}}</td>
                                    <td class="text-right">{{row.PA3}}</td>
                                    <td class="text-right">{{row.PA}}</td>
                                    <td class="text-right">{{row.NL1}}</td>
                                    <td class="text-right">{{row.NL2}}</td>
                                    <td class="text-right">{{row.NL3}}</td>
                                    <td class="text-right">{{row.NL}}</td>
                                    <td class="text-right">{{row.Total1}}</td>
                                    <td class="text-right">{{row.Total2}}</td>
                                    <td class="text-right">{{row.Total3}}</td>
                                    <td class="text-right">{{row.Total}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td class="text-right">{{Total.Life1}}</td>
                                    <td class="text-right">{{Total.Life2}}</td>
                                    <td class="text-right">{{Total.Life3}}</td>
                                    <td class="text-right">{{Total.Life}}</td>
                                    <td class="text-right">{{Total.CANCER1}}</td>
                                    <td class="text-right">{{Total.CANCER2}}</td>
                                    <td class="text-right">{{Total.CANCER3}}</td>
                                    <td class="text-right">{{Total.Cancer}}</td>
                                    <td class="text-right">{{Total.HEALTH1}}</td>
                                    <td class="text-right">{{Total.HEALTH2}}</td>
                                    <td class="text-right">{{Total.HEALTH3}}</td>
                                    <td class="text-right">{{Total.Health}}</td>
                                    <td class="text-right">{{Total.PA1}}</td>
                                    <td class="text-right">{{Total.PA2}}</td>
                                    <td class="text-right">{{Total.PA3}}</td>
                                    <td class="text-right">{{Total.PA}}</td>
                                    <td class="text-right">{{Total.NL1}}</td>
                                    <td class="text-right">{{Total.NL2}}</td>
                                    <td class="text-right">{{Total.NL3}}</td>
                                    <td class="text-right">{{Total.NL}}</td>
                                    <td class="text-right">{{Total.Total1}}</td>
                                    <td class="text-right">{{Total.Total2}}</td>
                                    <td class="text-right">{{Total.Total3}}</td>
                                    <td class="text-right">{{Total.Total}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/bundles/vuejs")
}


<script type="text/javascript">
    var vue = new Vue({
        el: "#tbl-report",
        data:{
            dt: [],            
        },
        computed: {
            Total: function () {
                return {
                    Life1: this.dt.reduce((acc, item) => acc + item.Life1, 0),
                    Life2: this.dt.reduce((acc, item) => acc + item.Life2, 0),
                    Life3: this.dt.reduce((acc, item) => acc + item.Life3, 0),
                    Life: this.dt.reduce((acc, item) => acc + item.Life, 0),
                    CANCER1: this.dt.reduce((acc, item) => acc + item.CANCER1, 0),
                    CANCER2: this.dt.reduce((acc, item) => acc + item.CANCER2, 0),
                    CANCER3: this.dt.reduce((acc, item) => acc + item.CANCER3, 0),
                    Cancer: this.dt.reduce((acc, item) => acc + item.Cancer, 0),
                    HEALTH1: this.dt.reduce((acc, item) => acc + item.HEALTH1, 0),
                    HEALTH2: this.dt.reduce((acc, item) => acc + item.HEALTH2, 0),
                    HEALTH3: this.dt.reduce((acc, item) => acc + item.HEALTH3, 0),
                    Health: this.dt.reduce((acc, item) => acc + item.Health, 0),
                    PA1: this.dt.reduce((acc, item) => acc + item.PA1, 0),
                    PA2: this.dt.reduce((acc, item) => acc + item.PA2, 0),
                    PA3: this.dt.reduce((acc, item) => acc + item.PA3, 0),
                    PA: this.dt.reduce((acc, item) => acc + item.PA, 0),
                    NL1: this.dt.reduce((acc, item) => acc + item.NL1, 0),
                    NL2: this.dt.reduce((acc, item) => acc + item.NL2, 0),
                    NL3: this.dt.reduce((acc, item) => acc + item.NL3, 0),
                    NL: this.dt.reduce((acc, item) => acc + item.NL, 0),
                    Total1: this.dt.reduce((acc, item) => acc + item.Total1, 0),
                    Total2: this.dt.reduce((acc, item) => acc + item.Total2, 0),
                    Total3: this.dt.reduce((acc, item) => acc + item.Total3, 0),
                    Total: this.dt.reduce((acc, item) => acc + item.Total, 0),
                }
            }
        }
    })
        $(document).ready(function () {
            $("#reportmonth").val(moment().format("MMMM YYYY"));
        });
        function retrieve_report()
        {           
            var serviceURL = '@Url.Content("~/Report/RetrieveProductivity")';
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                data: { reportmonth: $("#reportmonth").val()},
                contentType: "application/json;",
                dataType: "JSON",
                success: function (result) {
                    stoploading();
                    vue.dt = result;
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Search function call failed.', 'error');
                }
            });
        }
        function export_report()
        {           
            var serviceURL = '@Url.Content("~/Report/ExportProductivity")';
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                data: { reportmonth: $("#reportmonth").val()},
                contentType: "application/json;",
                dataType: "JSON",
                success: function (filename) {
                    stoploading();
                    if (filename.error) {
                        console.log(filename);
                        pop_message('Oops..', 'Export function call failed.', 'error');
                    } else {
                        pop_message('Message Box', 'Download Completed.');
                        window.location = filename;                        
                    }
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Export function call failed.', 'error');
                }
            });
        }
</script>

