﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@{
    ViewBag.Title = "Sub Status Tracking Report ";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "Index", "Report")
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-10">
                            <small>เลือกวันที่ต้องการออกรายงาน</small>
                            <div class="form-group form-inline">
                                <div class="input-daterange input-group" id="datesearch">
                                    <input type="text" class="input-sm form-control" id="datestart" name="start" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    @*<span class="input-group-addon">&nbsp;ถึง&nbsp;</span>
                                        <input type="text" class="input-sm form-control" id="dateend" name="end" value="@DateTime.Now.ToString("dd/MM/yyyy")" />*@
                                </div>
                                <span style="margin-left:5px;">
                                    <button type="button" class="btn btn-xs btn-success" onclick="export_report()"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;&nbsp;ออกรายงาน</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/bundles/vuejs")
}


<script type="text/javascript">
    var tbl = new Vue({
        el: '#tbl-report',
        data: {
            reportdate : "",
            dataset: {}
        },
    });
        $(document).ready(function () {
            $('#datesearch').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "d/mm/yyyy"
            });
            retrieve_report();
        });
        
        function export_report()
        {
            var start = $("#datestart").val();
            var end = '';//$("#dateend").val();

            var serviceURL = '@Url.Content("~/Report/ExportSubStatusTracking")';
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                data: { reportdate: start},
                contentType: "application/json;",
                dataType: "JSON",
                success: function (filename) {
                    stoploading();
                    if (filename.endsWith(".xlsx")) {
                        pop_message('Message Box', 'Download Completed.');
                        window.location = filename;
                    } else {
                        console.log(filename);
                        pop_message('Oops..', 'Export function call failed.', 'error');
                    }
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Export function call failed.', 'error');
                }
            });
        }
</script>

