﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@{
    ViewBag.Title = "Time Attendance Report ";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "Index", "Report")
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-10">
                            <small for="reportmonth">เลือกเดือนที่ต้องการออกรายงาน</small>
                            <div class="form-group form-inline">
                                    <div class="form-group">
                                        
                                        <div class="input-group date" data-provide="datepicker" data-date-format="MM yyyy" data-date-min-view-mode="1" data-date-autoclose="true">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="reportmonth" name="reportmonth" class="form-control" value="" autocomplete="off">
                                        </div>
                                    </div>
                                    <span style="margin-left:5px;">
                                        <button type="button" class="btn btn-xs btn-primary" onclick="export_report()"><i class="fa fa-fw fa-download"></i>ออกรายงาน</button>
                                    </span>                                
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>       
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/bundles/vuejs")
}


<script type="text/javascript">
   
        $(document).ready(function () {
            $("#reportmonth").val(moment().format("MMMM YYYY"));
        });

        function export_report()
        {           
            var serviceURL = '@Url.Content("~/Report/ExportTimeAttendance")';
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                data: { reportmonth: $("#reportmonth").val()},
                contentType: "application/json;",
                dataType: "JSON",
                success: function (filename) {
                    stoploading();
                    if (filename.error) {
                        console.log(filename);
                        pop_message('Oops..', 'Export function call failed.', 'error');
                    } else {
                        pop_message('Message Box', 'Download Completed.');
                        window.location = filename;                        
                    }
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Export function call failed.', 'error');
                }
            });
        }
</script>

