﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;

@{
    ViewBag.Title = "TSR Summary Report";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>KPI Summary by TSR Report</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                    @*<a href="http://gt-telesales/inboundapplication/index">Home</a>*@
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "Index", "Report")
                </li>
                <li class="active">
                    <strong>KPI Summary by TSR Report</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>KPI Summary by TSR Report</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" onclick="export_report()">ออกรายงานเป็น Excel</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-10">
                            <small>เลือกช่วงวันที่ต้องการออกรายงาน</small>
                            <div class="form-group form-inline">
                                <div class="input-daterange input-group" id="datesearch">
                                    <input type="text" class="input-sm form-control" id="datestart" name="start" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <span class="input-group-addon">&nbsp;ถึง&nbsp;</span>
                                    <input type="text" class="input-sm form-control" id="dateend" name="end" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                </div>
                                <span style="margin-left:15px;">
                                    <button type="button" class="btn btn-xs btn-primary" onclick="retrieve_report()"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;ค้นหา</button>
                                </span>
                                <span style="margin-left:5px;">
                                    <button type="button" class="btn btn-xs btn-primary" onclick="export_report()"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;&nbsp;ออกรายงาน</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2">TEAM</th>
                                    <th rowspan="2">SUPERVISOR</th>
                                    <th rowspan="2">TSR NAME</th>
                                    <th rowspan="2">TOTAL CALL</th>
                                    <th rowspan="2">TALK TIME</th>
                                    <th colspan="6" style="text-align:center">CALL STATUS</th>
                                    <th rowspan="2">POLICY (SUBMIT)</th>
                                    <th rowspan="2">PREMIUM (SUBMIT)</th>
                                    <th rowspan="2">POLICY (APPROVE)</th>
                                    <th rowspan="2">PREMIUM (APPROVE)</th>
                                </tr>
                                <tr>
                                    <th>NO CONTACT</th>
                                    <th>NOT UPDATE</th>
                                    <th>NOT TARGET</th>
                                    <th>REJECT</th>
                                    <th>FOLLOW UP</th>
                                    <th>SUCCESS</th>
                                </tr>
                            </thead>
                            <tbody id="body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/dataPicker")
}


<script type="text/javascript">

        $(document).ready(function () {
            $('#datesearch').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "d/mm/yyyy"
            });
            retrieve_report();
        });

        function retrieve_report() {
            var start = $("#datestart").val();
            var end = $("#dateend").val();
            var serviceURL = '@Url.Content("~/Report/RetrieveTSRSummaryReport")';
            var totalarrays = new Array(12);
            for (i = 0 ; i < totalarrays.length ; i++) totalarrays[i] = 0; //set default value in array.
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังออกรายงาน..'),
                data : { startdate : start, enddate : end },
                contentType: "application/json;",
                dataType: "JSON",
                success: function (ss) {
                    stoploading();
                    var item = "";
                    $("#body").html(item);
                    ss.forEach(function (entry) {

                        totalarrays[0] += Number(entry.total_call);
                        totalarrays[1] += Number(entry.total_talk_time);
                        totalarrays[2] += Number(entry.no_contact);
                        totalarrays[3] += Number(entry.not_update);
                        totalarrays[4] += Number(entry.not_target);
                        totalarrays[5] += Number(entry.reject);
                        totalarrays[6] += Number(entry.follow_up);
                        totalarrays[7] += Number(entry.success);
                        totalarrays[8] += Number(entry.submit_policy);
                        totalarrays[9] += Number(entry.submit_premium);
                        totalarrays[10] += Number(entry.approve_policy);
                        totalarrays[11] += Number(entry.approve_premium);

                        item += "<tr>"
                        + "<td>" + entry.team + "</td>"
                        + "<td>" + entry.supervisor + "</td>"
                        + "<td>" + entry.tsr + "</td>"
                        + "<td>" + entry.total_call + "</td>"
                        + "<td>" + toHHMMSS(entry.total_talk_time) + "</td>"
                        + "<td>" + entry.no_contact + "</td>"
                        + "<td>" + entry.not_update + "</td>"
                        + "<td>" + entry.not_target + "</td>"
                        + "<td>" + entry.reject + "</td>"
                        + "<td>" + entry.follow_up + "</td>"
                        + "<td>" + entry.success + "</td>"
                        + "<td>" + entry.submit_policy + "</td>"
                        + "<td>" + numberWithCommas(entry.submit_premium) + "</td>"
                        + "<td>" + entry.approve_policy + "</td>"
                        + "<td>" + numberWithCommas(entry.approve_premium) + "</td>"
                        + "</tr>";
                    });

                    if (item == "") item = "<tr><td colspan='15'><center>ไม่พบข้อมูลที่ค้นหา</center></td></tr>";
                    else
                    {
                        item += "<tr style=background-color:#FAE5E5>"
                             + "<td colspan=3 style=text-align:center>Grand Total</td>"
                             + "<td>" + totalarrays[0]  + "</td>"
                             + "<td>" + toHHMMSS(totalarrays[1]) + "</td>"
                             + "<td>" + totalarrays[2]  + "</td>"
                             + "<td>" + totalarrays[3]  + "</td>"
                             + "<td>" + totalarrays[4]  + "</td>"
                             + "<td>" + totalarrays[5] + "</td>"
                             + "<td>" + totalarrays[6]  + "</td>"
                             + "<td>" + totalarrays[7] + "</td>"
                             + "<td>" + totalarrays[8] + "</td>"
                             + "<td>" + numberWithCommas(totalarrays[9].toFixed(2)) + "</td>"
                             + "<td>" + totalarrays[10] + "</td>"
                             + "<td>" + numberWithCommas(totalarrays[11].toFixed(2)) + "</td>"
                             + "</tr>";
                    }
                    $("#body").html(item);
                },
                error: function () {
                    stoploading();
                    pop_message('Unexception Error..', 'Retrieve TSR summary function call failed.','error');
                }
            });
        }

        function numberWithCommas(x)
        {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }


        function export_report()
        {
            var start = $("#datestart").val();
            var end = $("#dateend").val();
            
            var serviceURL = '@Url.Content("~/Report/ExportRPT_KPI_TSR")';
            $.ajax({
                type: "GET",
                url: serviceURL,
                beforeSend: startloading('กำลังทำงาน..', 'ระบบกำลังทำการออกรายงาน..'),
                data: { startdate: start, enddate: end },
                contentType: "application/json;",
                dataType: "JSON",
                success: function (filename) {
                    stoploading();
                    pop_message('Message Box', 'Download Completed.');
                    window.location = filename;
                },
                error: function () {
                    stoploading();
                    pop_message('Oops..', 'Export TSR Summary function call failed.', 'error');
                }
            });
    }
    function toHHMMSS (secs) {
        var sec_num = parseInt(secs, 10)
        var hours = Math.floor(sec_num / 3600)
        var minutes = Math.floor(sec_num / 60) % 60
        var seconds = sec_num % 60

        return [hours, minutes] //, seconds]
            .map(v => v < 10 ? "0" + v : v)
            //.filter((v, i) => v !== "00" || i > 0)
            .join(":")
    }



</script>