﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using System.Configuration;
@using GT.InboundApplication.Model.Common;
@{
    ViewBag.Title = "TSR Tracking Report";
    var title = ViewBag.Title;
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>@title</h2>
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายงาน", "SalesReport", "Report")
                </li>
                <li class="active">
                    <strong>@title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@title</h5>
                </div>
                <div id="content" class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
                            <li role="presentation" id="tab-tsrview"><a data-toggle="tab" href="#tsrtab">ราย TSR</a></li>
                        </ul>
                        <div class="tab-content p-sm border-left-right-bottom">
                            <div id="summary" role="tabpanel" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="form-group form-inline">
                                            <div class="form-group">
                                                <label for="year">เลือกปี</label>
                                                <select name="year" id="ddl-year" class="form-control">
                                                    @{
                                                        for (int y = DateTime.Now.Year; y >= 2018; y--)
                                                        {
                                                            <option value="@y">@y</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            @if (User.IsManager())
                                            {
                                                <div class="form-group m-l-md">
                                                    <label for="ddl-sup">เลือกดูราย Supervisor</label>
                                                    @Html.DropDownList("ddl-sup", (IEnumerable<SelectListItem>)ViewBag.SupervisorList, "ทั้งหมด", new { @class = "form-control" })
                                                </div>
                                            }
                                            @if (User.IsAdmin())
                                            {
                                                <div class="form-group m-l-md">
                                                    <label for=" ddl-tsr">
                                                        เลือกดูราย TSR
                                                    </label>
                                                    @Html.DropDownList("ddl-tsr", (IEnumerable<SelectListItem>)ViewBag.TsrList, "ทั้งหมด", new { @class = "form-control" })
                                                </div>
                                            }
                                            <span style="margin-left:15px;">
                                                <button id="btn-submit" type="button" class="btn btn-xs btn-primary">แสดงข้อมูล</button>
                                                <button id="btn-export" type="button" class="btn btn-xs btn-primary">ออกรายงาน</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table v-if="data && data.length>0" class="table table-striped table-bordered table-primary">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="text-center">Jan</th>
                                                    <th class="text-center">Feb</th>
                                                    <th class="text-center">Mar</th>
                                                    <th class="text-center">Apr</th>
                                                    <th class="text-center">May</th>
                                                    <th class="text-center">Jun</th>
                                                    <th class="text-center">Jul</th>
                                                    <th class="text-center">Aug</th>
                                                    <th class="text-center">Sep</th>
                                                    <th class="text-center">Oct</th>
                                                    <th class="text-center">Nov</th>
                                                    <th class="text-center">Dec</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="row in data" v-bind:class="row.type=='Net'||row.type=='Sum Annual Mode'?'danger':''">
                                                    <td>{{row.type}}</td>
                                                    <td class="text-right">{{row.jan | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.feb | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.mar | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.apr | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.may | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.jun | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.jul | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.aug | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.sep | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.oct | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.nov | currency('',0) || "-"}}</td>
                                                    <td class="text-right">{{row.dec | currency('',0) || "-"}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tsrtab" role="tabpanel" class="tab-pane fade">
                                @if (!User.IsTSR())
                                {
                                    <div id="tsrview">
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <div class="form-group form-inline">
                                                    <div class="form-group">
                                                        <label for="reportmonth">เลือกเดือน</label>
                                                        <div class="input-group date" data-provide="datepicker" data-date-format="MM yyyy" data-date-min-view-mode="1" data-date-autoclose="true">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input type="text" id="reportmonth" name="reportmonth" class="form-control" value="" autocomplete="off">
                                                        </div>
                                                    </div>
                                                    @*@if (User.IsManager())
                                                        {
                                                            <div class="form-group m-l-md">
                                                                <label for="ddl-sup">เลือกดูราย Supervisor</label>
                                                                @Html.DropDownList("ddl-sup", (IEnumerable<SelectListItem>)ViewBag.SupervisorList, "ทั้งหมด", new { @class = "form-control" })
                                                            </div>
                                                        }*@
                                                    <span style="margin-left:15px;">
                                                        <button id="btn-submit2" type="button" class="btn btn-xs btn-primary">แสดงข้อมูล</button>
                                                        <button id="btn-export2" type="button" class="btn btn-xs btn-primary">ออกรายงาน</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table v-if="data2 && data2.length>0" class="table table-striped table-bordered table-primary">
                                                    <thead>
                                                        <tr>
                                                            <th>TSR</th>
                                                            <th class="text-center">Submit on floor</th>
                                                            <th class="text-center">Submit</th>
                                                            <th class="text-center">Issue</th>
                                                            <th class="text-center">CFI</th>
                                                            <th class="text-center danger">Net</th>
                                                            <th class="text-center">Pure annual mode</th>
                                                            <th class="text-center">3Pay4Pay6Pay</th>
                                                            <th class="text-center">3Pay4Pay6Pay ไม่รวม 6Pay Debit</th>
                                                            <th class="text-center">Paylite 0%</th>
                                                            <th class="text-center danger">Sum annual mode</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="row in data2">
                                                            <td>{{row.tsr}}</td>
                                                            <td class="text-right">{{row.success | currency('',0) || "-"}}</td>
                                                            <td class="text-right">{{row.submit | currency('',0) || "-"}}</td>
                                                            <td class="text-right">{{row.issue | currency('',0) || "-"}}</td>
                                                            <td class="text-right">{{row.cfi | currency('',0) || "-"}}</td>
                                                            <td class="text-right danger">{{row.net | currency('',0) || "-"}}</td>
                                                            <td class="text-right">{{row.annual | currency('',0) || "-"}}</td>
                                                            <td class="text-right">{{row.mpay | currency('',0) || "-"}}</td>
                                                            <td class="text-right">{{row.contest | currency('',0) || "-"}}</td>
                                                            <td class="text-right">{{row.paylite | currency('',0) || "-"}}</td>
                                                            <td class="text-right danger">{{row.sumannual | currency('',0) || "-"}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div v-if="!data2 || data2.length==0">
                                                    <div class="alert alert-warning" role="alert">ไม่มีข้อมูล</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul>
                                <li>Submit on floor ยอดงาน Success  </li>
                                <li>Submit ยอด Submit to GT (นับยอดจากงานผ่าน QC ภายในเดือน)</li>
                                <li>Issue ยอด Issue นับยอดตามวันที่ Issue</li>
                                <li>CFI ยอด CFI นับยอดตามวันที่เกิด CFI</li>
                                <li>Net = Issue-CFI</li>
                                <li>Pure annual mode ยอดจ่ายรายปีเต็มจำนวนจากยอด Submit</li>
                                <li>3Pay4Pay6Pay ยอด 3Pay,4Pay,6Pay จากยอด Submit</li>
                                <li>3Pay4Pay6Pay ยอด 3Pay,4Pay,6Pay ไม่รวม 6Pay Debit จากยอด Submit</li>
                                <li>Paylite 0% ยอดการจ่ายแบบ Paylite จากยอด Pure annual mode</li>
                                <li>Sum annual mode = Pure annual mode + 3Pay4Pay6Pay</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/daterangepicker/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/vuejs")
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/daterangepicker")
}

<script type="text/javascript">
    var vue = new Vue({
        el: "#content",
        data:{
            data: [],
            data2: []
        }
    })
    function loadData() {
        $.ajax({
            url: "@Url.Action("RetrieveTSRTrackingData")",
            data: {tsr:$("#ddl-tsr").val(),sup:$("#ddl-sup").val(), year: $("#ddl-year").val() }
        }).done(function (result) {
            console.log(result);
            vue.data = result;
        });
    }
    function loadData2() {
        var reportmonth = moment($("#reportmonth").val(),'MMMM YYYY').format("YYYY-MM");
        $.ajax({
            url: "@Url.Action("RetrieveTSRTrackingData2")",
            data: {month:reportmonth }
        }).done(function (result) {
            console.log(result);
            vue.data2 = result;
        });
    }
    function exportData() {
        $.ajax({
            url: "@Url.Action("ExportTSRTrackingReport")",
            data: {tsr:$("#ddl-tsr").val(),sup:$("#ddl-sup").val(), year: $("#ddl-year").val() }
        }).done(function (filename) {
            if (filename.startsWith("error")) {
                console.log(filename);
                pop_message('Oops..', 'Export function call failed.', 'error');
            } else {
                pop_message('Message Box', 'Download Completed.');
                window.location = filename;
            }
        });
    }
    function exportData2() {
        var reportmonth = moment($("#reportmonth").val(), 'MMMM YYYY').format("YYYY-MM");
        $.ajax({
            url: "@Url.Action("ExportTSRTrackingReport2")",
            data: { month: reportmonth }
        }).done(function (filename) {
            if (filename.startsWith("error")) {
                console.log(filename);
                pop_message('Oops..', 'Export function call failed.', 'error');
            } else {
                pop_message('Message Box', 'Download Completed.');
                window.location = filename;
            }
        });
    }
    $(document).ready(function () {
        if ($("#tsrview").length == 0) {
            $("#tab-tsrview").hide();
        }
        $("#reportmonth").val(moment().format("MMMM YYYY"));
        loadData();
        if ($("#tsrview").length > 0) {
            loadData2();
        }

        $("#btn-submit").click(function () { loadData() });
        $("#btn-submit2").click(function () { loadData2() });
        $("#btn-export").click(exportData);
        $("#btn-export2").click(exportData2);
    });
</script>