﻿@model GT.InboundApplication.Model.CRM.Emotion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Emotion</h5>
                </div>
                <div class="ibox-content">
				    <dl class="dl-horizontal">
																				<dt>
									@Html.DisplayNameFor(model => model.Code)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.Code)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.Name)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.Name)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.Icon)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.Icon)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.Note)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.Note)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.Active)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.Active)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.CreatedBy)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.CreatedDate)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.CreatedDate)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.UpdatedBy)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.UpdatedDate)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.UpdatedDate)
								</dd>
											</dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.EmotionId }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













