﻿@model GT.CRMApplication.WebMVC5.Controllers.LeadOfflineEntryController.SearchResultProfileClass

@if (Model != null)
{
    <div class="ibox border-red">
        <div class="ibox-title">
            <h5>
                <i class="fa fa-user"></i> ข้อมูลลีด
            </h5>
        </div>
        <div class="ibox-content animated fadeInDown">
            <div class="form-horizontal">
                <table class"table table-stripped">
                    <thead>
                        <tr>
                            <th>รายละเอียดผู้ติดต่อ</th>
                            <th>ข้อมูล</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>เจ้าของลีด</td>
                            <td>@Model.Project</td>
                        </tr>
                        <tr>
                            <td>ชื่อ-นามสกุล</td>
                            <td>@Model.Salutation @Model.FirstName @Model.LastName</td>
                        </tr>
                        <tr>
                            <td>เบอร์โทรติดต่อ</td>
                            <td>@Model.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td>อีเมล์</td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td>อายุ</td>
                            <td>@Model.age</td>
                        </tr>
                        <tr>
                            <td>ช่องทางที่เข้ามาล่าสุด</td>
                            <td>@Model.last_callsource</td>
                        </tr>
                        <tr>
                            <td>ผลิตภัณฑ์ที่นำเสนอล่าสุด</td>
                            <td>@Model.OfferProduct</td>
                        </tr>
                        <tr>
                            <td>ผลการตอบรับล่าสุด</td>
                            <td>@Model.ResponseCategory</td>
                        </tr>
                        <tr>
                            <td>วันที่ติดต่อล่าสุด</td>
                            <td>@Model.last_contactdate</td>
                        </tr>
                        <tr>
                            <td>TSR ที่ดูแลอยู่</td>
                            <td>@Model.CurrentTSR</td>
                        </tr>
                    </tbody>
                </table>
                @Html.HiddenFor(model => model.FirstName, new { @id = "search-result-firstname" })
                @Html.HiddenFor(model => model.LastName, new { @id = "search-result-lastname"})
                @Html.HiddenFor(model => model.Email, new { @id = "search-result-email"})
            </div>
        </div>
    </div>
}


