﻿@using GT.InboundApplication.Model.Common;
@model IEnumerable<GT.CRMApplication.WebMVC5.Controllers.LeadOfflineEntryController.SearchOfflineLeadResultClass>
@if (Model != null)
{
    foreach (var entry in Model)
    {
        <tr>
            <td>@entry.FullName</td>
            <td>@entry.Age</td>
            <td>@entry.Tel</td>
            <td>@entry.Email</td>
            <td>@entry.CallBackTime</td>
            <td>@entry.ProductName</td>
            <td>@entry.AppName</td>
            <td>@entry.PageName</td>
            <td>@entry.Src</td>
            <td>@entry.CreatedBy</td>
            <td>@entry.LeadFlag</td>
            <td>@entry.LeadOwner</td>
            <td>@entry.RoutingMethod</td>
        </tr>
    }
}