﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;
@model GT.InboundApplication.Model.CRM.LeadProfile
@{
    ViewBag.Title = "New Call-In Lead Profile";
}
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด Offline</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการส่งลีด", "Index", "LeadOfflineEntry")
                </li>
                <li class="active">
                    <strong>สร้างลีดใหม่</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="newlead" class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox border-red">
                    <div class="ibox-title">
                        <h5>
                            <i class="fa fa-plus"></i> กรอกแบบฟอร์มลีด
                        </h5>
                    </div>
                    <div class="ibox-content animated fadeInDown">
                        <div class="form-horizontal">
                            <div id="search-box">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">สร้างลีดโปรไฟล์จาก:</label>
                                    <div class="col-sm-9">
                                        <div class="form-group form-inline">
                                            <div class="radio radio-inline radio-danger">
                                                @Html.RadioButton("CreateBy", "CellPhone", new { @id = "CreateBy_CellPhone", @checked = true })
                                                @Html.Label("เบอร์โทรศัพท์มือถือ", new { @for = "CreateBy_CellPhone" })
                                            </div>
                                            <div class="radio radio-inline radio-danger hidden">
                                                @Html.RadioButton("CreateBy", "Phone", new { @id = "CreateBy_Phone", @disabled = true })
                                                @Html.Label("เบอร์โทรศัพท์บ้าน", new { @for = "CreateBy_Phone" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="lightgray-bg col-sm-offset-1 col-sm-10 border-all">
                                        <div id="phone-div">
                                            <div class="form-group">
                                                <div class="col-sm-offset-3">
                                                    <font color="red"><h4>[โทรศัพท์บ้าน]</h4></font>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">โทรศัพท์บ้าน <font color="red">*</font></label>
                                                <div class="col-sm-3">
                                                    @Html.TextBoxFor(modelItem => modelItem.TelPhone2, new { @class = "form-control input-numeric", @data_mask = "099 999 999" })
                                                </div>
                                                <label class="col-sm-2 control-label">เบอร์ต่อ (ถ้ามี) </label>
                                                <div class="col-sm-3">
                                                    @Html.TextBoxFor(modelItem => modelItem.TelPhone2_Extension, new { @class = "form-control input-numeric" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="cellphone-div">
                                            <div class="form-group">
                                                <div class="col-sm-offset-3">
                                                    <font color="red"><h4>[โทรศัพท์มือถือ]</h4></font>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">โทรศัพท์มือถือ <font color="red">*</font></label>
                                                <div class="col-sm-3">
                                                    @Html.TextBoxFor(modelItem => modelItem.TelPhone, new { @class = "form-control input-numeric", @data_mask = "099 999 9999" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <button type="button" value="CreateProfile" id="btn-search" class="btn btn-primary">ค้นหาข้อมูลผู้ติดต่อ</button>
                                    </div>
                                </div>
                            </div>

                            <div id="pnl-basicinfo">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ชื่อ:</label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(modelItem => modelItem.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">นามสกุล:</label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(modelItem => modelItem.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Email Address: </label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(modelItem => modelItem.Email, new { @class = "form-control", @type = "email" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">ลีดต้นทาง:</label>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(modelItem => modelItem.CallSource, new { @id = "txt-callsource-name" })
                                    @Html.DropDownListFor(modelItem => modelItem.CallSourceCode, (IEnumerable<SelectListItem>)ViewBag.CallSources, "เลือก", new { @id = "ddl-callsource", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-sm-3 control-label">รายละเอียดลีดต้นทาง:</label>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(modelItem => modelItem.Note, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Product:</label>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(modelItem => modelItem.Product, new { @id = "txt-product-name" })
                                    @Html.DropDownListFor(modelItem => modelItem.ProductCode, (IEnumerable<SelectListItem>)ViewBag.OfferProduct, "เลือก", new { @id = "ddl-product", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-sm-3 control-label">Source of Lead:</label>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(modelItem => modelItem.LeadSource, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">หมายเหตุ:</label>
                                <div class="col-sm-6">
                                    @Html.TextAreaFor(modelItem => modelItem.Remark, new { @class = "form-control" })
                                </div>
                            </div>
                            <div id="consent-div" class="gray-bg border-all" v-if="need_consent">
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10">
                                        <br />
                                        <div class="form-group">
                                            <font color="#C21B17"><h5><u>Consent</u></h5></font>
                                            <p>
                                                ขอบคุณสำหรับข้อมูล(ค่ะ/ครับ)… (ดิฉัน/ผม) จะทำการแจ้งให้เจ้าหน้าที่ติดต่อกลับ เพื่อนำเสนอข้อมูลเพิ่มเติมเกี่ยวกับผลิตภัณฑ์และบริการ ตามเบอร์ที่ลูกค้าได้แจ้งมา (นะคะ/นะครับ)<br/>
                                                ทั้งนี้ หากโอกาสหน้าทาง เจนเนอราลี่ ประกันชีวิต และประกันภัย มีผลิตภัณฑ์ บริการ หรือข่าวสารใหม่ๆ ที่ท่านอาจสนใจ ขออนุญาตติดต่อท่านอีกครั้ง นะคะ ครับ/ค่ะ
                                                โดยทางบริษัทได้เก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของลูกค้าตามวัตถุประสงค์ดังกล่าว ท่านสามารถศึกษาเพิ่มเติมได้ที่ เว็บไซต์ เจนเนอราลี่ เมนู นโยบายข้อมูลส่วนบุคคล
                                            </p>
                                            <div class="form-inline" id="div-consent-flag">
                                                <div class="checkbox checkbox-inline checkbox-primary">
                                                    <input type="checkbox" id="consent_flag_yes" name="consent_flag" value="Y" v-model="consent_flag" />

                                                    @Html.Label("ยินยอม", new { @for = "consent_flag_yes" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.HiddenFor(modelItem => modelItem.LeadProfileId)
                                    @Html.HiddenFor(modelItem => modelItem.ProspectId)
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <button type="submit" value="CreateLeadProfile" id="btn_submit" v-bind:class="{'btn btn-primary':true ,disabled:need_consent && consent_flag!=true }"><i id="spinner" class="fa fa-spinner fa-pulse fa-fw hidden"></i>สร้างลีดโปรไฟล์</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="div-profile"></div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/onviews/Prospect/CreateProfile")
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">
        $(document).ready(function () {
            var newlead = new Vue({
                el: '#newlead',
                data: {
                    callsource: '',
                    consent_flag: false
                },
                computed: {
                    // a computed getter
                    need_consent: function () {
                        // `this` points to the vm instance
                        return this.callsource.startsWith("Call") || this.callsource.startsWith("ลูกค้าเก่า") || this.callsource.startsWith("CCC") || this.callsource.startsWith("Marketing") ;
                    }
                }
            });
        toastr.options = { "timeOut": "10000" };
        @{
            var notification = (GT.CRMApplication.WebMVC5.Controllers.LeadOfflineEntryController.LeadIntegrationOutputClass)TempData["result-lead-entry"];
            if (notification != null)
            {
                if(notification.IsSuccess == true)
                {
                    @Html.Raw(String.Format("toastr.success('ลีดถูกส่งไปยัง Project: {0} สถานะลีด: {1} วิธีการส่ง: {2}', 'บันทึกข้อมูลแล้ว');", @notification.LeadOwner, @notification.LeadFlag, @notification.RoutingMethod));
                }
                else
                {
                    @Html.Raw(String.Format("toastr.error('{0}', 'เกิดข้อผิดพลาด');", @notification.ErrorMessage));
                }
            }
        }
        bindevent_control();
        setdefaultscreen();
        function bindevent_control() {
            $("#btn_submit").click(function () { validateform(); return false; });
            $("#consent_flag_yes").click(function () {
                console.log('test');
                if ($("#consent_flag_yes").is(":checked")) {
                    $("#btn_submit").removeClass("disabled");
                } else {
                    $("#btn_submit").addClass("disabled");
                }
            })
            $("#ddl-salutation").change(function () {
                if ($("#ddl-salutation").val() != "") {
                    $("#txt-salutation-name").val($("#ddl-salutation>option:selected").html());
                } else {
                    $("#txt-salutation-name").val("");
                }
            });
            $("#ddl-callsource").change(function () {
                if ($("#ddl-callsource").val() != "") {
                    $("#txt-callsource-name").val($("#ddl-callsource>option:selected").html());
                    newlead.callsource = $("#ddl-callsource>option:selected").html();
                } else {
                    $("#txt-callsource-name").val("");
                    newlead.callsource = "";
                }
            });
            $("#ddl-product").change(function () {
                if ($("#ddl-product").val() != "") {
                    $("#txt-product-name").val($("#ddl-product>option:selected").html());
                } else {
                    $("#txt-product-name").val("");
                }
            });
            $("#CreateBy_Phone, #CreateBy_CellPhone").change(function () {
                if ($("#CreateBy_Phone").is(":checked")) {
                    $("#phone-div").slideToggle(150);
                    $("#email-div :input, #cellphone-div :input").val('');
                    $("#email-div, #cellphone-div").hide();
                }
                else if ($("#CreateBy_CellPhone").is(":checked")) {
                    $("#cellphone-div").slideToggle(150);
                    $("#phone-div :input, #email-div :input").val('');
                    $("#phone-div, #email-div").hide();
                }
                else {
                    $("#phone-div :input, #email-div :input").val('');
                    $("#phone-div, #email-div").hide();
                }
            });

            $("#btn-search").click(function () {
                var message = "";
                var createby = "";
                createby = $('#CreateBy_Phone').is(':checked') ? "phone"
                           : $('#CreateBy_CellPhone').is(':checked') ? "cellphone" : "";
                switch (createby) {
                    case "cellphone":
                        if ($("#TelPhone").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์มือถือ  </li>"; }
                        break;
                    case "phone":
                        if ($("#TelPhone2").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์บ้าน  </li>"; }
                        break;
                    default:
                        message += "<li> กรุณาเลือกข้อมูลสำหรับสร้างโปรไฟล์ </li>";
                        break;
                };
                if (message != "") {
                    pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul>' + message + '</ul>', 'warning');
                    return false;
                }
                var mobilephone_regex = /^0[689]/;
                if ($("#TelPhone").val().length > 0 && mobilephone_regex.test($("#TelPhone").val()) === false) {
                    pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul> - รูปแบบหมายเลขโทรศัพท์มือถือไม่ถูกต้อง</ul>', 'warning');
                    return false;
                }
                var homephone_regex = /^0[23457]/;
                if ($("#TelPhone2").val().length > 0 && homephone_regex.test($("#TelPhone2").val()) === false) {
                    pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul> - รูปแบบหมายเลขโทรศัพท์บ้านไม่ถูกต้อง</ul>', 'warning');
                    return false;
                }

                $.ajax({
                    url: "../LeadOfflineEntry/SearchLeadOwner",
                    data: { phoneNumber: $("#TelPhone").val() },
                    success: function (obj) {
                        if (obj.trim().length > 0) {
                            $("#div-profile").html(obj);
                            $('#FirstName').val($('#search-result-firstname').val());
                            $('#LastName').val($('#search-result-lastname').val());
                            $('#Email').val($('#search-result-email').val());
                            $("#pnl-basicinfo").hide();
                        } else {
                            $("#div-profile").html("");
                            $("#pnl-basicinfo").show();
                        }
                    }
                });

            });
        }

    });

    function setdefaultscreen() {
        $("#phone-div :input, #cellphone-div :input").val('');
        $("#phone-div").hide();
        $("#pnl-basicinfo").hide();
    }

    function validateform() {
        try {
            // validate input format.
            var message = "";
            var createby = "";
            if ($("#ProspectId").val().length > 0) {
                $("#btn_submit").attr("disabled", true);
                $('#main-div form').submit();
                return true;
            }
            createby = $('#CreateBy_Phone').is(':checked') ? "phone"
                       : $('#CreateBy_CellPhone').is(':checked') ? "cellphone" : "";
            if ($("#FirstName").val().length <= 0) {
                message += "<li> ชื่อ  </li>";
            }
            if (!$("#Email").valid()) {
                message += "<li> อีเมล์ไม่ถูกต้อง</li>"
            }
            @*@if (User.IsInRole("OL") || User.IsInRole("NL") || User.IsInRole("BOTH") )
        {
            @:if ($("#Note").val().length <= 0) { message += "<li> - รายละเอียดลีดต้นทาง  </li>"; }
        }*@
            switch (createby) {
                case "cellphone":
                    if ($("#TelPhone").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์มือถือ  </li>"; }
                    break;
                case "phone":
                    if ($("#TelPhone2").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์บ้าน  </li>"; }
                    break;
                default:
                    message += "<li> กรุณาเลือกข้อมูลสำหรับสร้างโปรไฟล์ </li>";
                    break;
            };
            if (!$("#Email").valid()) {
                message += "<li> อีเมล์ไม่ถูกต้อง</li>"
            }
            if (!$("#ddl-callsource").val()) {
                message += "<li> ลีดต้นทาง </li>"
            }
            if (!$("#ddl-product").val()) {
                message += "<li> Product </li>"
            }


            if (message != "") {
                pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul>' + message + '</ul>', 'warning');
                return false;
            }
            var mobilephone_regex = /^0[689]/;
            if ($("#TelPhone").val().length > 0 && mobilephone_regex.test($("#TelPhone").val()) === false) {
                pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul> - รูปแบบหมายเลขโทรศัพท์มือถือไม่ถูกต้อง</ul>', 'warning');
                return false;
            }
            $("#btn_submit").attr("disabled", true);
            $("#spinner").removeClass("hidden");
            $('#main-div form').submit();
        }
        catch (e) { console.log(e.stack); return false; }
    }

    function bindevent_control() {
        $("#btn_submit").click(function () { validateform(); return false; });
        $("#ddl-salutation").change(function () {
            if ($("#ddl-salutation").val() != "") {
                $("#txt-salutation-name").val($("#ddl-salutation>option:selected").html());
            } else {
                $("#txt-salutation-name").val("");
            }
        });
        $("#ddl-callsource").change(function () {
            if ($("#ddl-callsource").val() != "") {
                $("#txt-callsource-name").val($("#ddl-callsource>option:selected").html());
            } else {
                $("#txt-callsource-name").val("");
            }
        });
        $("#ddl-product").change(function () {
            if ($("#ddl-product").val() != "") {
                $("#txt-product-name").val($("#ddl-product>option:selected").html());
            } else {
                $("#txt-product-name").val("");
            }
        });
        $("#CreateBy_Phone, #CreateBy_CellPhone").change(function () {
            if ($("#CreateBy_Phone").is(":checked")) {
                $("#phone-div").slideToggle(150);
                $("#email-div :input, #cellphone-div :input").val('');
                $("#email-div, #cellphone-div").hide();
            }
            else if ($("#CreateBy_CellPhone").is(":checked")) {
                $("#cellphone-div").slideToggle(150);
                $("#phone-div :input, #email-div :input").val('');
                $("#phone-div, #email-div").hide();
            }
            else {
                $("#phone-div :input, #email-div :input").val('');
                $("#phone-div, #email-div").hide();
            }
        });

        $("#btn-search").click(function () {
            var message = "";
            var createby = "";
            createby = $('#CreateBy_Phone').is(':checked') ? "phone"
                       : $('#CreateBy_CellPhone').is(':checked') ? "cellphone" : "";
            switch (createby) {
                case "cellphone":
                    if ($("#TelPhone").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์มือถือ  </li>"; }
                    break;
                case "phone":
                    if ($("#TelPhone2").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์บ้าน  </li>"; }
                    break;
                default:
                    message += "<li> กรุณาเลือกข้อมูลสำหรับสร้างโปรไฟล์ </li>";
                    break;
            };
            if (message != "") {
                pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul>' + message + '</ul>', 'warning');
                return false;
            }
            var mobilephone_regex = /^0[689]/;
            if ($("#TelPhone").val().length > 0 && mobilephone_regex.test($("#TelPhone").val()) === false) {
                pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul> - รูปแบบหมายเลขโทรศัพท์มือถือไม่ถูกต้อง</ul>', 'warning');
                return false;
            }
            var homephone_regex = /^0[23457]/;
            if ($("#TelPhone2").val().length > 0 && homephone_regex.test($("#TelPhone2").val()) === false) {
                pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul> - รูปแบบหมายเลขโทรศัพท์บ้านไม่ถูกต้อง</ul>', 'warning');
                return false;
            }

            $.ajax({
                url: "../LeadOfflineEntry/SearchLeadOwner",
                data: { phoneNumber: $("#TelPhone").val() },
                success: function (obj) {
                    if (obj.trim().length > 0) {
                        $("#div-profile").html(obj);
                        $('#FirstName').val($('#search-result-firstname').val());
                        $('#LastName').val($('#search-result-lastname').val());
                        $('#Email').val($('#search-result-email').val());
                        $("#pnl-basicinfo").hide();
                    } else {
                        $("#div-profile").html("");
                        $('#FirstName').val('');
                        $('#LastName').val('');
                        $('#Email').val('');
                        $("#pnl-basicinfo").show();
                        $('#FirstName, #LastName, #Email').val('');
                    }
                }
            });

        });
    }

    </script>
}
