﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>รายการส่งลีด</h2>
        </div>
        <div class="col-md-2 text-right">
        </div>
        <div class="col-md-2" style="padding-top:10px;">
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>รายการส่งลีด</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox border-red">
        <div class="ibox-title white-bg">
            <h5>
                <i class="fa fa-search"></i>&nbsp; ค้นหาลีด
            </h5>
            <div class="ibox-tools">
                @Html.ActionLink("+ สร้างลีดใหม่", "CreateLead", null, new { @class = "btn btn-primary btn-xs" })
            </div>
        </div>
        <div class="ibox-content m-b-sm border-bottom">
            <form id="search-form" autocomplete="off">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="activitydate">วันที่ส่งลีด</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="createdate" name="createdate" type="text" value="@ViewBag.CurrentDate" class="form-control input-daterange input-daterange-with-clear">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="phonenumber">เบอร์โทรศัพท์</label>
                            <input type="text" id="phonenumber" name="phonenumber" value="" class="form-control input-numeric" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="name">ชื่อ-นามสกุล</label>
                            <input type="text" id="name" name="name" value="" class="form-control" placeholder="Name or Surname">
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class=" col-sm-3">
                    <button class="btn btn-primary" onclick='search()'><i class="fa fa-search"></i> Search <i id="spinner" class="fa fa-spinner fa-pulse fa-fw hidden"></i></button>
                    <button class="btn btn-default" onclick='clearform()'>Clear</button>
                </div>
                <div class="col-sm-3 col-sm-offset-6 text-right" style="vertical-align:text-bottom;">
                    <label class="control-label">ผลการค้นหาทั้งหมด จำนวน  <span id="resultcount">0</span> ผู้ติดต่อ</label>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <br />
                <div class="col-sm-12">
                    <table class="footable table table-stripped" data-page-size="25">
                        <thead>
                            <tr>
                                <td>ชื่อ-นามสกุล</td>
                                <td>อายุ</td>
                                <td>เบอร์โทรศัพท์</td>
                                <td>อีเมล์</td>
                                <td>เวลาโทรกลับ</td>
                                <td>Product</td>
                                <td>App Name</td>
                                <td>Page</td>
                                <td>Src</td>
                                <td>สร้้างโดย</td>
                                <td>สถานะลีด</td>
                                <td>ส่งไปยัง Project</td>
                                <td>วิธีการส่ง</td>
                            </tr>
                        </thead>
                        <tbody id="body">
                            <tr>
                                <td colspan="13" class="text-center">- No Data - </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="13">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/plugins/daterangepicker/css")
}

@section Scripts {
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/daterangepicker")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });

        function search()
        {
            var data = {
                FullName: $('#name').val(), PhoneNumber: $('#phonenumber').val(), dateRange: $('#createdate').val()
            }

            var serviceURL = '@Url.Content("~/LeadOfflineEntry/SearchOfflineLead")';
            var targetcontrol = $("#tableresult");
            var totalrecord = $("#resultcount");
            $("#spinner").removeClass("hidden");
            $.ajax({
                type: "POST",
                data: { criteria: JSON.stringify(data) },
                url: serviceURL,
                dataType: "html", beforesend: startloading, complete:stoploading,
                success: function (data) {
                    $("#spinner").addClass("hidden");
                    var item = "";
                    $("#body").html(item);
                    $("#body").html(data);
                    $("#resultcount").html($("#body tr").length);
                    $('.footable').trigger('footable_redraw');
                },
                error: function () { $("#spinner").addClass("hidden"); pop_message('Oops...', 'search function crashed! - MVC controller call failed.'); }
            });

        }

        function clearform()
        {
            $('#search-form :input').val('');
            return false;
        }


    </script>
}


