﻿@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>
@{
    GT.InboundApplication.Model.CRM.LeadProfile lead;
    if (Model != null)
    {
        var invalidcount = Model.Count(c => c.Status == false);
        <div class="alert alert-warning col-sm-6">
            จำนวนทั้งหมด <span class="badge badge-info">@Model.Count()</span> รายการ 
            @if (invalidcount > 0) { 
                @:ข้อมูลไม่ถูกต้อง <span class="badge badge-danger">@Model.Count(c=>c.Status==false)</span> รายการ
            }
        </div>
        <table id="tbl-leads" class="table table-striped table-bordered table-hover dataTables">
            <thead>
                <tr>
                    <th>TM Team</th>
                    <th>ชื่อ</th>
                    <th>เบอร์โทรศัพท์</th>
                    <th>เลขที่กรมธรรม์</th>
                    <th>Reply with in</th>
                    <th>หมายเหตุ</th>
                </tr>
            </thead>
            <tbody id="tbody-leads">
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        lead = Model.ElementAt(i);
                <tr class="@(lead.Status.Value?"":"danger")">
                    <td>@lead.TM</td>
                    <td>
                        @lead.FirstName
                    </td>
                    <td>
                        @lead.TelPhone
                    </td>
                    <td>@lead.PolicyNo</td>
                    <td>@Html.DisplayFor(m=>lead.ExpireDate)</td>
                    <td>@lead.Remark</td>
                </tr>
                    }
                }
            </tbody>
        </table>
    }
}
 
