﻿@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>
@{
    GT.InboundApplication.Model.CRM.LeadProfile lead;
    if (Model != null)
    {
        for (int i = 0; i < Model.Count(); i++)
        {
            lead = Model.ElementAt(i);
            
            <tr class="@(lead.Status.Value?"":"danger")">
                <td>
                @Html.Hidden("[" + i + "].LeadProfileId", lead.LeadProfileId)
                @Html.Hidden("[" + i + "].LeadSource",lead.LeadSource)
                @Html.TextBox("[" + i + "].FirstName", lead.FirstName, new { @class = "actascell", @readonly = true })
            </td>
            <td>@Html.TextBox("[" + i + "].LastName", lead.LastName, new { @class = "actascell", @readonly = true })</td>
            <td>
                @if (!String.IsNullOrEmpty(lead.TelPhone)) { 
                    @Html.TextBox("[" + i + "].TelPhone", lead.TelPhone, new { @class = "actascell", @data_mask = "099 999 9999", @readonly = true })
                } else { 
                    @Html.TextBox("[" + i + "].TelPhone2", lead.TelPhone2, new { @class = "actascell", @data_mask = "099 999 999", @readonly = true })
                }
            </td>
            <td>@Html.TextBox("[" + i + "].Email", lead.Email, new { @class = "actascell", @readonly = true })</td>
            <td>@Html.TextBox("[" + i + "].Remark", lead.Remark, new { @class = "actascell", @readonly = true })</td>
        </tr>
        }
    }
}
 
