﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;
@model GT.InboundApplication.Model.CRM.LeadProfile
@{
    ViewBag.Title = "จัดการลีด";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการลีด", "Index", "LeadAssignment")
                </li>
                <li class="active">
                    <strong>จัดการลีด</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox border-red">
                    <div class="ibox-title">
                        <h5>
                            <i class="fa fa-plus"></i> จัดการลีด
                        </h5>
                    </div>
                    <div class="ibox-content animated fadeInDown">
                        <h4>
                            @(Model.FirstName == "" ? "ไม่มีชื่อ" : string.Format("{0} {1} {2}", Model.Salutation, Model.FirstName, Model.LastName))                            
                        </h4>
                        <table class="footable table table-stripped table-hover">
                            <tr>
                                <td>เบอร์มือถือ : <b>@(Model.TelPhone.IsNullOrEmpty() ? "-" : Model.TelPhone)</b></td>
                            </tr>
                            <tr>
                                <td>เบอร์โทรศัพท์บ้าน : <b>@(Model.TelPhone2.IsNullOrEmpty() ? "-" : Model.TelPhone2)</b></td>
                            </tr>
                            <tr>
                                <td>อีเมล์ : <b>@(Model.Email.IsNullOrEmpty() ? "-" : Model.Email)</b></td>
                            </tr>
                            <tr>
                                <td>เพิ่มโดย : <b>@(String.IsNullOrEmpty(ViewBag.CreateByName) ? "-" : ViewBag.CreateByName)</b></td>
                            </tr>
                            <tr>
                                <td>
                                    @{List<GT.InboundApplication.Model.CRM.LeadAssignment> leadAssignments = Model.LeadAssignmentSet.ToList(); }
                                    ประวัติการมอบหมาย @leadAssignments.Count ครั้ง
                                    @if (leadAssignments.Count > 0)
                                    {
                                        <div class="ibox-tools">
                                            <a data-toggle="collapse" data-target="#div-assign-his">
                                                <i class="fa fa-chevron-down"></i>แสดงประวัติการมอบหมาย
                                            </a>
                                        </div>
                                        <div id="div-assign-his" class="collapse">
                                            <table class="table table-striped table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>วันที่มอบหมาย</th>
                                                        <th>ผู้รับมอบ</th>
                                                        <th>การสนทนาล่าสุด</th>
                                                        <th>ผลการสนทนา</th>
                                                        <th data-orderable="false">เหตุผล</th>
                                                        <th data-orderable="false">หมายเหตุ</th>
                                                        <th>Last Contact</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in leadAssignments.OrderBy(c => c.AssignDate))
                                                    {
                                                        <tr data-assignid="@item.LeadAssignmentId">
                                                            <td>@item.AssignDate</td>
                                                            <td>@item.ReceiverUserName</td>
                                                            <td>@item.Activity</td>
                                                            <td>@Html.DisplayFor(@m => @item.ResponseCategoryCode, "SalesResponse")</td>
                                                            <td>@item.ResponseReason</td>
                                                            <td>@item.Detail</td>
                                                            <td>
                                                                <i class='fa fa-clock-o'></i>
                                                                @item.CallDate
                                                            </td>
                                                            @if (User.IsSuperAdmin())
                                                            {
                                                                <td>@item.UnAssignDate</td>
                                                                <td>@item.LeadFlag</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a href="@Url.Action("DeleteAssignment", new { id = item.LeadAssignmentId })" title="Delete Assignment" class="btn btn-danger btn-xs"><i class="fa fa-fw fa-trash"></i></a>
                                                                        <a href="@Url.Action("ToggleAssignmentFlag", new { id = item.LeadAssignmentId })" title="Toggle Assignment Flag" class="btn btn-success btn-xs"><i class="fa fa-fw fa-toggle-on"></i></a>
                                                                        <a href="@Url.Action("MakeActiveAssignment", new { id = item.LeadAssignmentId })" title="Make Active Assignment" class="btn btn-info btn-xs"><i class="fa fa-fw fa-level-up"></i></a>
                                                                    </div>
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </table>
                        <div class="form-horizontal">                            
                            <div class="form-group">
                                <label class="control-label col-sm-3">ผู้รับมอบหมาย:</label>
                                <div class="col-sm-4">
                                    @Html.HiddenFor(model => model.RecentLeadAssignment.ReceiverUserName, new { @id = "txt-receiver-name" })
                                    @Html.DropDownListFor(modelItem => modelItem.RecentLeadAssignment.ReceiverUserId, (IEnumerable<SelectListItem>)ViewBag.ActiveUser, "เลือก", new { @id = "ddl-receiver", @class = "form-control", @style = "width:100%" })
                                    @*@Html.DropDownListFor(modelItem => modelItem.RecentLeadAssignment.ReceiverUserId, (IEnumerable<SelectListItem>)ViewBag.ActiveUser, "เลือก", new { @id = "ddl-receiver", @class = "form-control" })*@
                                </div>
                            </div>
                            @if (Model.Status == true && Model.LeadFlag != "D")
                            {
                                using (var db = new GT.InboundApplication.Model.CRM.IGTCRMContext())
                                {
                                    if (User.IsInRole("SUPERVISOR") && (Model.LeadAge > GT.CRMApplication.WebMVC5.Helpers.AppConfig.SupExpireDays || ViewBag.IsAdminLead == true))
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-3">
                                                <p class="text-warning">    ลีดอายุเกิน 60 วัน หรือลีดไม่สามารถแก้ไขโดย Supervisor</p>
                                            </div>
                                        </div>
                                    }
                                    else if (db.Prospect_ProfileSet.Any(c => c.ProspectId == Model.ProspectId && c.OptOut == "Y"))
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-8 col-sm-offset-3">
                                                <p class="text-warning">    ไม่ต้องการให้ติดต่ออีก</p>
                                            </div>
                                        </div>
                                    }
                                    else if (User.IsManager() || (User.IsAdmin() && (Model.LeadAge <= GT.CRMApplication.WebMVC5.Helpers.AppConfig.SupExpireDays && ViewBag.IsAdminLead == false)))
                                    {
                                        <div class="form-group">
                                            <div class="form-group">
                                                @Html.HiddenFor(modelItem => modelItem.LeadProfileId)
                                                <div class="col-sm-4 col-sm-offset-3">
                                                    @if (Model.LeadFlag == "N" && Model.LeadAssignmentSet.Any())
                                                    {
                                                        <div class="checkbox hidden">
                                                            <input type="checkbox" id="keepnew" name="keepnew" value="true">
                                                            <label for="keepnew">รักษาสถานะเป็นลีดใหม่</label>
                                                        </div>
                                                    }
                                                    <button type="submit" value="CreateProfile" id="btn_submit" class="btn btn-primary">บันทึก</button>
                                                    <a href="@Url.Action("Index","LeadAssignment")" class="btn btn-default">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                @Html.Action("ViewMainProfile", "Prospect", new { @id = @Model.ProspectId, @telephone = @Model.TelPhone, @telephone2 = @Model.TelPhone2, @tel2ex = @Model.TelPhone2_Extension })
            </div>
        </div>
    </div>
}
@section Styles {
    @Styles.Render("~/plugins/select2/css")
}
@section Scripts {
    @Scripts.Render("~/plugins/select2")
}
<script type="text/javascript">
    $().ready(function () {
        $("#btn_submit").click(function () { validateform(); return false; });
        $("#ddl-callsource").change(function () {
            if ($("#ddl-callsource").val() != "") {
                $("#txt-callsource-name").val($("#ddl-callsource>option:selected").html());
            } else {
                $("#txt-callsource-name").val("");
            }
        });
        $("#ddl-receiver").select2();
        $("#ddl-receiver").change(function () {
            if ($("#ddl-receiver").val() != "") {
                $("#txt-receiver-name").val($("#ddl-receiver>option:selected").html());
            } else {
                $("#txt-receiver-name").val("");
            }
        });
        $("#ddl-product").change(function () {
            if ($("#ddl-product").val() != "") {
                $("#txt-product-name").val($("#ddl-product>option:selected").html());
            } else {
                $("#txt-product-name").val("");
            }
        });
    });
    function validateform() {
        try {
            // validate input format.
            var message = "";
            var createby = "";
            if ($("#ddl-callsource").length > 0 && $("#ddl-callsource").val().length <= 0) {
                message += "<li> - ลีดต้นทาง  </li>";
            }

            if (message != "") {
                pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul>' + message + '</ul>', 'warning');
                return false;
            }
            $("#btn_submit").attr("disabled", true);
            $('#main-div form').submit();

            //return false;
        }
        catch (e) { console.log(e.stack); return false; }
    }
</script>
