﻿@using GT.InboundApplication.Model.Common;
@model GT.InboundApplication.Model.CRM.LeadProfile
@{
    ViewBag.Title = "New Lead Profile";
}
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการลีด", "Index", "LeadAssignment")
                </li>
                <li class="active">
                    <strong>เพิ่มลีด</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wrapper wrapper-content" id="newlead">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox border-red">
                    <div class="ibox-title">
                        <h5>
                            <i class="fa fa-plus"></i> เพิ่มลีดใหม่
                        </h5>
                    </div>
                    <div class="ibox-content animated fadeInDown">
                        <div class="form-horizontal">
                            <div id="search-box">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">สร้างลีดโปรไฟล์จาก:</label>
                                    <div class="col-sm-9">
                                        <div class="form-group form-inline">
                                            <div class="radio radio-inline radio-danger">
                                                @Html.RadioButton("CreateBy", "CellPhone", new { @id = "CreateBy_CellPhone", @checked = true })
                                                @Html.Label("เบอร์โทรศัพท์มือถือ", new { @for = "CreateBy_CellPhone" })
                                            </div>
                                            <div class="radio radio-inline radio-danger">
                                                @Html.RadioButton("CreateBy", "Phone", new { @id = "CreateBy_Phone" })
                                                @Html.Label("เบอร์โทรศัพท์บ้าน", new { @for = "CreateBy_Phone" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="lightgray-bg col-sm-offset-1 col-sm-10 border-all">
                                    <div id="phone-div">
                                        <div class="form-group">
                                            <div class="col-sm-offset-3">
                                                <font color="red"><h4>[โทรศัพท์บ้าน]</h4></font>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">โทรศัพท์บ้าน <font color="red">*</font></label>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(modelItem => modelItem.TelPhone2, new { @class = "form-control input-numeric", @data_mask = "099 999 999" })
                                            </div>
                                            <label class="col-sm-2 control-label">เบอร์ต่อ (ถ้ามี) </label>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(modelItem => modelItem.TelPhone2_Extension, new { @class = "form-control input-numeric" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cellphone-div">
                                        <div class="form-group">
                                            <div class="col-sm-offset-3">
                                                <font color="red"><h4>[โทรศัพท์มือถือ]</h4></font>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">โทรศัพท์มือถือ <font color="red">*</font></label>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(modelItem => modelItem.TelPhone, new { @class = "form-control input-numeric", @data_mask = "099 999 9999" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <button type="button" value="CreateProfile" id="btn-search" class="btn btn-primary">ค้นหาข้อมูลผู้ติดต่อ</button>
                                    </div>
                                </div>
                            </div>

                            <div id="pnl-basicinfo">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">คำนำหน้า</label>
                                    <div class="col-sm-4">
                                        @Html.HiddenFor(modelItem => modelItem.Salutation, new { @id = "txt-salutation-name" })
                                        @Html.DropDownListFor(modelItem => modelItem.SalutationCode, (IEnumerable<SelectListItem>)ViewBag.Salutation, "เลือก", new { @id = "ddl-salutation", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ชื่อ</label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(modelItem => modelItem.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">นามสกุล</label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(modelItem => modelItem.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">เพศ</label>
                                    <div class="col-sm-9">
                                        <div class="form-group form-inline">
                                            <div class="radio radio-inline radio-danger">
                                                @Html.RadioButtonFor(model => model.GenderCode, "M", new { @id = "GenderCode_M" })
                                                @Html.Label("ชาย", new { @for = "GenderCode_M" })
                                            </div>
                                            <div class="radio radio-inline radio-danger">
                                                @Html.RadioButtonFor(model => model.GenderCode, "F", new { @id = "GenderCode_F" })
                                                @Html.Label("หญิง", new { @for = "GenderCode_F" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Email Address </label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(modelItem => modelItem.Email, new { @class = "form-control", @type = "email" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">ลีดต้นทาง</label>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(modelItem => modelItem.CallSource, new { @id = "txt-callsource-name" })
                                    @Html.DropDownListFor(modelItem => modelItem.CallSourceCode, (IEnumerable<SelectListItem>)ViewBag.CallSources, "เลือก", new { @id = "ddl-callsource", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-sm-3 control-label">รายละเอียดลีดต้นทาง</label>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(modelItem => modelItem.Note, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Product</label>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(modelItem => modelItem.Product, new { @id = "txt-product-name" })
                                    @Html.DropDownListFor(modelItem => modelItem.ProductCode, (IEnumerable<SelectListItem>)ViewBag.OfferProduct, "เลือก", new { @id = "ddl-product", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group hidden">
                                <label class="col-sm-3 control-label">Source of Lead</label>
                                <div class="col-sm-6">
                                    @Html.HiddenFor(modelItem => modelItem.LeadSource, new { @class = "form-control" })
                                </div>
                            </div>
                            <fieldset class="refer-section" v-if="show_refer">
                                <legend>ข้อมูลผู้แนะนำ</legend>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">เบอร์ผู้แนะนำ<font color="red">*</font></label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(modelItem => modelItem.ReferPhoneNumber, new { @class = "form-control input-numeric", @data_mask = "099 999 9999" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ชื่อผู้แนะนำ<font color="red">*</font></label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(modelItem => modelItem.ReferName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ความสัมพันธ์ของผู้แนะนำ<font color="red">*</font></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(modelItem => modelItem.ReferRelation, new List<SelectListItem>() { 
                                            new SelectListItem(){Value="พ่อแม่",Text="พ่อแม่"},
                                            new SelectListItem(){Value="ลูก",Text="ลูก"},
                                            new SelectListItem(){Value="สามีภรรยา",Text="สามีภรรยา"},
                                            new SelectListItem(){Value="พี่น้อง",Text="พี่น้อง"},
                                            new SelectListItem(){Value="ญาติ",Text="ญาติ"},
                                            new SelectListItem(){Value="เพื่อน",Text="เพื่อน"},
                                            new SelectListItem(){Value="เพื่อนร่วมงาน",Text="เพื่อนร่วมงาน"},
                                            new SelectListItem(){Value="แฟน",Text="แฟน"},
                                            new SelectListItem(){Value="LGBT",Text="LGBT"},
                                   }, "เลือก", new { @id = "ddl-relation", @class = "form-control" })
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="cross-refer-section" v-if="show_cross_refer">
                                <legend>ข้อมูลผู้แนะนำ</legend>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ห้อง<font color="red">*</font></label>
                                    <div class="col-sm-6">
                                        @Html.DropDownList("Project", new List<SelectListItem>() {
                                            new SelectListItem(){Value="IGT",Text="IGT"},
                                            new SelectListItem(){Value="IG2",Text="IG2"},
                                            new SelectListItem(){Value="IGL",Text="IGL"},
                                        }, "เลือก", new { @id = "ddl-project", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ชื่อ TSR<font color="red">*</font></label>
                                    <div class="col-sm-6">
                                        <select id="ddl-tsr" name="ReferName" class="form-control">
                                            <option v-for="item in tsrs" v-bind:value="item.FullName" >{{item.FullName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">หมายเหตุ</label>
                                <div class="col-sm-6">
                                    @Html.TextAreaFor(modelItem => modelItem.Remark, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    @Html.HiddenFor(modelItem => modelItem.LeadProfileId)
                                    @Html.HiddenFor(modelItem => modelItem.ProspectId)
                                    @Html.HiddenFor(modelItem => modelItem.ReferProspectId)
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <button type="submit" value="CreateProfile" id="btn_submit" class="btn btn-primary">สร้างลีดโปรไฟล์</button>
                                        @if (User.IsAdmin())
                                        {
                                            <a href="@Url.Action("Index","LeadAssignment")" class="btn btn-default">Cancel</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("MyLead","LeadAssignment")" class="btn btn-default">Cancel</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="div-profile">

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/onviews/Prospect/CreateProfile")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var newlead;
        $(document).ready(function () {
            newlead = new Vue({
                el: '#newlead',
                data: {
                    callsource: '',
                    consent_flag: false,
                    tsrs: []
                },
                computed: {
                    show_refer: function () {
                        return this.callsource != 20153 && ($("#ddl-callsource>option:selected").html().startsWith("Refer") || $("#ddl-callsource>option:selected").html().startsWith("Friend"))
                    },
                    show_cross_refer: function () {
                        return this.callsource == 20153
                    }
                }
            });
            toastr.options = { "timeOut": "10000" };
        @{
                var result = (GT.InboundApplication.Model.CRM.LeadProfile)TempData["result-lead"];
                if (result != null)
                {
                    var leadflag = Html.DisplayFor(m=>result.LeadFlag).ToString().Trim();
                    var message = (result.LeadFlag != "D")?String.Format("<a href=\"AssignLead/{0}\"><u>เปิด</u></a>",result.LeadProfileId):result.SystemRemark;
                    @Html.Raw(String.Format("toastr.success('สถานะเป็น {0} {1}', 'บันทึกข้อมูลแล้ว');", @leadflag, @message));
                }
            }
        bindevent_control();
        setdefaultscreen();
    });

    function setdefaultscreen() {
        $("#phone-div :input, #cellphone-div :input").val('');
        $("#phone-div").hide();
        //$(".refer-section").hide();
        $("#pnl-basicinfo").hide();
    }

    function validateform() {
        try {
            // validate input format.
            var message = "";
            var createby = "";
            if ($("#ProspectId").val().length > 0) {
                $("#btn_submit").attr("disabled", true);
                $('#main-div form').submit();
                return true;
            }
            createby = $('#CreateBy_Phone').is(':checked') ? "phone"
                       : $('#CreateBy_CellPhone').is(':checked') ? "cellphone" : "";
            if ($("#FirstName").val().length <= 0) {
                message += "<li> - ชื่อ  </li>";
            }
            if (!$("#Email").valid()) {
                message += "<li> อีเมล์ไม่ถูกต้อง</li>"
            }
            @*@if (User.IsInRole("OL") || User.IsInRole("NL") || User.IsInRole("BOTH") )
            {
                @:if ($("#Note").val().length <= 0) { message += "<li> - รายละเอียดลีดต้นทาง  </li>"; }
            }*@
            switch (createby) {
                case "cellphone":
                    if ($("#TelPhone").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์มือถือ  </li>"; }
                    break;
                case "phone":
                    if ($("#TelPhone2").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์บ้าน  </li>"; }
                    break;
                default:
                    message += "<li> กรุณาเลือกข้อมูลสำหรับสร้างโปรไฟล์ </li>";
                    break;
            };
            if (!$("#Email").valid()) {
                message += "<li> อีเมล์ไม่ถูกต้อง</li>"
            }
            if (!$("#ddl-callsource").val()) {
                message += "<li> ลีดต้นทาง </li>"
            }
            if ($("#ddl-callsource>option:selected").html().startsWith("Refer") || $("#ddl-callsource>option:selected").html().startsWith("Friend")) {
                if ($("#ddl-callsource").val() == 20153) {
                    if (!$("#ddl-tsr").val()) {
                        message += "<li> ชื่อ TSR </li>"
                    }
                } else {
                    if ($("#ReferPhoneNumber").val().length <= 0) {
                        message += "<li> เบอร์ผู้แนะนำ </li>"
                    }
                    if ($("#ReferName").val().length <= 0) {
                        message += "<li> ชื่อผู้แนะนำ </li>"
                    }
                    if ($("#ddl-relation").val().length <= 0) {
                        message += "<li> ความสัมพันธ์ </li>"
                    }
                }                
            }

            if (message != "") {
                pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul>' + message + '</ul>', 'warning');
                return false;
            }
            var mobilephone_regex = /^0[689]/;
            if ($("#TelPhone").val().length > 0 && mobilephone_regex.test($("#TelPhone").val()) === false) {
                pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul> - รูปแบบหมายเลขโทรศัพท์มือถือไม่ถูกต้อง</ul>', 'warning');
                return false;
            }
            $("#btn_submit").attr("disabled", true);
            $('#main-div form').submit();
        }
        catch (e) { console.log(e.stack); return false; }
    }

        function bindevent_control() {
            $("#newlead").on("change", "#ReferPhoneNumber", function () {
                $.ajax({
                    url: "../Prospect/ViewMainProfile",
                    data: { telephone: $("#ReferPhoneNumber").val(), telephone2: "", tel2ex: "" },
                    success: function (obj) {
                        if (obj.trim().length > 0) {
                            var pro = $(obj).find("#link-profile");
                            $("#ReferProspectId").val(pro.data("profileid"));
                            $("#ReferName").val(pro.html().trim());
                        } else {
                            $("#ReferProspectId").val('');
                            $("#ReferName").val('');
                        }
                    }
                });
            });
            $("#btn_submit").click(function () { validateform(); return false; });
            $("#ddl-salutation").change(function () {
                if ($("#ddl-salutation").val() != "") {
                    $("#txt-salutation-name").val($("#ddl-salutation>option:selected").html());
                } else {
                    $("#txt-salutation-name").val("");
                }
            });
            $("#ddl-callsource").change(function () {                
                if ($("#ddl-callsource").val() != "") {
                    $("#txt-callsource-name").val($("#ddl-callsource>option:selected").html());
                } else {
                    $("#txt-callsource-name").val("");
                }
                newlead.callsource = $("#ddl-callsource").val();
            });
            $("#ddl-product").change(function () {
                if ($("#ddl-product").val() != "") {
                    $("#txt-product-name").val($("#ddl-product>option:selected").html());
                } else {
                    $("#txt-product-name").val("");
                }
            });
            $("#CreateBy_Phone, #CreateBy_CellPhone").change(function () {
                if ($("#CreateBy_Phone").is(":checked")) {
                    $("#phone-div").slideToggle(150);
                    $("#email-div :input, #cellphone-div :input").val('');
                    $("#email-div, #cellphone-div").hide();
                }
                else if ($("#CreateBy_CellPhone").is(":checked")) {
                    $("#cellphone-div").slideToggle(150);
                    $("#phone-div :input, #email-div :input").val('');
                    $("#phone-div, #email-div").hide();
                }
                else {
                    $("#phone-div :input, #email-div :input").val('');
                    $("#phone-div, #email-div").hide();
                }
            });
            $("#newlead").on("change","#ddl-project",function () {
                $.ajax({
                    url: "@Url.Action("GetTsrByProject")",
                    data: { project: $("#ddl-project").val() },
                    success: function (obj) {
                        newlead.tsrs = obj;
                    }
                });
            })
            $("#btn-search").click(function () {
                var message = "";
                var createby = "";
                createby = $('#CreateBy_Phone').is(':checked') ? "phone"
                           : $('#CreateBy_CellPhone').is(':checked') ? "cellphone" : "";
                switch (createby) {
                    case "cellphone":
                        if ($("#TelPhone").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์มือถือ  </li>"; }
                        break;
                    case "phone":
                        if ($("#TelPhone2").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์บ้าน  </li>"; }
                        break;
                    default:
                        message += "<li> กรุณาเลือกข้อมูลสำหรับสร้างโปรไฟล์ </li>";
                        break;
                };
                if (message != "") {
                    pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul>' + message + '</ul>', 'warning');
                    return false;
                }
                var mobilephone_regex = /^0[689]/;
                if ($("#TelPhone").val().length > 0 && mobilephone_regex.test($("#TelPhone").val()) === false) {
                    pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul> - รูปแบบหมายเลขโทรศัพท์มือถือไม่ถูกต้อง</ul>', 'warning');
                    return false;
                }
                var homephone_regex = /^0[23457]/;
                if ($("#TelPhone2").val().length > 0 && homephone_regex.test($("#TelPhone2").val()) === false) {
                    pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul> - รูปแบบหมายเลขโทรศัพท์บ้านไม่ถูกต้อง</ul>', 'warning');
                    return false;
                }

                $.ajax({
                    url: "../Prospect/ViewMainProfile",
                    data: { telephone: $("#TelPhone").val(), telephone2: $("#TelPhone2").val(), tel2ex: $("#TelPhone2_Extension").val() },
                    success: function (obj) {
                        if (obj.trim().length > 0) {
                            $("#div-profile").html(obj);
                            $("#ProspectId").val($("#link-profile").data("profileid"));
                            $("#search-box").hide();
                            $("#pnl-basicinfo").hide();
                        } else {
                            $("#pnl-basicinfo").show();
                        }
                    }
                });

            });
        }

    </script>
}