﻿@using GT.InboundApplication.Model.Common
@model GT.InboundApplication.Model.CRM.LeadProfile
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Delete</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("หน้าแรก", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("รายการลีด", "Index", "LeadAssignment")
            </li>
            <li class="active">
                <strong>ลบข้อมูลลีด</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("กลับ", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ข้อมูลลีด</h5>
                </div>
                <div class="ibox-content">
				<h4 class="text-danger">คุณต้องการลบข้อมูลรายการนี้ใช่หรือไม่?</h4>
				 <dl class="dl-horizontal">        
        <dt>
            ชื่อ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            นามสกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            เพศ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenderName)
        </dd>
        <dt>
            เบอร์โทรศัพท์มือถือ
        <dd>
            @Html.DisplayFor(model => model.TelPhone)
        </dd>
        <dt>
            เบอร์โทรศัพท์บ้าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelPhone2)
        </dd>
        <dt>
            วันที่เพิ่มข้อมูล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            ลีดต้นทาง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallSource)
        </dd>
        <dt>
            ผู้รับมอบหมาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecentLeadAssignment.ReceiverUserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})
        </div>
    }
    @if (User.IsSuperAdmin())
    {
        using (Html.BeginForm("DeleteClear","LeadAssignment"))
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="hidden" name="id" value="@Model.LeadProfileId" />
                <input type="submit" value="Delete Test Lead" title="Update Status=0 & LeadFlag=D & delete all assignments" class="btn btn-primary" />
            </div>
        }
    }
                </div>
            </div>
        </div>
    </div>
 </div>





