﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.CRMApplication.WebMVC5
@using GT.InboundApplication.Model.Common
@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>
@{
    ViewBag.Title = "Lead Profiles";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>แจกลีดให้ TSR</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="search-form" action="@Url.Content("~/LeadAssignment/DistributeLead")" method="post" autocomplete="off">
                        @Html.Hidden("responses")
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="product">Product</label>
                                    <select id="ddl-product" name="product" class="form-control">
                                        <option value="">ทั้งหมด</option>
                                        <option value="LIFE">LIFE</option>
                                        <option value="NL">NL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="createdate">วันที่นำเข้าลีด</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="createdate" name="createdate" type="text" value="@ViewBag.SearchData.createdate" class="form-control input-daterange input-daterange-with-clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="issuedate">วันที่ Issue</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="issuedate" name="issuedate" type="text" value="@ViewBag.SearchData.issuedate" class="form-control input-daterange input-daterange-with-clear" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="expiredate">Reply within date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="expiredate" name="expiredate" type="text" value="@ViewBag.SearchData.expiredate" class="form-control input-daterange input-daterange-with-clear" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="tsr">ผู้รับมอบหมายลีดเดิม</label>
                                    @Html.DropDownList("tsr", (IEnumerable<SelectListItem>)ViewBag.ActiveUser, new { @id = "ddl-tsr", @class = "form-control", @style = "width:100%", @multiple = "multiple" })
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="response">ผลการตอบรับ</label>
                                    @Html.DropDownList("response", (IEnumerable<SelectListItem>)ViewBag.ResponseList, new { @id = "ddl-response", @class = "form-control", @style = "width:100%", @multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-3">
                                <button class="btn btn-primary" type="button" onclick="search()"><i class="fa fa-search"></i> Search <i id="search-spinner" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                                <button class="btn btn-default" type="button" onclick='clearform()'>Clear</button>
                            </div>
                            @*<div class="col-sm-3 col-sm-offset-6 text-right" style="vertical-align:text-bottom;">
                                    <label class="control-label">ผลการค้นหาทั้งหมด จำนวน  <span id="resultcount">@Model.Count()</span> ลีด</label>
                                </div>*@
                        </div>
                    </form>
                </div>

            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <a class="collapse-link">
                        <h5>จำนวนลีดรอมอบหมายตามเงื่อนไขทั้งหมด จำนวน  <span id="resultcount"></span> ลีด</h5>
                        <div class="ibox-tools">
                            
                                <i class="fa fa-chevron-down"></i>

                        </div>
                    </a>
                </div>
                <div class="ibox-content" style="display:none">
                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Reply with in</th>
                                <th>วันที่นำเข้า</th>
                                <th>TM</th>
                                <th>ชื่อ</th>
                                <th>เบอร์โทรศัพท์</th>
                                <th>เลขที่กรมธรรม์</th>
                                <th>ผลการสนทนา</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductGroup)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpireDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @item.TelPhone
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PolicyNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecentLeadAssignment.ResponseCategoryCode)
                                </td>                                
                            </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    @{
                        var tsrlist = (List<GT.CRMApplication.WebMVC5.Controllers.LeadAssignmentController.DistributeLeadViewModel>)ViewBag.tsrViewModel;
                        var tsrindex = 0;
                    }
                    <form id="submit-form" method="post" action="@Url.Content("~/LeadAssignment/DoDistribute")">
                        <input type="hidden" id="c-createdate" name="criteria.createdate" value="@ViewBag.SearchData.createdate" />
                        <input type="hidden" id="c-expiredate" name="criteria.expiredate" value="@ViewBag.SearchData.expiredate" />
                        <input type="hidden" id="c-issuedate" name="criteria.issuedate" value="@ViewBag.SearchData.issuedate" />
                        <input type="hidden" id="c-tsr" name="criteria.tsr" value="@ViewBag.SearchData.tsr" />
                        <input type="hidden" id="c-product" name="criteria.product" value="@ViewBag.SearchData.product" />
                        <input type="hidden" id="c-response" name="criteria.response" value="@ViewBag.SearchData.response" />
                        <table class="table table-striped table-bordered table-condensed" style="width:100%">
                            <thead>
                                <tr>
                                    <th><div class="checkbox checkbox-info"><input type="checkbox" id="check-tsrall" checked /><label>TSR</label></div></th>
                                    <th>จำนวนลีดที่มี</th>
                                    <th>จำนวนลีด Follow up</th>
                                    <th>
                                        จำนวนลีดที่จะมอบหมาย
                                        <input type="number" id="distribute-num" class="input-numeric text-narrow" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tsr in tsrlist)
                                {
                                    <tr>
                                        <td>
                                            <div class="checkbox checkbox-info"><input type="checkbox" id="chk-tsr-@tsrindex" data-sup="@tsr.tsr.SUPERVISERID" name="[@tsrindex].isSelected" value="true" class="check-tsr" checked /><label for="chk-tsr-@tsrindex">@tsr.tsr.NAME</label></div>
                                            <input type="hidden" name="[@tsrindex].tsr.CODE" value="@tsr.tsr.CODE" />
                                            <input type="hidden" name="[@tsrindex].tsr.NAME" value="@tsr.tsr.NAME" />
                                            <input type="hidden" name="[@tsrindex].tsr.SUPERVISERID" value="@tsr.tsr.SUPERVISERID" />
                                        </td>
                                        <td id="txt-current-@tsr.tsr.CODE">@tsr.currentlead</td>
                                        <td id="txt-new-@tsr.tsr.CODE">@tsr.OpenLead</td>
                                        <td><input name="[@tsrindex].leadqty" value="@tsr.leadqty" class="input-numeric leadqty" /></td>
                                    </tr>
                                    tsrindex++;
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3" class="text-right">จำนวนลีดที่จะมอบหมาย</th>
                                    <th><span id="sum-leadqty"></span></th>
                                </tr>
                            </tfoot>
                        </table>
                        <button id="btn-submit-assign" class="btn btn-primary disabled" type="button">มอบหมาย <i id="submit-spinner" class="fa fa-spinner fa-pulse fa-fw hidden"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2/css")
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/multiple-select/css")
    <style type="text/css">
        .iffyTip {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100px;
        }

        td .checkbox {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .checkbox label::before, .checkbox label::after {
            margin-top: 3px;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/multiple-select")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var dt;
    $(document).ready(function () {

        $("#ddl-tsr").multipleSelect({ filter: true });
        //$("#ddl-response").select2().val(["", "1", "5"]).trigger("change");
        $("#ddl-response").multipleSelect().multipleSelect('setSelects', ["", "1", "5"]);//@Html.Raw((ViewBag.SearchData.responses == null) ? "[]" : String.Concat("[", String.Join(",", ViewBag.SearchData.responses), "]").Replace("[,", "['',").Replace("[]", "['']")));//.multipleSelect("checkAll");
        var arr = $("#ddl-response").multipleSelect("getSelects");
        //for (var i = 0, len = arr.length; i < len; i++) {
        //    $('#submit-form').append($("<input>").attr("name","criteria.responses").attr("type", "hidden").val(arr[i]));
        //}
        dt = $('.dataTables').DataTable({
            "autoWidth": false,
            "order": [[2, "desc"]],
            columns: [
                { data: 'ProductGroup' },
                { data: 'expire', "type": "date-euro" },
                { data: 'CreatedDate', "type": "date-euro" },
                { data: 'TM' },
                { data: 'fullname' },
                { data: 'telphone' },
                { data: 'PolicyNo' },
                { data: 'ResponseCategoryCode' },
            ],
            ajax: {
                method:'POST',
                url:'RetrieveAvailableLeads',
                data: function (d) {
                    d.createdate = $("#createdate").val()
                    d.issuedate = $("#issuedate").val()
                    d.expiredate = $("#expiredate").val()
                    d.tsr = $("#ddl-tsr").val()?$("#ddl-tsr").val().join():""
                    var response = $("#ddl-response")
                    d.response = (response.val() == null) ? null : "["+response.val().join()+"]"
                    d.product = $('#ddl-product').val() ? $('#ddl-product').val() : ""
                    console.log(d)
                    $("#c-createdate").val(d.createdate)
                    $("#c-expiredate").val(d.expiredate)
                    $("#c-issuedate").val(d.issuedate)
                    $("#c-tsr").val(d.tsr)
                    $("#c-response").val(d.response)
                    $('#c-product').val(d.product)
                },
                dataSrc:''
            },
        }).on('xhr.dt', function ( e, settings, json, xhr ) {
            $("#resultcount").html(json.length);
            $("#distribute-num").val(json.length);
            divideLead();
            $("#search-spinner").addClass("hidden");
            $("#btn-submit-assign").removeClass("disabled");
        });
        //$('#createdate').daterangepicker();
        $("#distribute-num").change(function(){
            if(Number($(this).val())>Number($("#resultcount").html())){
                $(this).val($("#resultcount").html());
                return;
            }
            divideLead();
        });
        $(".check-tsr").change(divideLead);
        $("#check-tsrall").change(function () {
            $(".check-tsr").prop("checked", this.checked);
            divideLead();
        });
        $(".leadqty").change(function () {
            var sum = 0;
            $(".leadqty:enabled").each(function () {
                sum += Number($(this).val());
            });
            $("#sum-leadqty").html(sum);
        });

        $("#btn-submit-assign").click(function () {
            var sum = 0;
            var leadamount = Number($("#distribute-num").val());
            $(".leadqty:enabled").each(function () {
                sum += Number($(this).val());
            });
            if (sum > leadamount) {
                swal({title:"จำนวนลีดที่ระบุเกินจำนวนลีดที่จะมอบหมาย กรุณาตรวจสอบ",icon:"warning"});
                return false;
            } else if (sum == 0) {
                swal({title:"กรุณาระบุจำนวนที่ต้องการมอบหมาย",icon:"warning"});
                return false;
            }

            $("#btn-submit-assign").addClass("disabled");
            $("#submit-spinner").removeClass("hidden");

            var form = $('#submit-form').ajaxSubmit();
            var xhr = form.data('jqxhr');

            xhr.done(function() {
                $("#submit-spinner").addClass("hidden");
                $("#btn-submit-assign").removeClass("disabled");
                swal({
                    title: 'Success!',
                    icon: 'success',
                    confirmButtonColor: '#C21B17'
                })
                $.ajax({url:"RetrieveTsrsLead"}).done(function(data){
                    for(var i = 0; i < data.length; i++) {
                        var tsr=data[i];
                        $("#txt-current-"+tsr.tsr.CODE).html(tsr.currentlead);
                        $("#txt-new-"+tsr.tsr.CODE).html(tsr.OpenLead);
                    }
                });
                search();
            });
        })
        
        $('#search-form').submit(function () {
            $("#responses").remove();
            var arr = $("#ddl-response").multipleSelect("getSelects");
            for (var i = 0, len = arr.length; i < len; i++) {
                $('#search-form').append($("<input>").attr("name","responses").attr("type", "hidden").val(arr[i]));
            }
        });
    });
    function divideLead(){
        var leadamount = parseInt($("#distribute-num").val());
        var tsrcount = $(".check-tsr:checked").length;
        $(".check-tsr").each(function (index, el) {
            if (el.checked) {
                var leadqty = Math.ceil(leadamount / tsrcount);
                $(el).parents("tr").find(".leadqty").val(leadqty).attr("disabled", false);
                leadamount -= leadqty;
                tsrcount--;
            } else {
                $(el).parents("tr").find(".leadqty").val(0).attr("disabled", true);
            }
        });
        if (leadamount != 0) {
            $("#sum-leadqty").html(0);
        } else {
            $("#sum-leadqty").html($("#distribute-num").val());
        }
    }

    function clearform() {
        $('#createdate,#expiredate,#issuedate,#ddl-product').val('');
        $("#ddl-tsr,#ddl-response").multipleSelect('uncheckAll');
        return false;
    }
    function search(){
        $("#search-spinner").removeClass("hidden");
        $("#btn-submit-assign").addClass("disabled");
        dt.ajax.reload();
    }
    
    </script>
}