﻿@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>
@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.CRMApplication.WebMVC5

@{
    ViewBag.Title = "ตรวจสอบรายการลีดซ้ำ";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>ตรวจสอบรายการลีดซ้ำ</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                @*<div class="ibox-title">
                        <h5>รายการลีด</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>*@
                <div class="ibox-content">
                    <form id="search-form" method="post">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="activitydate">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="searchdate" name="searchdate" type="text" value="@Request.Params["searchdate"]" class="form-control input-daterange">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                                @*<button class="btn btn-default" type="button" onclick='clearform()'>Clear</button>*@
                            </div>
                        </div>
                    </form>
                    <div class="hr-line-dashed"></div>
                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th>ชื่อ</th>
                                <th>เบอร์โทรศัพท์</th>
                                <th>วันที่เพิ่ม</th>
                                <th>วันที่แก้ไข</th>

                                <th>สายต้นทาง</th>
                                <th>Product</th>
                                <th>ผลการสนทนา</th>
                                @*<th data-orderable="false">หมายเหตุ</th>*@
                                <th>Last Contact</th>
                                <th>จำนวนที่ติดต่อ</th>
                                <th>หมายเหตุ</th>
                                @*<th data-orderable="false">จัดการข้อมูล</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @(String.IsNullOrEmpty(item.TelPhone) ? item.TelPhone2 : item.TelPhone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CallSource)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecentLeadAssignment.ResponseCategoryCode)
                                        </td>
                                        <td>
                                            <i class='fa fa-clock-o'></i>
                                            @Html.DisplayFor(modelItem => item.RecentLeadAssignment.CallDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecentLeadAssignment.CallCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SystemRemark)
                                        </td>
                                        @*<td>
                                                @Html.ActionLink("Manage", "AssignLead", new { id = item.LeadProfileId }, new { @class = "btn btn-primary btn-xs" })
                                                @Html.ActionLink("Delete", "Delete", new { id = item.LeadProfileId }, new { @class = "btn btn-white btn-xs" })
                                            </td>*@
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2/css")
    @Styles.Render("~/plugins/daterangepicker/css")
    <style type="text/css">
        .iffyTip {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100px;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/daterangepicker")
    <script type="text/javascript">
    $(document).ready(function () {
        @*@if (ViewBag.uploadresult != null)
        {
            @:pop_message("@Html.Raw(ViewBag.uploadresult)");
        }*@
        $('.dataTables').DataTable({
            dom: '<"html5buttons"B>lTfgitp',
            "columnDefs": [
                { "type": "date-euro", targets: 2 }
            ],
            "order": [[2, "desc"]],
            buttons: [
                'csv', 'excel', 'print'
            ]
        });
        //$("#ddl-tsr").select2();
        //$('#createdate').daterangepicker();
    });
    function clearform() {
        $('#search-form :input').val('');
        return false;
    }
    $(document).on('mouseenter', ".iffyTip", function () {
        var $this = $(this);
        if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
            $this.tooltip({
                title: $this.text(),
                placement: "bottom"
            });
            $this.tooltip('show');
        }
    });
    </script>
}