﻿@using Newtonsoft.Json.Linq;
@model IEnumerable<GT.InboundApplication.Model.CRM.LeadNotification>
@{
    var linkcrm = Request.CRMLink();
    var linksales = Request.SalesLink();
}
<div class="hidden" id="lead-noti-count">@(ViewBag.NotiCount > 0 ? ViewBag.NotiCount : "")</div>
@foreach (var item in Model)
{
    var background = (item.IsRead == true) ? "#EEE" : "#FFF";
    if (item.NotiType == "Rebooking")
    {
        background = "#ade2f7";
        JObject detail = JObject.Parse(item.JsonData);
        <li class="bg-info">
            <div class="media-body" style="padding-left:10px;">
                <a href="@linkcrm/LeadAssignment/OpenNotification?id=@item.CurrentLeadProfileId&notiid=@item.ItemId">
                    <i class="fa fa-fw fa-clock-o"></i><span style="color:black;font-size:85%">@item.Message()</span>
                </a>
                <br />
                <small class="text-muted"><i class="fa fa-fw fa-calendar"></i>@item.CreatedDate</small>
            </div>
        </li>
    }
    else if (item.NotiType == "GEBCard")
    {
        background = "#ade2f7";
        JObject detail = JObject.Parse(item.JsonData);
        <li class="bg-info">
            <div class="media-body" style="padding-left:10px;">
                <a href="@linksales/Application/Manager?appno=@detail["app_no"]">
                    <i class="fa fa-fw fa-file-image-o"></i><span style="color:black;font-size:85%">@item.Message()</span>
                </a>
                <br />
                <small class="text-muted"><i class="fa fa-fw fa-calendar"></i>@item.CreatedDate</small>
            </div>
        </li>
    }
    else
    {
        <li style="background-color:@background;">
            <div class="media-body" style="padding-left:10px;">
                <a href="@linkcrm/LeadAssignment/OpenNotification?id=@item.CurrentLeadProfileId&notiid=@item.ItemId">
                    <i class="fa fa-fw fa-user"></i><span style="color:black;font-size:85%">คุณ @item.FullName มีลีดเข้ามาใหม่<br />จากช่องทาง @item.CallSource</span>
                </a>
                <br />
                <small class="text-muted"><i class="fa fa-fw fa-calendar"></i>@item.CreatedDate</small>
            </div>
        </li>
    }
    <li class="divider"></li>
}
<li>
    <div class="text-center link-block col-sm-6"><a href="@linkcrm/LeadAssignment/LeadNotification"><strong>See All</strong></a></div>
    <div class="text-center link-block col-sm-6"><a href="@linkcrm/LeadAssignment/ReadAllNotification"><strong>Mark All as Read</strong></a></div>
</li>