﻿@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>
@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.CRMApplication.WebMVC5

@{
    ViewBag.Title = "Lead Profiles";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>รายการลีดโปรไฟล์</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>รายการลีด</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("อัพโหลดลีดโปรไฟล์", "UploadLead", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="search-form" method="post" autocomplete="off" action="@Url.Content("~/LeadAssignment/Search")">
                        @Html.Hidden("tag", Request["tag"])
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="product">Product</label>
                                    <select id="ddl-product" name="product" class="form-control">
                                        <option value="">ทั้งหมด</option>
                                        <option value="LIFE">LIFE</option>
                                        <option value="NL">NL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="phonenumber">เบอร์โทรศัพท์</label>
                                    <input type="text" id="phonenumber" name="phonenumber" value="@ViewBag.SearchData.phonenumber" class="form-control input-numeric" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="name">ชื่อ-นามสกุล</label>
                                    <input type="text" id="name" name="name" value="@ViewBag.SearchData.name" class="form-control" placeholder="Name or Surname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="activitydate">วันที่เพิ่มลีด</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="createdate" name="createdate" type="text" value="@ViewBag.SearchData.createdate" class="form-control input-daterange input-daterange-with-clear">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="response">ผลการตอบรับ</label>
                                    @Html.DropDownList("response", (IEnumerable<SelectListItem>)ViewBag.ResponseList, new { @id = "ddl-response", @class = "form-control", @multiple = "multiple" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="reason">เหตุผลการตอบรับ</label>
                                    @Html.DropDownList("reason", (IEnumerable<SelectListItem>)ViewBag.ReasonList, new { @id = "ddl-reason", @class = "form-control", @multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="issuedate">Issue date</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="issuedate" name="issuedate" type="text" value="@ViewBag.SearchData.issuedate" class="form-control input-daterange input-daterange-with-clear">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="expiredate">Reply within date</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="expiredate" name="expiredate" type="text" value="@ViewBag.SearchData.expiredate" class="form-control input-daterange input-daterange-with-clear">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="tsr">ผู้รับมอบหมายลีดเดิม</label>
                                    @Html.DropDownList("tsr", (IEnumerable<SelectListItem>)ViewBag.ActiveUser, new { @id = "ddl-tsr", @class = "form-control", @multiple = "multiple" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="tsr">ผู้รับมอบหมายปัจจุบัน</label>
                                    @Html.DropDownList("receiver", (IEnumerable<SelectListItem>)ViewBag.ActiveUser, new { @id = "ddl-receiver", @class = "form-control", @multiple = "multiple" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-sm-3">
                                <button class="btn btn-primary" type="button" onclick="search()"><i class="fa fa-search"></i> Search <i id="search-spinner" class="fa fa-spinner fa-pulse fa-fw"></i></button>
                                <button class="btn btn-default" type="button" onclick='clearform()'>Clear</button>
                            </div>
                            <div class="col-sm-3 col-sm-offset-6 text-right" style="vertical-align:text-bottom;">
                                <label class="control-label">ผลการค้นหาทั้งหมด จำนวน  <span id="resultcount"></span> ลีด</label>
                            </div>
                        </div>
                    </form>
                    <div class="hr-line-dashed"></div>
                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Reply within</th>
                                <th>วันที่นำเข้า</th>
                                <th>TM</th>
                                <th>ชื่อ</th>
                                <th>เบอร์โทรศัพท์</th>
                                <th>เลขกรมธรรม์</th>
                                <th>ผลการตอบรับ</th>
                                <th data-orderable="false">เหตุผลการตอบรับ</th>
                                <th>Last Contact</th>
                                <th>จำนวนที่ติดต่อ</th>
                                <th>ผู้รับมอบหมาย</th>
                                <th data-orderable="false">จัดการข้อมูล</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2/css")
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/multiple-select/css")
    <style type="text/css">
        .iffyTip {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100px;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/multiple-select")
    <script type="text/javascript">
        var dt;
    $(document).ready(function () {
        @if (ViewBag.uploadresult != null)
        {
            @:pop_message("@Html.Raw(ViewBag.uploadresult)");
                                                    }

        $("#ddl-tsr,#ddl-receiver").multipleSelect({ filter: true });
        $("#ddl-response,#ddl-reason").multipleSelect().multipleSelect("checkAll");
        

        dt = $('.dataTables').DataTable({
            stateSave: true,
            "pageLength": 25,
            autoWidth:true,
            columns: [
                { data: 'ProductGroup' ,width:'55px'},
                { data: 'ExpireDate', "type": "date-euro", "order": "desc", width: '75px'},
                { data: 'CreatedDate', "type": "date-euro", "order": "desc", width: '75px'},
                { data: 'TM' },
                { data: 'fullname' },
                { data: 'telphone' },
                { data: 'policyno' },
                { data: 'ResponseCategoryCode', "render": salecatrender, width: '75px' },
                { data: 'ResponseReason'},                
                { data: 'CallDate' },
                { data: 'CallCount', width: '80px' },
                { data: 'ReceiverUserName' },
                {
                    data: 'LeadProfileId', "render": function (data, type, row, meta) {
                        return '<div class="btn-group">'
                            + '<a href="@Url.Action("OpenFromLead","Prospect")/' + row.LeadProfileId + '" class="btn btn-primary btn-xs">View</a>'
                        + '<a href="@Url.Action("Delete")/' + row.LeadProfileId + '" class="btn btn-warning btn-xs"><i class="fa fa-trash"></i></a>'
                        + '</div> ';
                }},
            ],
            "order": [[2, "desc"]],
            ajax: {
                url: '@Url.Action("RetrieveLeads")',
                data: function (d) {
                    d.product = $("#ddl-product").val();
                    d.phonenumber = $("#phonenumber").val();
                    d.name = $("#name").val();
                    d.createdate = $("#createdate").val();
                    d.expiredate = $("#expiredate").val();
                    d.issuedate = $("#issuedate").val();
                    d.tsr = $("#ddl-tsr").val() ? $("#ddl-tsr").val().join() : ""
                    d.receiver = $("#ddl-receiver").val() ? $("#ddl-receiver").val().join() : ""
                    var response = $("#ddl-response")
                    d.response = (response.val() == null) ? null : "[" + response.val().join() + "]"
                    var reason = $("#ddl-reason")
                    d.reason = (reason.val() == null) ? null : "[" + reason.val().join() + "]"
                    d.tag = $("#tag").val();
                    console.log(d)
                    $("#tag").val("");
                },
                dataSrc:''
            },
        }).on('xhr.dt', function (e, settings, json, xhr) {
            $("#resultcount").html(json.length);
            $("#search-spinner").addClass("hidden");
        });;
    });
        function search() {
            $("#search-spinner").removeClass("hidden");
            dt.ajax.reload();
        }
    function clearform() {
        $('#phonenumber,#name,#createdate,#expiredate').val('');
        $("#ddl-response").multipleSelect().multipleSelect("checkAll");
        $("#ddl-tsr,#ddl-receiver").multipleSelect('uncheckAll');
        return false;
    }
    $(document).on('mouseenter', ".iffyTip", function () {
        var $this = $(this);
        if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
            $this.tooltip({
                title: $this.text(),
                placement: "bottom"
            });
            $this.tooltip('show');
        }
    });
    </script>
}