﻿@using Microsoft.AspNet.Identity;
@using GT.InboundApplication.Model.Common
@using Newtonsoft.Json.Linq;
@model IEnumerable<GT.InboundApplication.Model.CRM.LeadNotification>

@{
    ViewBag.Title = "Notification";
    var linksales = Request.SalesLink();
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>การแจ้งเตือน</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>รายการแจ้งเตือนลีดเข้ามาใหม่ </strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="col-lg-12">
        <div class="ibox border-red">
            <div class="ibox-title white-bg">
                <h5>
                    รายการแจ้งเตือนลีด
                </h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="ibox-content">
                <form id="search-form" method="post">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="activitydate">วันที่</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="searchdate" name="searchdate" type="text" value="@Request.Params["searchdate"]" class="form-control input-daterange">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-3">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </form>
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                        <tr>
                            <th>รายการ</th>
                            <th>วันที่</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="body">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var background = (item.IsRead == true) ? "#EEE" : "#FFF";
                                <tr style="background-color:@background;">
                                    <td>@item.Message()</td>
                                    <td>@item.CreatedDate</td>
                                    <td>
                                        @if (item.NotiType == "GEBCard")
                                        {
                                            JObject detail = JObject.Parse(item.JsonData);
                                            <a href="@linksales/Application/Manager?appno=@detail["app_no"]" class="btn btn-primary btn-xs">Manage</a>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Manage", "OpenNotification", new { id = item.CurrentLeadProfileId, notiId = item.ItemId }, new { @class = "btn btn-primary btn-xs" })
                                        }
                                        <button onclick="delete_noti(@item.ItemId)" class="btn btn-primary btn-xs">Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/plugins/daterangepicker/css")
}

@section Scripts {
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/daterangepicker")

    <script type="text/javascript">
        function delete_noti(id) {
            swal({
                title: "ยืนยัน?",
                text: "คุณต้องการลบรายการแจ้งเตือน?",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "ปิด",
                        value: null,
                        visible: true,
                    },
                    confirm: {
                        text: "ลบ",
                        value: true,
                        visible: true,
                        closeModal: true
                    },
                }
            }).then(function (val) {
                if (val) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteNotification")/',
                        data: { notiId: id },
                        success: function (retVal) {
                            if (retVal == 1) {
                                swal('Message Box', 'ลบรายการแล้ว', "success");
                                $("#search-form").submit();
                            }
                            else {
                                swal('Message Box', 'เกิดข้อผิดพลาดกรุณาแจ้งผู้ดูแลระบบ', 'warning');
                            }
                        },
                        error: function () {
                            swal('Message Box', 'เกิดข้อผิดพลาดกรุณาแจ้งผู้ดูแลระบบ', 'warning');
                        }
                    });

                }
            });
        }
        @*$(document).ready(function () {
            bindallappointment('@User.Identity.GetUserId()');
            $('.footable').footable();
        });

        function bindallappointment(userid)
        {
            var serviceURL = '@Url.Content("~/Prospect/GetAllAppointment")/' + userid;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json;",
                dataType: "json", beforesend: startloading, complete:stoploading,
                success: function (data) {
                    var item = "";
                    $("#body").html(item);
                    var i = 1;
                    data.forEach(function (entry) {
                        item += "<tr>"
                                + "<td>" + (i++) + "</td>"
                                + "<td>" + entry.name + "</td>"
                                + "<td>" + entry.appointmentdate + "</td>"
                                + "<td>" + entry.replydate + "</td>"
                                + "<td>" + entry.delay + "</td>"
                                + "<td>" + entry.topic + "</td>"
                                + "<td>" + entry.lastactivity + "</td>"
                                + "<td>" + (entry.replydate == "Waiting for Reply..." ? "<a href='" + '@Url.Content("~/Prospect/CreateFollowupActivity")' + "?id=" + entry.prospectid + "&appointmentcode=" + entry.appointmentid + "' class='btn btn-primary btn-xs'>Follow Up</button>" : "Followed") + "</td>"
                                + "</tr>";
                    });
                    $("#body").html(item);
                },
                error: function () { pop_message('Oops...', 'search function crashed! - MVC controller call failed.'); }
            });
        }*@
    </script>
}
