﻿@using GT.InboundApplication.Model.Common
@using GT.InboundApplication.Model.CRM
@using GT.CRMApplication.Helpers
@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>

@{
    ViewBag.Title = "รายการลีด";
    var enableHotLead = (bool?)ViewBag.EnableHotLead;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>MyLead</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("หน้าแรก", "Index", "Home")
            </li>
            <li class="active">
                <strong>My Lead</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="search-form" method="post">
                        <input type="hidden" id="tag" name="tag" />
                        @if (User.IsAdmin())
                        {
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label" for="callsource">TSR</label>
                                        @Html.DropDownList("tsr", (IEnumerable<SelectListItem>)ViewBag.ActiveUser, new { @id = "ddl-tsr", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        }
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="product">Product</label>
                                <select id="ddl-product" name="product" class="form-control">
                                    <option value="">ทั้งหมด</option>
                                    <option value="LIFE">LIFE</option>
                                    <option value="NL">NL</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="activitydate">วันที่นำเข้า</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="createdate" name="createdate" type="text" value="@Request.Params["createdate"]" class="form-control input-daterange input-daterange-with-clear">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="issuedate">Issue date</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="issuedate" name="issuedate" type="text" value="@Request.Params["issuedate"]" class="form-control input-daterange input-daterange-with-clear">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="expiredate">Reply within date</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="expiredate" name="expiredate" type="text" value="@Request.Params["expiredate"]" class="form-control input-daterange input-daterange-with-clear">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="response">ผลการตอบรับ</label>
                                @Html.DropDownList("response", (IEnumerable<SelectListItem>)ViewBag.ResponseList, new { @id = "ddl-response", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="callcount">จำนวนที่ติดต่อ</label>
                                @Html.DropDownList("callcount", (IEnumerable<SelectListItem>)ViewBag.CallCount, "ทั้งหมด", new { @id = "ddl-callcount", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class=" col-sm-3">
                                @*<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>*@
                                <button class="btn btn-primary" type="button" onclick="Search()"><i class="fa fa-search"></i> Search <i id="spinner" class="fa fa-spinner fa-pulse fa-fw hidden"></i></button>
                                <button class="btn btn-default" type="button" onclick='clearform()'>Clear</button>
                            </div>
                            <div class="col-sm-3 col-sm-offset-6 text-right" style="vertical-align:text-bottom;">
                                <label class="control-label">ผลการค้นหาทั้งหมด จำนวน  <span id="resultcount">@*@Model.Count()*@</span> ลีด</label>
                            </div>
                        </div>
                    </form>                                        
                    <table id="tbl-mylead" class="table table-striped table-bordered table-condensed dataTables" style="width:100%">
                        <thead>
                            <tr>
                                <th rowspan="2" data-orderable="false"></th>
                                <th rowspan="2">Product</th>
                                <th rowspan="2">วันที่นำเข้า</th>
                                <th rowspan="2">Issue date</th>
                                <th rowspan="2">Reply within date</th>
                                <th rowspan="2"><i class="fa fa-fw fa-clock-o" title="count down"></i></th>
                                <th rowspan="2">TM</th>
                                <th rowspan="2">ชื่อ</th>
                                <th rowspan="2">เลขกรมธรรม์</th>
                                <th rowspan="2">ผลการตอบรับ</th>
                                <th rowspan="2" data-orderable="false">เหตุผล</th>
                                <th rowspan="2" data-orderable="false">หมายเหตุ</th>
                                <th rowspan="2">Last Contact</th>
                                <th rowspan="2">นัดหมาย</th>
                                <th colspan="2">จำนวนที่ติดต่อ</th>
                                <th rowspan="2" data-orderable="false"></th>
                            </tr>
                            <tr>
                                <th>วันนี้</th>
                                <th style="border-right-width:1px">ทั้งหมด</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/multiple-select/css")
    <style type="text/css">
        .iffyTip {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 200px;
        }
        .tooltip {
            white-space: pre-line;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/multiple-select")
<script type="text/javascript">
        var dt;
        var date1 = moment().format('DD/MM/YYYY - DD/MM/YYYY');
        var date7 = moment().subtract(7, 'days').format('DD/MM/YYYY - ') + moment().format('DD/MM/YYYY');
        @if (Request.QueryString["tag"] == "newlead")
        {
            @:localStorage.setObject("mylead-criteria", { tag: "newlead",  response: [''], callcount: "", product: ""});
            @:Object.keys(localStorage).filter(f => f.indexOf("tbl-mylead") > 0).forEach(k => localStorage.removeItem(k));
        }
        else if (Request.QueryString["tag"] == "expire")
        {
            @:localStorage.setObject("mylead-criteria", { tag: "expire", expiredate: date1, response: ['','1'], callcount: "", product: "" });
            @:Object.keys(localStorage).filter(f => f.indexOf("tbl-mylead") > 0).forEach(k => localStorage.removeItem(k));
        }
        var criteria = localStorage.getObject("mylead-criteria");
        $().ready(function () {
            if (criteria) {
                $("#assigndate").val(criteria.assigndate);
                $("#issuedate").val(criteria.issuedate);
                $("#expiredate").val(criteria.expiredate);
                $("#ddl-callcount").val(criteria.callcount);
                $("#ddl-product").val(criteria.product);
                $("#ddl-response").multipleSelect().multipleSelect('setSelects', criteria.response);
                $("#tag").val(criteria.tag);
            } else {
                $("#ddl-response").multipleSelect().multipleSelect("checkAll");
            }


            dt = $('#tbl-mylead').DataTable({
                stateSave: true,
                "stateSaveParams": function (settings, data) {
                    data.columns = [];
                },
                "pageLength": 25,
                columns: [
                    {
                        data: 'LeadProfileId', "render": function (data, type, row, meta) {
                            return '<input type="checkbox" class="chk-downloaded" data-leadid="'+data+'" '+(row.IsDownloaded?"checked":"")+'></input> '
                            ;
                        }
                    },
                    { data: 'Product' },
                    { data: 'CreatedDate', "type": "date-euro" },
                    { data: 'IssueDate', "type": "date-euro" },
                    { data: 'ExpireDate', "type": "date-euro" },
                    { data: 'Countdown', className: 'text-right' },
                    { data: 'TM' },
                    {
                        data: 'Name', "render": function (data, type, row, meta) {
                            return row.Name;
                        }
                    },
                    { data: 'PolicyNo' },
                    { data: 'ResponseCategoryCode' },
                    { data: 'ResponseReason' },
                    { data: 'Remark' },
                    { data: 'CallDate', "type": "date-euro" },
                    {
                        data: 'Appointment', "render": function (data, type, row, meta) {
                                return row.Appointment + ' ' + row.AppointmentTime;
                            }
                        },
                    { data: 'TodayCall', className: 'text-right' },
                    { data: 'CallCount', className: 'text-right' },
                    {
                        data: 'LeadProfileId', "render": function (data, type, row, meta) {
                            return '<div class="btn-group">'
                                + '<a href="@Url.Action("OpenFromLead", "Prospect")/' + data + '?callfrom=@CRMExtension.CallFrom.MyLead" class="btn btn-group btn-primary btn-xs" title="ข้อมูลผู้ติดต่อ"><i class="fa fa-user"></i></a>'
                                + '<a href="@Url.Action("OpenFromLead", "Prospect")/' + data + '?nextaction=CreateActivity&callfrom=@CRMExtension.CallFrom.MyLead" class="btn btn-group btn-primary btn-xs" title="บันทึกสาย"><i class="fa fa-phone"></i></a>'
                                + '</div> '
                            ;
                        }
                    }
                ],
                "ajax":{
                    "url": "@Url.Action("GetMyLead")",
                    "data": function (d) {
                        localStorage.setObject("mylead-criteria", { response: $("#ddl-response").multipleSelect("getSelects"), callcount: $("#ddl-callcount").val(), product: $("#ddl-product").val(), createdate: $("#createdate").val(), issuedate: $("#issuedate").val(), expiredate: $("#expiredate").val() });
                        d.response = $("#ddl-response").multipleSelect("getSelects").join();
                        d.callcount = $("#ddl-callcount").val();
                        d.product = $("#ddl-product").val();
                        d.tag = $("#tag").val();
                        d.createdate = $("#createdate").val();
                        d.issuedate = $("#issuedate").val();
                        d.expiredate = $("#expiredate").val();
                        d.tsr = $("#ddl-tsr").val();
                    },
                    "dataSrc":""
                }
            });
            $('.dataTables').on('order.dt', function () {
                var c = localStorage.getObject("mylead-criteria");
                if (c) {
                    c.order = dt.order();
                    localStorage.setObject("mylead-criteria", c);
                }
            }).on('xhr.dt', function (e, settings, json, xhr) {
                $("#spinner").addClass("hidden");
                $("#resultcount").html(json.length);
            });

            if (criteria && criteria.order) {
                dt.order(criteria.order).draw();
            } else {
                dt.order([3, "asc"]).draw();
            }
            $("#ddl-tsr").change(function () {
                Search();
            });

            $("#tbl-mylead").on("click", ".chk-downloaded", function () {
                $(this).is(":checked")
                $.ajax({
                    method:"POST",
                    url: "@Url.Action("FlagDownload")",
                    data: { leadid: $(this).data("leadid"), downloaded: $(this).is(":checked")}
                });
            });
        });

        function Search() {
            $("#tag").val('');
            $("#spinner").removeClass("hidden");
            dt.ajax.reload();
        }
        function clearform() {
            $('#search-form :input[type=text]').val('');
            $("#ddl-response").multipleSelect("checkAll")
            $("#ddl-callcount").val('')
            $("#ddl-product").val('')
            $("#assigndate,#issuedate,#expiredate").val('')
            dt.search('').draw();
            return false;
        }

</script>
}
<script type="text/javascript">
    function ShowSuccessScript(indexurl) {
        pop_message('ข้อความ', 'ระบบได้ทำการบันทึกข้อมูลเรียบร้อยแล้ว');
    }
    function ShowNoAssign() {
        pop_message('ข้อความ', 'ไม่พบข้อมูลการมอบหมายลีด หรือข้อมูลไม่ถูกต้อง กรุณาเลือกข้อมูลใหม่');
    }
        @Html.Raw(ViewBag.RunScript)
    $(document).on('mouseenter', ".iffyTip", function () {
        var $this = $(this);
        if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
            $this.tooltip({
                title: $this.text(),
                placement: "bottom"
            });
            $this.tooltip('show');
        }
    });
    $(document).on('mouseenter', ".instant-tooltip", function () {
        var $this = $(this);
        console.log('test');
        if (!$this.attr('title')) {
            $this.tooltip('show');
            
        }
    });
</script>
