﻿@using GT.InboundApplication.Model.Common
@using System.Configuration
@model GT.CRMApplication.WebMVC5.ViewModels.NewLeadAmountViewModel
@{
    var linkcrm = Request.CRMLink();
    if (User.IsAdmin())
    {
    <div class="pull-left">
        จำนวนลีดเข้าใหม่รอมอบหมาย <a href="@linkcrm/LeadAssignment?tag=newlead" class="badge @(Model.NewLead == 0?"badge-success":"badge-primary")">@Model.NewLead</a>
        @if (Model.NewLead > 0)
        {
            <a href="@linkcrm/LeadAssignment?tag=newlead" class="btn btn-xs btn-primary">แสดง</a>
        }
        <br />
        จำนวนลีดหมดอายุวันนี้ <a href="@linkcrm/LeadAssignment?tag=expire" class="badge @(Model.ExpireLead == 0 ? "badge-success" : "badge-primary")">@Model.ExpireLead</a>
        @if (Model.ExpireLead > 0)
        {
            <a href="@linkcrm/LeadAssignment?tag=expire" class="btn btn-xs btn-primary">แสดง</a>
        }
    </div>
    }
    else
    {
    <div class="pull-left">
        จำนวนลีดเข้าใหม่ที่ยังไม่ได้ติดต่อ <a href="@linkcrm/LeadAssignment/MyLead?tag=newlead" class="badge @(Model.NewLead == 0?"badge-success":"badge-primary")">@Model.NewLead</a>
        @if (Model.NewLead > 0)
        {
            <a href="@linkcrm/LeadAssignment/MyLead?tag=newlead" class="btn btn-xs btn-primary">แสดง</a>
        }
        <br />
        จำนวนลีดหมดอายุวันนี้ที่ยัง Follow up <a href="@linkcrm/LeadAssignment/MyLead?tag=expire" class="badge @(Model.ExpireLead == 0 ? "badge-success" : "badge-primary")">@Model.ExpireLead</a>
        @if (Model.ExpireLead > 0)
        {
            <a href="@linkcrm/LeadAssignment/MyLead?tag=expire" class="btn btn-xs btn-primary">แสดง</a>
        }
    </div>
    }
}
