﻿@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>
@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common

@{
    ViewBag.Title = "Lead Profiles";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>เรียกคืน</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>รายการลีด</h5>
                </div>
                <div class="ibox-content">
                    <form id="search-form" method="post">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="product">Product</label>
                                    <select id="ddl-product" name="product" class="form-control">
                                        <option value="">ทั้งหมด</option>
                                        <option value="LIFE">LIFE</option>
                                        <option value="NL">NL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="response">ผลการตอบรับ</label>
                                    @Html.DropDownList("ddl-response", (IEnumerable<SelectListItem>)ViewBag.ResponseList, new { @id = "ddl-response", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="callcount">จำนวนที่ติดต่อ</label>
                                    @Html.DropDownList("callcount", (IEnumerable<SelectListItem>)ViewBag.CallCount, "ทั้งหมด", new { @id = "ddl-callcount", @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="calldate">Last Contact</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="calldate" name="calldate" type="text" value="@ViewBag.SearchData.calldate" class="form-control input-daterange input-daterange-with-clear">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="createdate">วันที่นำเข้าลีด</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="createdate" name="createdate" type="text" value="@ViewBag.SearchData.createdate" class="form-control input-daterange input-daterange-with-clear">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="issuedate">วันที่ Issue</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="issuedate" name="issuedate" type="text" value="@ViewBag.SearchData.issuedate" class="form-control input-daterange input-daterange-with-clear">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="expiredate">Reply within date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="expiredate" name="expiredate" type="text" value="@ViewBag.SearchData.expiredate" class="form-control input-daterange input-daterange-with-clear">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="tsr">ผู้รับมอบหมาย</label>
                                    @Html.DropDownList("ddl-receiver", (IEnumerable<SelectListItem>)ViewBag.ActiveUser, new { @id = "ddl-receiver", @class = "form-control", @style = "width:100%" })
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class=" col-sm-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                                <button class="btn btn-default" type="button" onclick='clearform()'>Clear</button>
                            </div>
                            <div class="col-sm-3 col-sm-offset-6 text-right" style="vertical-align:text-bottom;">
                                <label class="control-label">ผลการค้นหาทั้งหมด จำนวน  <span id="resultcount">@Model.Count()</span> ลีด</label>
                            </div>
                        </div>
                    </form>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <form id="form-unassign" action="DoUnAssign" method="post">
                            <fieldset>
                                <div class="col-sm-7">

                                </div>
                                <div class="col-sm-1">
                                    <div class="checkbox">
                                        <input type="checkbox" id="chk-all" />
                                        <label for="chk-all"> เลือกทั้งหมด</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <h5>จำนวนข้อมูลที่เลือก <span id="selected-count">0</span></h5>                                    
                                </div>
                                <div class="col-sm-2">
                                    <input type="hidden" name="IsUnAssignSup" value="false" />
                                    <button class="btn btn-primary" type="submit">เรียกคืน</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="row">
                        <form id="form-transfer" action="DoTransfer" method="post">
                            <fieldset>
                                <div class="col-sm-2 col-sm-offset-8">
                                    @Html.DropDownList("tsrid", (IEnumerable<SelectListItem>)ViewBag.ActiveUser, "เลือก", new { @id = "ddl-transfer", @class = "form-control", @style = "width:100%" })
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" type="submit">โอนลีด</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th data-orderable="false"><input type="checkbox" id="chk-page" /></th>
                                <th>Product</th>
                                <th data-type="date-euro">วันที่นำเข้า</th>
                                <th data-type="date-euro">Reply wihin</th>
                                <th>TM</th>
                                <th>เลขกรมธรรม์</th>
                                <th>ชื่อ</th>
                                <th>เบอร์โทรศัพท์</th>
                                <th>ผลการตอบรับ</th>
                                <th data-orderable="false">เหตุผล</th>
                                <th data-orderable="false">หมายเหตุ</th>
                                <th>Last Contact</th>
                                <th>จำนวนที่ติดต่อ</th>
                                <th>ผู้รับมอบหมาย</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    <input type="checkbox" name="leadid" class="leadid" value="@item.LeadProfileId" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpireDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PolicyNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @(String.IsNullOrEmpty(item.TelPhone) ? item.TelPhone2 : item.TelPhone)
                                </td>
                                <td>
                                    @Html.Raw(item.RecentLeadAssignment.ResponseCategoryCode.ResponseLabel())
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecentLeadAssignment.ResponseReason)
                                </td>
                                <td>
                                    <div class="iffyTip">@Html.DisplayFor(modelItem => item.Remark)@Html.DisplayFor(modelItem => item.RecentLeadAssignment.Detail)</div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecentLeadAssignment.CallDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecentLeadAssignment.CallCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecentLeadAssignment.ReceiverUserName)
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/select2/css")
    @Styles.Render("~/plugins/multiple-select/css")
    <style type="text/css">
        .iffyTip {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100px;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/multiple-select")
    <script type="text/javascript">
    $(document).ready(function () {
        var table = $('.dataTables').DataTable({
            "order": [[3, "asc"]]

        });
        $('.dataTables').on('page.dt', function () {
            $("#chk-page").prop('checked',false);
        });
        //$('#ddl-receiver').select2();
        $('#ddl-receiver').multipleSelect({filter:true}).multipleSelect('setSelects', @Html.Raw((ViewBag.SearchData.tsrs == null) ? "[]" : String.Concat("['", String.Join("','", ViewBag.SearchData.tsrs), "']").Replace("[,", "['',").Replace("[]", "['']")));

        $("#ddl-response").multipleSelect().multipleSelect('setSelects', @Html.Raw((ViewBag.SearchData.responses == null) ? "[]" : String.Concat("[", String.Join(",", ViewBag.SearchData.responses), "]").Replace("[,", "['',").Replace("[]", "['']")));//.multipleSelect("checkAll");
        @if (ViewBag.SearchData.responses == null)
            {
                @:$("#ddl-response").multipleSelect("checkAll");
            }        
        @if (ViewBag.SearchData.tsrs == null)
            {
                @:$("#ddl-receiver").multipleSelect("checkAll");
            }
        //$(".leadid").prop("checked", true);
        $("#chk-all").change(function () {
            var cells = table.cells().nodes();
            var checked = $(this).is(':checked');
            $(cells).find('.leadid').prop('checked', checked);
            if (checked) {
                $("#selected-count").html($("#resultcount").html());
            } else {
                $("#selected-count").html(0);
            }
        });
        $("#chk-page").change(function () {
            var cells = table.cells().nodes();
            var checked = $(this).is(':checked');
            $('.leadid').prop('checked', checked);
            $("#selected-count").html($(cells).find('.leadid:checked').length);
        });
        $(".dataTables").on("change",".leadid", function () {
            if (this.checked) {
                $("#selected-count").html(Number($("#selected-count").html()) + 1);
            } else {
                $("#selected-count").html(Number($("#selected-count").html()) - 1);
            }
        });
        $('#search-form').submit(function () {

            $("#responses").remove();
            var ddl = $("#ddl-response");
            var arr = ddl.multipleSelect("getSelects");
            if(arr.length != ddl.find("option").length){
                for (var i = 0, len = arr.length; i < len; i++) {
                    $('#search-form').append($("<input>").attr("name","responses").attr("type", "hidden").val(arr[i]));
                }
            }    

            $("#tsrs").remove();
            ddl = $("#ddl-receiver");
            arr = ddl.multipleSelect("getSelects");
            if(arr.length != ddl.find("option").length){
                for (var i = 0, len = arr.length; i < len; i++) {
                    $('#search-form').append($("<input>").attr("name","tsrs").attr("type", "hidden").val(arr[i]));
                }
            }
            //return false;
        });
        $('#form-unassign').on('submit', function (e) {
            var selected = Number($("#selected-count").html());
            if (selected == 0) {
                swal("ยังไม่ได้เลือกข้อมูล","","warning");
                return false;
            }
            var $form = $(this);
            // Iterate over all checkboxes in the table
            table.$('.leadid').each(function () {
                // If checkbox is checked
                if (this.checked) {
                    // Create a hidden element
                    $form.append(
                       $('<input>')
                          .attr('type', 'hidden')
                          .attr('name', this.name)
                          .val(this.value)
                    );
                }
            });
        });
        $('#form-transfer').on('submit', function (e) {
            var selected = Number($("#selected-count").html());
            if (selected == 0) {
                swal("ยังไม่ได้เลือกข้อมูล", "", "warning");
                return false;
            }
            if ($("#ddl-transfer").val() == "") {
                swal("ยังไม่ได้เลือกผู้รับโอน", "", "warning");
                return false;
            }
            var $form = $(this);
            // Iterate over all checkboxes in the table
            table.$('.leadid').each(function () {
                // If checkbox is checked
                if (this.checked) {
                    // Create a hidden element
                    $form.append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', this.name)
                            .val(this.value)
                    );
                }
            });
        });
    });
    function clearform() {
        $('#ddl-reciever,#ddl-response').multipleSelect('checkAll')
        $('#ddl-callcount,#createdate,#issuedate,#expiredate,#calldate').val('');
        return false;
    }
    $(document).on('mouseenter', ".iffyTip", function () {
        var $this = $(this);
        if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
            $this.tooltip({
                title: $this.text(),
                placement: "bottom"
            });
            $this.tooltip('show');
        }
    });
    </script>
}