﻿@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>
@{
    ViewBag.Title = "Lead Profiles";
}
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการลีดโปรไฟล์", "Index", "LeadAssignment")
                </li>
                <li class="active">
                    <strong>นำเข้าข้อมูลลีด</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>นำเข้าข้อมูลลีด</h5>
                    </div>
                    <div class="ibox-content">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>เลือกไฟล์...</span>
                            <!-- The file input field used as target for the file upload widget -->
                            <input id="fileupload" type="file" name="leadsfile" data-url="ParseLeadsFile">
                        </span>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="pull-right form-inline">
                            @Html.Label(" ลีดต้นทาง :")
                            @Html.Hidden("callsource","", new { @id = "txt-callsource-name" })
                            @Html.DropDownList("callsourcecode", (IEnumerable<SelectListItem>)ViewBag.CallSources, "เลือก", new { @id = "ddl-callsource", @class = "form-control" })
                            @Html.Label(" Product :")
                            @Html.Hidden("product", "", new { @id = "txt-product-name" })
                            @Html.DropDownList("productcode", (IEnumerable<SelectListItem>)ViewBag.OfferProduct, "เลือก", new { @id = "ddl-product", @class = "form-control" })
                            <button type="submit" id="btn_submit" class="btn btn-primary">นำเข้า</button>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <table id="tbl-leads" class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>ชื่อ</th>
                                    <th>นามสกุล</th>
                                    <th>เบอร์โทรศัพท์</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>หมายเหตุ</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-leads">
                                @if(Model != null){
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TelPhone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Remark)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/blueimp/css")
    <style type="text/css">
        .iffyTip {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100px;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/blueimp")
    <script type="text/javascript">
        $(document).ready(function () {
            //$('.dataTables').DataTable();
            $('#fileupload').fileupload({
                dataType: 'html',
                done: function (e, data) {
                    $("#tbody-leads").html(data.result);
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                }
            });
            $("#btn_submit").click(function () {
                if ($("#tbody-leads>tr").length == 0) {
                    pop_message("กรุณาเลือกไฟล์ก่อนกดนำเข้า");
                    return false;
                } if ($("#ddl-callsource").val().length <= 0) {
                    pop_message("กรุณาระบุลีดต้นทาง");
                    return false;
                }

            });
        });
    </script>
}
<script type="text/javascript">
    $().ready(function () {
        $("#ddl-callsource").change(function () {
            if ($("#ddl-callsource").val() != "") {
                $("#txt-callsource-name").val($("#ddl-callsource>option:selected").html());
            } else {
                $("#txt-callsource-name").val("");
            }
        });
        $("#ddl-product").change(function () {
            if ($("#ddl-product").val() != "") {
                $("#txt-product-name").val($("#ddl-product>option:selected").html());
            } else {
                $("#txt-product-name").val("");
            }
        });
    });
</script>