﻿@model IEnumerable<GT.InboundApplication.Model.CRM.LeadProfile>
@{
    ViewBag.Title = "Upload Result";
}
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2><i class="fa fa-cube"></i>ลีด</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการลีดโปรไฟล์", "Index", "LeadAssignment")
                </li>
                <li class="active">
                    <strong>นำเข้าข้อมูลลีด</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>ผลการนำเข้า</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="pull-right">
                            <a href="@Url.Action("Index", "LeadAssignment")" class="btn btn-white btn-xs">ไปหน้ารายการลีด</a>
                            <a href="@Url.Action("UploadLead", "LeadAssignment")" class="btn btn-white btn-xs">กลับไปหน้าอัพโหลด</a>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge badge-primary">@Model.Count(c => c.Status==true && c.LeadFlag=="N")</span>
                                    นำเข้าได้
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">@Model.Count(c => c.LeadFlag == "D")</span>
                                    ข้อมูลซ้ำ
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-warning">@Model.Count(c=>c.Status==false && c.LeadFlag == "N")</span>
                                    ข้อมูลไม่ถูกต้อง
                                </li>
                            </ul>
                        </div>
                        <div id="div-display-lead">
                            <table id="tbl-leads" class="table table-striped table-bordered table-hover dataTables">
                                <thead>
                                    <tr>
                                        <th>TM Team</th>
                                        <th>ชื่อ</th>
                                        <th>เบอร์โทรศัพท์</th>
                                        <th>เลขที่กรมธรรม์</th>
                                        <th>Reply with in</th>
                                        <th>หมายเหตุ</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-leads">
                                    @if (Model != null)
                                    {
                                        for (int i = 0; i < Model.Count(); i++)
                                        {
                                            var lead = Model.ElementAt(i);
                                            <tr class="@(lead.Status.Value?"":"danger")">
                                                <td>@lead.TM</td>
                                                <td>
                                                    @Html.TextBox("[" + i + "].FirstName", lead.FirstName, new { @class = "actascell", @readonly = true })
                                                </td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(lead.TelPhone))
                                                    {
                                                        @Html.TextBox("[" + i + "].TelPhone", lead.TelPhone, new { @class = "actascell", @data_mask = "099 999 9999", @readonly = true })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBox("[" + i + "].TelPhone2", lead.TelPhone2, new { @class = "actascell", @data_mask = "099 999 999", @readonly = true })
                                                    }
                                                </td>
                                                <td>@lead.PolicyNo</td>
                                                <td>@Html.DisplayFor(m => lead.ExpireDate)</td>
                                                <td>@Html.TextBox("[" + i + "].Remark", lead.Remark, new { @class = "actascell", @readonly = true })</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}