﻿@model GT.InboundApplication.Model.CRM.MasterPlan

@{
    ViewBag.Title = "MasterPlan";
	var title = ViewBag.Title;
	var mode = "รายละเอียด";
}

<div class="row wrapper border-bottom gray-bg page-heading">
	<div class="col-sm-12">
		<div class="col-sm-4">
			<h2>@title</h2>
			<ol class="breadcrumb">
				<li>
					@Html.ActionLink("หน้าแรก","Index","Home")
				</li>
				<li>
				  @Html.ActionLink("รายการ", "Index")
				</li>
				<li class="active">
					<strong>@mode @title</strong>
				</li>
			</ol>
		</div>
	</div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@mode @title</h5>
                </div>
                <div class="ibox-content">
				    <dl class="dl-horizontal">
																				<dt>
									@Html.DisplayNameFor(model => model.PlanName)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.PlanName)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.SA)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.SA)
								</dd>
																				<dt>
									@Html.DisplayNameFor(model => model.CoverageId)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.CoverageId)
								</dd>
											</dl>


	    @Html.ActionLink("แก้ไข", "Edit", new { id = Model.PlanCode }, new { @class = "btn btn-primary"})
    @Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













