﻿@model GT.InboundApplication.Model.CRM.MasterPlan

@{
    ViewBag.Title = "MasterPlan";
	var title = ViewBag.Title;
	var mode = "แก้ไข";
}

<div class="row wrapper border-bottom gray-bg page-heading">
	<div class="col-sm-12">
		<div class="col-sm-4">
			<h2>@title</h2>
			<ol class="breadcrumb">
				<li>
					@Html.ActionLink("หน้าแรก","Index","Home")
				</li>
				<li>
				  @Html.ActionLink("รายการ", "Index")
				</li>
				<li class="active">
					<strong>@mode @title</strong>
				</li>
			</ol>
		</div>
		<div class="col-sm-8">
			<div class="title-action">
				@Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-primary"})
			</div>
		</div>
	</div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@mode @title</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
    
				<div class="form-horizontal">

					@Html.ValidationSummary(true)
								@Html.HiddenFor(model => model.PlanCode)

								<div class="form-group">
									@Html.LabelFor(model => model.PlanName, new { @class = "control-label col-md-2" })
									<div class="col-md-10">
										@Html.EditorFor(model => model.PlanName)
										@Html.ValidationMessageFor(model => model.PlanName)
						</div>
					</div>

								<div class="form-group">
									@Html.LabelFor(model => model.SA, new { @class = "control-label col-md-2" })
									<div class="col-md-10">
										@Html.EditorFor(model => model.SA)
										@Html.ValidationMessageFor(model => model.SA)
						</div>
					</div>

								<div class="form-group">
									@Html.LabelFor(model => model.CoverageId, new { @class = "control-label col-md-2" })
									<div class="col-md-10">
										@Html.EditorFor(model => model.CoverageId)
										@Html.ValidationMessageFor(model => model.CoverageId)
						</div>
					</div>

			        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>


