﻿@model IEnumerable<GT.InboundApplication.Model.CRM.MasterPlan>

@{
    ViewBag.Title = "MasterPlan";
	var title = ViewBag.Title;
	var mode = "รายการ";
}

<div class="row wrapper border-bottom gray-bg page-heading">
	<div class="col-sm-12">
		<div class="col-sm-4">
			<h2>@title</h2>
			<ol class="breadcrumb">
				<li>
					@Html.ActionLink("หน้าแรก","Index","Home")
				</li>
				<li class="active">
					<strong>@mode @title</strong>
				</li>
			</ol>
		</div>
		<div class="col-sm-8">
			<div class="title-action">
				<a href="@Url.Action("Create")" class="btn btn-primary btn-xs">สร้าง @title</a>
			</div>
		</div>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@mode @title</h5>
					<div class="ibox-tools">
					</div>
                </div>
                <div class="ibox-content">
					<table class="table table-striped table-bordered table-hover dataTables">
						<thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlanCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlanName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SA)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CoverageId)
                                </th>
                                <th>จัดการข้อมูล</th>
                            </tr>
						</thead>
						<tbody>
					@foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlanCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlanName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SA)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CoverageId)
                                </td>
                                <td>
                                    @Html.ActionLink("รายละเอียด", "Details", new { id = item.PlanCode }, new { @class = "btn btn-primary btn-sm" })
                                    @Html.ActionLink("แก้ไข", "Edit", new { id = item.PlanCode }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("ลบ", "Delete", new { id = item.PlanCode }, new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
					}
					</tbody>
					</table>

                </div>
            </div>
        </div>
    </div>
 </div>



@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
            
        });
    </script>
}