﻿@model GT.InboundApplication.Model.CRM.SpecialCalendar

@{
    ViewBag.Title = "เพิ่ม";
}
@Html.Partial("_SpecialCalendarHeading")

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="m-b-md">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>วันหยุด</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="CalendarDate">วันที่</label>
                                    <div class="col-md-2">
                                        <div class="input-group date" data-provide="datepicker" data-date-format="d/mm/yyyy">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => model.CalendarDate, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CalendarDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control",@autocomplete="off" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="HolidayCount">ประเภท</label>
                                    <div class="col-md-2">
                                        <select name="HolidayCount" class="form-control">
                                            <option value="1">วันหยุด</option>
                                            <option value="-1">วันทำงาน</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.HolidayCount, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

