﻿@model GT.InboundApplication.Model.CRM.SpecialCalendar

@{
    ViewBag.Title = "Delete";
}
@Html.Partial("_SpecialCalendarHeading")

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="m-b-md">
                        <h3>Are you sure you want to delete this?</h3>
                        <div>
                            <h4>SpecialCalendar</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.CalendarDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CalendarDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.HolidayCount)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.HolidayCount)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

