﻿@model GT.InboundApplication.Model.CRM.SpecialCalendar
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpecialCalendar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CalendarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
