﻿@model IEnumerable<GT.InboundApplication.Model.CRM.SpecialCalendar>

@{
    ViewBag.Title = "ตั้งค่าวันหยุด";
}
@Html.Partial("_SpecialCalendarHeading")
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div>
                        <p>
                            <a href="@Url.Action("Create")" class="btn btn-primary btn-xs">เพิ่มข้อมูล</a>
                        </p>
                        <table class="table table-bordered table-condensed table-striped">
                            <tr>
                                <th>
                                    วันที่
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    ประเภท
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                var ci = System.Globalization.CultureInfo.CreateSpecificCulture("th-TH");
                                <tr>
                                    <td>
                                        @item.CalendarDate.ToString("dddd dd MMMM yyyy", ci)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @(item.HolidayCount==1?"วันหยุด":"วันทำงาน")
                                    </td>
                                    <td>
                                        <div class="btn-group" style="display: flex">
                                            <a class="btn btn-white btn-sm" href="@Url.Action("Edit", new { id = item.Id })" title="Edit"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-white btn-sm" href="@Url.Action("Delete", new { id = item.Id })" title="Delete"><i class="fa fa-remove"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>