﻿@model GT.InboundApplication.Model.Location.CallSource
<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.AppName, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.AppName)
        @Html.ValidationMessageFor(model => model.AppName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SRC, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SRC, new { htmlAttributes = new { @placeholder = "3 ตัวแรกของ SRC", @maxlength = 10 } })
        @Html.ValidationMessageFor(model => model.SRC)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.MediaAgency, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.MediaAgency, new { htmlAttributes = new { @placeholder = "Map กับส่วนที่ 3 ของ SRC [{SRC}_XXX_{MediaAgency}]", @maxlength = 10 } })
        @Html.ValidationMessageFor(model => model.MediaAgency)
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">Agency Owner</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Owner,new { htmlAttributes = new { @placeholder = "สำหรับ lead partner report",@maxlength = 10 } })
        @Html.ValidationMessageFor(model => model.Owner)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CallSourceGroup, new {  @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CallSourceGroup, new { htmlAttributes = new { @placeholder = "ชื่อที่แสดงให้ TSR เห็น" } })
        @Html.ValidationMessageFor(model => model.CallSourceGroup)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.MediaName, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.MediaName, new { htmlAttributes = new { @placeholder = "ชื่อที่แสดงในรายงาน" } })
        @Html.ValidationMessageFor(model => model.MediaName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CreditFor, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.CreditFor, (IEnumerable<SelectListItem>)ViewBag.CreditForList, "เลือก", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CreditFor)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Note)
        @Html.ValidationMessageFor(model => model.Note)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Active)
        @Html.ValidationMessageFor(model => model.Active)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.IsAdminLead, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.IsAdminLead)
        @Html.ValidationMessageFor(model => model.IsAdminLead)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Seqn, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Seqn)
        @Html.ValidationMessageFor(model => model.Seqn)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Intent, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Intent, (IEnumerable<SelectListItem>)ViewBag.IntentTypes, "เลือก", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Intent)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CallSourceType, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.CallSourceType, (IEnumerable<SelectListItem>)ViewBag.CallSourceTypes, "เลือก", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CallSourceType)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ProjectName, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ProjectName, (IEnumerable<SelectListItem>)ViewBag.ProjectNames, "เลือก", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectName)
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.ProjectPriority, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ProjectPriority, (IEnumerable<SelectListItem>)ViewBag.ProjectPriorityNames, "เลือก", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectPriority)
        <p>ลีดแรกจะเข้า Project ข้างต้นนี้ก่อน (สำหรับ NonLife)</p>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ProjectPriorityLife, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ProjectPriorityLife, (IEnumerable<SelectListItem>)ViewBag.ProjectPriorityLifeNames, "เลือก", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectPriorityLife)
        <p>ลีดแรกจะเข้า Project ข้างต้นนี้ก่อน (สำหรับ Life)</p>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.IsReward, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.IsReward, new { @class="form-control" })
        @Html.ValidationMessageFor(model => model.IsReward)
        <p>Reward ลีดสำหรับ คัดแยกลีดที่จะไม่ทำการกระจายให้กับ HBT,HB2 (ถ้าเป็น Reward จะส่งให้ IGL เท่านั้น)</p>
    </div>
</div>

