﻿@model GT.InboundApplication.Model.Location.CallSource

@{
    ViewBag.Title = "CallSource";
    var title = ViewBag.Title;
    var mode = "รายละเอียด";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <h2>@title</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการ", "Index")
                </li>
                <li class="active">
                    <strong>@mode @title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@mode @title</h5>
                </div>
                <div class="ibox-content">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Code)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Code)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CallSourceGroup)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CallSourceGroup)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Note)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Note)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Active)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Active)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsSupportInboundCall)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.IsSupportInboundCall)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsSupportOutboundCall)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.IsSupportOutboundCall)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsSupportFollowupCall)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.IsSupportFollowupCall)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsAdminLead)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.IsAdminLead)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.MediaName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MediaName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Seqn)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Seqn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CallSourceType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CallSourceType)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ProjectName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProjectName)
                        </dd>
                    </dl>


                    @Html.ActionLink("แก้ไข", "Edit", new { id = Model.CallSourceId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>












