﻿@model IEnumerable<GT.InboundApplication.Model.Location.CallSource>

@{
    ViewBag.Title = "CallSource";
    var title = ViewBag.Title;
    var mode = "รายการ";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <h2>@title</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>@mode @title</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a href="@Url.Action("Create")" class="btn btn-primary btn-xs">สร้าง @title</a>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@mode @title</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CallSourceGroup)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Intent)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CallSourceType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProjectName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProjectPriority)
                                </th>
                                <th>จัดการข้อมูล</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1; }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CallSourceId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)<br/>
                                        <span class="label label-info">@Html.DisplayFor(modelItem => item.MediaName)</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CallSourceGroup)
                                    </td>
                                    <td data-order="@item.Active">
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Intent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CallSourceType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectPriority)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="@Url.Action("Details", new { id = item.CallSourceId })" class="btn btn-white btn-sm" title="รายละเอียด"><i class="fa fa-fw fa-file-text"></i></a>
                                            <a href="@Url.Action("Edit", new { id = item.CallSourceId })" class="btn btn-white btn-sm" title="แก้ไข"><i class="fa fa-fw fa-edit"></i></a>
                                            @*<a href="@Url.Action("Delete", new { id = item.CallSourceId })" class="btn btn-white btn-sm" title="ลบ"><i class="fa fa-fw fa-trash"></i></a>*@
                                        </div>                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables').DataTable({
                stateSave:true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });
    </script>
}