﻿@using GT.InboundApplication
@model GT.InboundApplication.Model.Common.LoginViewModel
@using GT.CRMApplication.Helpers
@{
    Layout = null;
    var linksales = Request.SalesLink();
    var project = ProjectSetupModel.GetProjectName();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generali | Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>

<body class="gray-bg" style="background-image: url(../Content/patterns/shattered.png); background-repeat:repeat;">

    <div class="middle-box text-center loginscreen  animated bounceInDown"
         style="background-image: url(../Content/patterns/left-margin.png); background-repeat:no-repeat;">
        <div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <img src="~/Content/brandlogos/generali-logo-big.svg" width="93" />
                        </div>
                        <div class="col-sm-6 text-left">
                            <font style="font-size:6.5rem">@project</font>
                        </div>
                    </div>
                </div>
                <h3>GENERALI - Confirmation Call System</h3>
                <small>ใช้บัญชีในการเข้าใช้งาน</small>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <!--<div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            จดจำฉันไว้ในการใช้งานครั้งต่อไป ?-->
                            @*@Html.LabelFor(m => m.RememberMe)*@
                        <!--</div>
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="เข้าสู่ระบบ" class="btn btn-primary" />
                    </div>
                </div>
                <p>
                    <a href="@Url.Action("Register")">ลงทะเบียน</a> หากคุณยังไม่มีบัญชีในระบบ Confirmation Call.
                </p>
            }
        </div>
    </div>
    <script type="text/javascript">
        localStorage.clear();
    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
