﻿@model GT.InboundApplication.Model.Common.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register | Generali</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg" style="background-image: url(../Content/patterns/shattered.png); background-repeat:repeat;">

    <div class="middle-box text-center loginscreen  animated fadeInDown"
         style="background-image: url(../../Content/patterns/left-margin.png); background-repeat:no-repeat;">
        <div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <img src="~/Content/brandlogos/generali-logo-big.svg" width="93" />
                <h5 style="margin-top:15px;">สร้างบัญชีใหม่เพื่อเข้าใช้งานระบบ Confirmation Call</h5>
                <hr />
                @Html.ValidationSummary()
                <div class="form-group">
                    @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-5 control-label" })*@
                    <label class="col-md-5 control-label">ชื่อบัญชี*</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })*@
                    <label class="col-md-5 control-label">รหัสผ่าน*</label>
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })*@
                    <label class="col-md-5 control-label">ยืนยันรหัสผ่าน*</label>
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="link-block"></div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.FirstName, new { @class = "col-md-5 control-label" })*@
                    <label class="col-md-5 control-label">ชื่อ*</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.LastName, new { @class = "col-md-5 control-label" })*@

                    <label class="col-md-5 control-label">นามสกุล*</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">ชื่อเล่น</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-5 control-label" })*@
                    <label class="col-md-5 control-label">อีเมล</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "E-mail" })
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px;">
                    <div class="col-md-offset-2 col-md-9">
                        <input type="submit" class="btn btn-primary" value="ลงทะเบียนเข้าใช้งาน" />
                        หรือ @Html.ActionLink("มีบัญชีอยู่แล้ว", "Login")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-left">
                        <small>หลังจากลงทะเบียนแล้วโปรดแจ้งผู้ดูแลระบบเพื่อกำหนดสิทธิ์การเข้าใช้งานระบบ</small>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


