﻿@model IEnumerable<GT.InboundApplication.Model.Common.RegisterVerificationModel> 

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Verification Member
                    <small id="membercount"></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                Role Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupervisorId)
                            </th>
                            <th>

                            </th>
                        </tr>
                       
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName, new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DropDownListFor(modelItem => item.RoleId, (IEnumerable<SelectListItem>)ViewBag.Roles, "เลือก", new { @class = "form-control" })
                            </td>
                            <td>
                                @Html.DropDownListFor(modelItem => item.SupervisorId, (IEnumerable<SelectListItem>)ViewBag.Supervisors, "เลือก", new { @class = "form-control" })
                            </td>
                            <td>
                                <button id="btn_@item.UserName" name="btn_verify" value="@item.UserName" class="btn btn-success btn-xs">อนุมัติ</button>
                                <button id="btn_@item.UserName" name="btn_delete" value="@item.UserName" class="btn btn-default btn-xs">ลบข้อมูล</button>
                            </td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    
    $(document).ready(function () {
        $("[name='btn_verify']").bind("click", function () {
            verificationmember($(this));
            return false;
        });
        $("[name='btn_delete']").bind("click", function () {
            removemember($(this));
            return false;
        });
        bindheading();
    }); 

    function verificationmember(targetcontrol) {
        var username = targetcontrol.val();
        var license = targetcontrol.parents("tr").find("#item_LicenseNumber").val();
        var license_ol = targetcontrol.parents("tr").find("#item_LicenseNumber_OL").val();
        var tsrcode = targetcontrol.parents("tr").find("#item_TSRCode").val();
        var tsrcode_ol = targetcontrol.parents("tr").find("#item_TSRCode_OL").val();
        var role = targetcontrol.parents("tr").find("#item_RoleId").val();
        var supervisorId = targetcontrol.parents("tr").find("#item_SupervisorId").val();
        if (role == "") {
            swal("กรุณาเลือก Role ก่อนทำการอนุมัติ","","warning")
            return false;
        }
        var serviceURL = '@Url.Content("~/Account/VerifyMember")';
        //console.log({ username: username, tsrcode: tsrcode, tsrcode_ol: tsrcode_ol, license: license, role: role, supervisorId: supervisorId });
        $.ajax({
            type: "GET",
            data: { username: username, tsrcode: tsrcode, tsrcode_ol: tsrcode_ol, license: license, license_ol: license_ol, role: role, supervisorId: supervisorId },
            url: serviceURL,
            contentType: "application/json;",
            dataType: "json",
            success: function (data) {
                targetcontrol.parent().parent().remove();
                bindheading();
                pop_message('Message Box', 'อนุมัติการเข้าใช้งานแล้ว');
            },
            error: function () { alert('Verification member function call failed.'); }
        });
        return false;
    }

    function removemember(targetcontrol)
    {
        var username = targetcontrol.val();
        var serviceURL = '@Url.Content("~/Account/RemoveMember")';

        $.ajax({
            type: "GET",
            data: { username: username },
            url: serviceURL,
            contentType: "application/json;",
            dataType: "json",
            success: function (data) {
                targetcontrol.parent().parent().remove();
                bindheading();
                pop_message('Message Box', 'ลบข้อมูลเรียบร้อยแล้ว!');
            },
            error: function () { alert('Removing member is failed.'); }
        });
        return false;
    }

    function bindheading()
    {
        $("#membercount").text(($("table tr").length - 1) + "    Member(s) need to verify");
    }
</script>

