﻿@model GT.CRMApplication.WebMVC5.Controllers.AutoAssignDashboardVM
@using DM.Utilities.NetFramework.Generics
@using GT.CRMApplication.WebMVC5

@{
    ViewBag.Title = "Auto Assign Config";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2>Auto Assign</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Auto Assign Dashboard", "Dashboard")
                </li>
                <li class="active">
                    <strong>ตั้งค่าจำนวนลีด</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>ตั้งค่าจำนวนลีด</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <button id="btn-save" class="btn btn-sm btn-primary" type="button">บันทึก</button>
                            <a href="@Url.Action("Dashboard")" class="btn btn-sm btn-default">กลับ</a>
                            <table id="tbl-config" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Rank TSR</th>
                                        <th>30%</th>
                                        <th>25%</th>
                                        <th>20%</th>
                                        <th>15%</th>
                                        <th>10%</th>
                                        <th>Min</th>
                                        <th>Max</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.autoAssignConfigs)
                                    {
                                        <tr>
                                            <td data-property="TSRRank">@item.TSRRank</td>
                                            <td data-property="RankSeq" class="hidden">@item.RankSeq</td>
                                            <td data-property="LeadA" class="text-right" contenteditable>@item.LeadA</td>
                                            <td data-property="LeadB" class="text-right" contenteditable>@item.LeadB</td>
                                            <td data-property="LeadC" class="text-right" contenteditable>@item.LeadC</td>
                                            <td data-property="LeadD" class="text-right" contenteditable>@item.LeadD</td>
                                            <td data-property="LeadE" class="text-right" contenteditable>@item.LeadE</td>
                                            <td class="text-right data-sum">@item.CalLeadTotal()</td>
                                            <td data-property="MaxLead" class="text-right" contenteditable>@item.MaxLead</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    <style>
        td[contenteditable] {
            background-color: powderblue
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        var dt;
    $(document).ready(function () {

        $("#btn-save").click(function () {
            var myRows = [];
                var $rows = $("#tbl-config").find("tbody tr").each(function (index) {
                    $cells = $(this).find("td");
                    myRows[index] = {};
                    $cells.each(function (cellIndex) {
                        myRows[index][$(this).data("property")] = $(this).html().trim().replace(/,/g, "");;
                    });
                });
                var myObj = {};
                myObj.configs = myRows;


                var jsondata = JSON.stringify(myObj)
                //jdata[tindex] = jsondata;

                //var jsondata = JSON.stringify(myObj)
                console.log(jsondata);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveConfig")", data: jsondata,
                    success: function (result) {
                        swal('Saved','บันทึกข้อมูลแล้ว','success');
                        if (result == "1") {
                            swal('Saved', 'บันทึกข้อมูลแล้ว', 'success');
                        } else {
                            swal('Error', 'เกิดข้อผิดพลาด', 'warning');
                        }
                    },
                    dataType: "json",
                    contentType: "application/json"
                });
        });
        $('#tbl-config').on('focus', '[contenteditable]', function () {
            const $this = $(this);
            $this.data('before', $this.html());
            if ($(this).html() == "0") { $(this).html("");}
        }).on('blur keyup paste input', '[contenteditable]', function () {
            const $this = $(this);
            var val = $(this).html().trim().replace(",", "");
            if (val == "" || isNaN(val)) { $(this).html("0"); }
            CalculateSum($(this));
            if ($this.data('before') !== $this.html()) {
                $this.data('before', $this.html());
                $this.trigger('change');
            }
        });
        function CalculateSum(e) {
            var sum = 0;
            console.log(e.parents("tr"));
            e.parents("tr").find("td[data-property^='Lead']").each(function () {
                sum += Number($(this).html().trim().replace(",", ""));
                console.log(sum);
            });
            e.parents("tr").find("td.data-sum").html(sum);
        }
    });

    </script>
}