﻿@model GT.CRMApplication.WebMVC5.Controllers.AutoAssignDashboardVM
@using DM.Utilities.NetFramework.Generics
@using GT.CRMApplication.WebMVC5
@using GT.InboundApplication.Model.Common

@{
    ViewBag.Title = "Auto Assign Dashboard";
}
@functions{

    public string ReceiveClass(int actuallead, int minlead)
    {
        if (actuallead < minlead) return "missed";
        if (actuallead == minlead) return "met";
        if (actuallead > minlead) return "exceed";
        return "";
    }

    public decimal SafeDiv(decimal dividend,int divisor)
    {
        if (divisor == 0) return 0;
        return dividend / divisor;
    }

    public decimal SafeDiv(decimal dividend,decimal divisor)
    {
        if (divisor == 0) return 0;
        return dividend / divisor;
    }
}
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2>Auto Assign</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>Auto Assign Dashboard</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Auto Assign Dashboard
                    </h5>
                    @if (User.IsSuperAdmin() || User.IsInboundHead() || User.IsPM())
                    {
                        <div class="switch" style="display:inline-block;vertical-align:middle;margin-left:20px;">
                            <div class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox" code="code" id="chk-config" @(Model.WorkingMode == "1" ? "checked" : "") />
                                <label class="onoffswitch-label" for="chk-config">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    }
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="pull-right">
                        @if (User.IsSuperAdmin())
                        {
                            <button id="btn-test-assign" class="btn btn-sm btn-success">Test Auto Assign</button>
                            <button id="btn-test-callback" class="btn btn-sm btn-success">Test Callback</button>
                            <button id="btn-test-reset" class="btn btn-sm btn-success">Test Resest</button>
                            <br />
                        }
                        @if (User.IsSuperAdmin() || User.IsInboundHead() || User.IsPM())
                        {
                            <a href="@Url.Action("Config")" class="btn btn-sm btn-primary">ตั้งค่าจำนวนลีด</a>
                            <a href="@Url.Action("ExcludeSource")" class="btn btn-sm btn-primary">ตั้งค่า Source</a>
                            <a href="@Url.Action("Index", "SpecialCalendar")" class="btn btn-sm btn-primary">ตั้งค่าวันทำงาาน</a>
                        }
                    </div>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>สถานะ Auto Assign : </dt>
                            <dd>
                                @if (Model.IsWorking)
                                {
                                    <span id="label-working" class="label label-success">Working</span>
                                }
                                else
                                {
                                    <span id="label-working" class="label label-default">Not Working</span>
                                }
                            </dd>
                            <dt>Auto Assign Mode : </dt>
                            <dd><span id="label-working" class="label label-success">@Model.AssignMode</span></dd>
                        </dl>

                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Rank TSR</th>
                                <th>30%</th>
                                <th>25%</th>
                                <th>20%</th>
                                <th>15%</th>
                                <th>10%</th>
                                <th>Min</th>
                                <th>Max</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.autoAssignConfigs)
                            {
                                <tr>
                                    <td>@item.TSRRank</td>
                                    <td>@item.LeadA</td>
                                    <td>@item.LeadB</td>
                                    <td>@item.LeadC</td>
                                    <td>@item.LeadD</td>
                                    <td>@item.LeadE</td>
                                    <td>@item.CalLeadTotal()</td>
                                    <td>@item.MaxLead</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table id="tbl-dashboard" class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="13">TSR Performance</th>
                                <th colspan="5">Auto Assign</th>
                                <th colspan="2">30%+</th>
                                <th colspan="2">25%</th>
                                <th colspan="2">20%</th>
                                <th colspan="2">15%</th>
                                <th colspan="2">10%</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Rank</th>
                                <th>MTD Conv</th>
                                <th>Approve APE</th>
                                <th>Avg. Case Size</th>
                                <th>Pure <br />Annual Mode</th>
                                <th>%Pure <br />Annual Mode</th>
                                <th>%Cancer</th>
                                <th>%Credit <br />Card</th>
                                <th>%I/O</th>
                                <th title="จำนวนลีดปัจจุบัน">Total Lead</th>
                                <th title="จำนวน new lead ที่ได้รับตลอดทั้งเดือน">Total New Lead</th>
                                <th title="จำนวน new lead ที่ได้รับ auto assign ตลอดทั้งเดือน">New Lead (Auto Assign)</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Actual</th>
                                <th class="export-exclude">Status</th>
                                <th>Remark</th>
                                <th>Min</th>
                                <th>Act</th>
                                <th>Min</th>
                                <th>Act</th>
                                <th>Min</th>
                                <th>Act</th>
                                <th>Min</th>
                                <th>Act</th>
                                <th>Min</th>
                                <th>Act</th>
                            </tr>
                        </thead>
                        <tbody class="text-right">
                            @foreach (var item in Model.AutoAssigns)
                            {
                            <tr class="@(!item.IsWorking?"inactive":"")@(item.LeadTotal>=item.AutoAssignConfig.MaxLead?"reachmax":"") @Model.AssignMode.ToLower()">
                                <td class="text-left">@item.FullName</td>
                                <td class="text-left">@item.TSRRank</td>
                                <td style="white-space:nowrap">@(item.lead_conv)% (@item.AutoRank)</td>
                                <td>@Html.DisplayFor(h => @item.ApprovedAPE)</td>
                                <td>@Html.DisplayFor(h => @item.AvgCaseSize)</td>
                                <td>@Html.DisplayFor(h => @item.PureAnnualModeAPE)</td>
                                <td>@Html.DisplayFor(h => @item.PureAnnualModePercent)</td>
                                <td>@Html.DisplayFor(h => @item.PercentCancer)</td>
                                <td>@Html.DisplayFor(h => @item.PercentCredit)</td>
                                <td>@Html.DisplayFor(h => item.IORatio)</td>
                                <td>@item.TotalLead</td>
                                <td>@item.NewLead</td>
                                <td>@item.AutoLead</td>
                                <td>@item.AutoAssignConfig.CalLeadTotal()</td>
                                <td>@item.AutoAssignConfig.MaxLead</td>
                                <td class="@ReceiveClass(item.LeadTotal,item.AutoAssignConfig.CalLeadTotal())">@item.LeadTotal</td>
                                <td class="export-exclude">
                                    <select class="ddl-autoassignmode" onchange="this.dataset.chosen = this.value; " data-chosen="@item.AutoAssignMode" data-userid="@item.UserId" @((User.IsSuperAdmin() || User.IsInboundHead() || User.IsPM()) ? "" : "disabled")>
                                        <option value="1">Auto</option>
                                        <option value="SS" @((item.AutoAssignMode == 2 && item.TSRRank == "SS") ? "selected" : "")>Rank SS</option>
                                        <option value="S" @((item.AutoAssignMode == 2 && item.TSRRank == "S") ? "selected" : "")>Rank S</option>
                                        <option value="A" @((item.AutoAssignMode == 2 && item.TSRRank == "A") ? "selected" : "")>Rank A</option>
                                        <option value="B" @((item.AutoAssignMode == 2 && item.TSRRank == "B") ? "selected" : "")>Rank B</option>
                                        <option value="C" @((item.AutoAssignMode == 2 && item.TSRRank == "C") ? "selected" : "")>Rank C</option>
                                        <option value="D" @((item.AutoAssignMode == 2 && item.TSRRank == "D") ? "selected" : "")>Rank D</option>
                                        <option value="E" @((item.AutoAssignMode == 2 && item.TSRRank == "E") ? "selected" : "")>Rank E</option>
                                        <option style="background-color:gray" value="0" @(item.AutoAssignMode == 0 ? "selected" : "")>Stop</option>
                                    </select>
                                </td>
                                <td>
                                    @if (User.IsSuperAdmin() || User.IsInboundHead() || User.IsPM())
                                    {
                                        <input type="text" class="txt-remark" data-userid="@item.UserId" value="@item.Remark" />
                                    }
                                    else
                                    {
                                        @item.Remark
                                    }
                                </td>
                                <td class="min">@item.AutoAssignConfig.LeadA</td>
                                <td class="@ReceiveClass(item.LeadA,item.AutoAssignConfig.LeadA)">@item.LeadA</td>
                                <td class="min">@item.AutoAssignConfig.LeadB</td>
                                <td class="@ReceiveClass(item.LeadB,item.AutoAssignConfig.LeadB)">@item.LeadB</td>
                                <td class="min">@item.AutoAssignConfig.LeadC</td>
                                <td class="@ReceiveClass(item.LeadC,item.AutoAssignConfig.LeadC)">@item.LeadC</td>
                                <td class="min">@item.AutoAssignConfig.LeadD</td>
                                <td class="@ReceiveClass(item.LeadD,item.AutoAssignConfig.LeadD)">@item.LeadD</td>
                                <td class="min">@item.AutoAssignConfig.LeadE</td>
                                <td class="@ReceiveClass(item.LeadE,item.AutoAssignConfig.LeadE)">@item.LeadE</td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="text-right">
                                <td colspan="2">Total</td>
                                <td>@String.Format("{0:N2}%", Model.AutoAssigns.Sum(s => s.success) * 100.0 / Model.AutoAssigns.Sum(s => s.new_lead))</td>
                                <td>@String.Format("{0:N0}", Model.AutoAssigns.Sum(s => s.ApprovedAPE))</td>
                                <td>@String.Format("{0:N0}", SafeDiv(Model.AutoAssigns.Sum(s => s.ApprovedAPE), Model.AutoAssigns.Sum(s => s.PolicyCase ?? 0)))</td>
                                <td>@String.Format("{0:N0}", Model.AutoAssigns.Sum(s => s.PureAnnualModeAPE))</td>
                                <td>@String.Format("{0:N2}%", SafeDiv(Model.AutoAssigns.Sum(s => s.PureAnnualModeAPE) * 100, Model.AutoAssigns.Sum(s => s.ApprovedAPE)))</td>
                                <td>@String.Format("{0:N2}%", SafeDiv(Model.AutoAssigns.Sum(s => s.CancerAPE ?? 0) * 100, Model.AutoAssigns.Sum(s => s.ApprovedAPE)))</td>
                                <td>@String.Format("{0:N2}%", SafeDiv(Model.AutoAssigns.Sum(s => s.CreditAPE ?? 0) * 100, Model.AutoAssigns.Sum(s => s.ApprovedAPE)))</td>
                                <td>@String.Format("{0:N2}%", SafeDiv(Model.AutoAssigns.Sum(s => s.IPDAPE ?? 0) * 100, Model.AutoAssigns.Sum(s => s.HLSAPE ?? 0)))</td>
                                <td>@String.Format("{0:N0}",Model.AutoAssigns.Sum(s => s.TotalLead))</td>
                                <td>@String.Format("{0:N0}",Model.AutoAssigns.Sum(s => s.NewLead))</td>
                                <td>@String.Format("{0:N0}",Model.AutoAssigns.Sum(s => s.AutoLead))</td>
                                <td>@Model.AutoAssigns.Sum(s => s.AutoAssignConfig.CalLeadTotal())</td>
                                <td>@Model.AutoAssigns.Sum(s => s.AutoAssignConfig.MaxLead)</td>
                                <td>@Model.AutoAssigns.Sum(s => s.LeadTotal)</td>
                                <td colspan="2"></td>
                                <td class="min">@Model.AutoAssigns.Sum(s => s.AutoAssignConfig.LeadA)</td>
                                <td>@Model.AutoAssigns.Sum(s => s.LeadA)</td>
                                <td class="min">@Model.AutoAssigns.Sum(s => s.AutoAssignConfig.LeadB)</td>
                                <td>@Model.AutoAssigns.Sum(s => s.LeadB)</td>
                                <td class="min">@Model.AutoAssigns.Sum(s => s.AutoAssignConfig.LeadC)</td>
                                <td>@Model.AutoAssigns.Sum(s => s.LeadC)</td>
                                <td class="min">@Model.AutoAssigns.Sum(s => s.AutoAssignConfig.LeadD)</td>
                                <td>@Model.AutoAssigns.Sum(s => s.LeadD)</td>
                                <td class="min">@Model.AutoAssigns.Sum(s => s.AutoAssignConfig.LeadE)</td>
                                <td>@Model.AutoAssigns.Sum(s => s.LeadE)</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <span class="label" style="background-color: gray;font:bold 18px ;color:black;">ไม่มาทำงาน</span>
                                <span class="label" style="background-color: #dcfdc9;font:bold 18px;color:black;">Max</span>
                            </div>
                            <div class="pull-right">
                                <span class="label" style="background-color: #ff8c2c;font:bold 18px;color:black;">Missed</span>
                                <span class="label" style="background-color: #72c7ef;font:bold 18px;color:black;">Met</span>
                                <span class="label" style="background-color: #55ca71;font:bold 18px;color:black;">Exceed</span>
                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2/css")
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/multiple-select/css")
    <style type="text/css">
        select.ddl-autoassignmode {
            background-color: #4097e7;
            color: white;
        }

            select.ddl-autoassignmode > option {
                background-color: white;
                color: black;
            }

            select.ddl-autoassignmode[data-chosen='1'] {
                background-color: #19953a;
                color: white;
            }

            select.ddl-autoassignmode[data-chosen='0'] {
                background-color: #8a8a8a;
            }

        tr.inactive {
            background-color: gray !important;
        }

        tr.reachmax.challenge {
            background-color: #dcfdc9;
        }

        td.min {
            background-color: #dddddd;
        }

        tr.challenge > td.exceed {
            background-color: #55ca71;
        }

        tr.challenge > td.met {
            background-color: #72c7ef;
        }

        tr.challenge > td.missed {
            background-color: #ff8c2c;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/multiple-select")
    @*<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>*@
    <script type="text/javascript">        
        var dt;
        $(document).ready(function () {
    //        var n = document.createElement('script');
    //n.setAttribute('language', 'JavaScript');
    //n.setAttribute('src', 'https://debug.datatables.net/debug.js');
    //document.body.appendChild(n);
            $("#tbl-dashboard").DataTable({
                "ordering": false,
                "lengthChange": false,
                "searching": false,
                "paging": false,
                dom: '<"html5buttons"B>lTfgtp',
                buttons: [{
                    extend: 'excelHtml5',
                    text: 'excel',
                    footer:true,
            exportOptions: {
                columns:':not(.export-exclude)'
            }
        }]
            })
            $("#btn-test-assign").click(function () {
                $.ajax({ url: "@Url.Action("MorningAssign")" })
                    .done(function (resp) {
                        window.location.reload();
                    });
            });
            $("#btn-test-callback").click(function () {
                $.ajax({ url: "@Url.Action("CallbackFromInactive")" })
                    .done(function (resp) {
                        window.location.reload();
                    });
            })
            $("#btn-test-reset").click(function () {
                $.ajax({ url: "@Url.Action("Reset")" })
                    .done(function (resp) {
                        window.location.reload();
                    });
            })
            $(".ddl-autoassignmode").change(function () {

                $.ajax({ url: "@Url.Action("ChangeAutoAssignMode")", data: { userid: $(this).data("userid"), val: this.value } })
                    .done(function (resp) {
                        if (resp == 1) {

                        } else {
                            swal("Error", "something went wrong. please report to developer", "error")
                        }
                    }).fail(function () {
                        swal("Error", "something went wrong. please report to developer", "error")
                    });
            });
            $(".txt-remark").change(function () {
                var el = this;
                 $(el).css("border-color","orange");
                $.ajax({ url: "@Url.Action("ChangeRemark")", data: { userid: $(this).data("userid"), remark: this.value } })
                    .done(function (resp) {
                        if (resp == 1) {
                            $(el).css("border-color","green");
                        } else {
                            swal("Error", "something went wrong. please report to developer", "error")
                        }
                    }).fail(function () {
                        swal("Error", "something went wrong. please report to developer", "error")
                    });
            })

            $("#chk-config").click(function () {
                if ($("#chk-config").is(":checked")) {
                    swal({
                        title: "ยืนยัน?",
                        text: "คุณต้องการเปิดการทำงานของ Auto Assign ใช่หรือไม่?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((confirm) => {
                            if (confirm) {
                                $.ajax({ url: "@Url.Action("TurnOn")" })
                                    .done(function () { $("#label-working").html("Working").toggleClass("label-success label-default");})
                                    .fail(function () { swal("Error", "something went wrong. please report to developer", "error") });
                            } else {
                                $("#chk-config").prop("checked", false);
                            }
                        });
                } else {
                    swal({
                        title: "ยืนยัน?",
                        text: "คุณต้องการปิดการทำงานของ Auto Assign ใช่หรือไม่?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((confirm) => {
                            if (confirm) {
                                $.ajax({ url: "@Url.Action("TurnOff")" })
                                    .done(function () { $("#label-working").html("Not Working").toggleClass("label-success label-default");})
                                    .fail(function () { swal("Error", "something went wrong. please report to developer", "error") });
                            } else {
                                $("#chk-config").prop("checked", true);
                            }
                        });
                }
            });
        });

    </script>
}