﻿@model GT.CRMApplication.WebMVC5.Controllers.ExcludeSourceVM
@using DM.Utilities.NetFramework.Generics
@using GT.CRMApplication.WebMVC5

@{
    ViewBag.Title = "Auto Assign Exclude";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <h2>Auto Assign</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Auto Assign Dashboard", "Dashboard")
                </li>
                <li class="active">
                    <strong>ตั้งค่า Source</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>ตั้งค่า Source สำหรับ Auto Assign</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-8">
                            @Html.DropDownList("sources", Model.SourceList, new { @id = "ddl-source", @multiple = true })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button id="btn-save" type="button" class="btn btn-sm btn-primary">บันทึก</button>
                            <a href="@Url.Action("Dashboard")" class="btn btn-sm btn-default">กลับ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2/css")
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/multiple-select/css")
    @Styles.Render("~/plugins/duallistbox/css")
    
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/multiple-select")
    @Scripts.Render("~/plugins/duallistbox")
    <script type="text/javascript">
        var dt;
    $(document).ready(function () {
        $("#ddl-source").bootstrapDualListbox({
            bootstrap3Compatible: true,
            nonSelectedListLabel:'Auto Assign',
            selectedListLabel: 'Manual Assign',
            selectorMinimalHeight: 300,
            infoText: false
        });
        $("#btn-save").click(function () {
            $.ajax({
                method:'POST',
                url: "@Url.Action("SaveExcludeSource")",
                //data: JSON.stringify({ "sources": $("#ddl-source").val().join() }),
                data: { "sources": $("#ddl-source").val() },
                traditional: true
            }).done(function () {
                swal("Saved","บันทึกข้อมูลแล้ว","success");
            });
        });
    });

    </script>
}