﻿@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.Entity;
@using GT.InboundApplication.Model.CRM;
@using GT.InboundApplication.Model.Common;

@using GT.InboundApplication.Model.Location;
@{
    var lead = (LeadProfile)ViewBag.LeadProfile;
    var user = (ApplicationUser)ViewBag.User;
    using (LocationAppDBContainer app = new LocationAppDBContainer())
    {
        Consent consentItem = null;
        if (ViewBag.ConsentId != null && ViewBag.ConsentId > 0)
        {
            int consentId = (int)ViewBag.ConsentId;
            consentItem = app.ConsentSet.SingleOrDefault(x => x.ConsentId.Equals(consentId));
        }
        else
        {
            consentItem = app.ConsentSet.FirstOrDefault(x => x.Active.Value);
            ViewBag.ConsentId = consentItem.ConsentId;
        }

        ViewBag.ConsentText = consentItem.ConsentText;
        ViewBag.ConsentType = consentItem.ConsentType;
        ViewBag.ConsentVersion = consentItem.ConsentVersion;
        ViewBag.ConsentDataSource = consentItem.DataSource;
        ViewBag.ConsentId = consentItem.ConsentId;
    }
}

<div id="consent-div" class="gray-bg border-all">
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <br />
            <div class="form-group">
                <font color="#C21B17"><h5><u>Consent</u></h5></font>
                <p>
                    @if (lead.CallSource.StartsWith("Refer") || lead.CallSource.StartsWith("Friend") || lead.CallSourceCode == "38" || lead.CallSourceCode == "20085")
                    {
                        if (lead.CallSourceCode == "20153")//REFR:MGT
                        {//script for refer mgt

                            <span>
                                สวัสดีค่ะ ผม/ดิฉัน <span style="color:blue">@user.FullName</span> ใบอนุญาตตัวแทน/นายหน้าเลขที่ <span style="color:blue">@user.LicenseNumber</span>
                                ได้รับข้อมูลของคุณ <span style="color:blue">@lead.FirstName</span> จาก TSR <span style="color:blue">@lead.ReferName</span> จึงขออนุญาตแนะนำแบบประกัน <span style="color:blue">@ViewBag.LeadProduct </span>
                                พร้อมบันทึกไฟล์เสียงสักประมาณ 5 นาที คุณ <span style="color:blue">@lead.FirstName</span> สะดวกเรียนสายได้นะคะ/ครับ
                            </span>
                        }
                        else if (lead.CallSourceCode == "38" || lead.CallSourceCode == "20085")//ลูกค้าเก่า ,Last Chan
                        {
                            <span>
                                สวัสดีค่ะ ผม/ดิฉัน <span style="color:blue">@user.FullName</span> ใบอนุญาตตัวแทน/นายหน้าเลขที่ <span style="color:blue">@user.LicenseNumber</span>
                                ติดต่อมาเนื่องจาก คุณ <span style="color:blue">@lead.FirstName</span> เป็นลูกค้าเก่าที่ให้ความสนใจแผนประกันของเรา
                                @(lead.CallSourceCode == "38"?"โดยที่ท่านเคยให้เกียรติตอบรับความคุ้มครองของ Generali มาก่อนหน้านี้":"")
                                จึงขออนุญาตแนะนำแบบประกัน <span style="color:blue">@ViewBag.LeadProduct </span>
                                พร้อมบันทึกไฟล์เสียงสักประมาณ 5 นาที คุณ <span style="color:blue">@lead.FirstName</span> สะดวกเรียนสายได้นะคะ/ครับ
                            </span>
                        }
                        else
                        {
                            <span>
                                สวัสดีค่ะ ผม/ดิฉัน <span style="color:blue">@user.FullName</span> ใบอนุญาตตัวแทน/นายหน้าเลขที่ <span style="color:blue">@user.LicenseNumber</span>
                                ได้รับข้อมูลของคุณ <span style="color:blue">@lead.FirstName</span> จากคุณ <span style="color:blue">@lead.ReferName</span> จึงขออนุญาตแนะนำแบบประกัน <span style="color:blue">@ViewBag.LeadProduct </span>
                                พร้อมบันทึกไฟล์เสียงสักประมาณ 5 นาที คุณ <span style="color:blue">@lead.FirstName</span> สะดวกเรียนสายได้นะคะ/ครับ
                            </span>
                        }
                        <br />
                        <span style="color:blue">
                            ลูกค้า   สะดวก / ไม่สะดวก
                        </span>
                        <br />
                        <span style="color:teal">กรณีสะดวกให้ TSR พูดว่า :</span><span> ขอบพระคุณมากค่ะ / ครับ ทั้งนี้</span>
                    }
                    @ViewBag.ConsentText
                    @if (lead.CallSource.StartsWith("Refer") || lead.CallSource.StartsWith("Friend") || lead.CallSourceCode == "38" || lead.CallSourceCode == "20085")
                    {
                        <span>คุณ <span style="color:blue">@lead.FirstName</span> ยินยอมหรือไม่ยินยอมคะ/ครับ</span>
                    }
                </p>
                <div class="form-inline" id="div-consent-flag">
                    <div class="checkbox checkbox-inline checkbox-primary">
                        @Html.RadioButton("consent_flag", "Yes", (ViewBag.ConsentFlag == "Yes" ? true : false), new { @id = "consent_flag_yes" })
                        @Html.Label("ยินยอม", new { @for = "consent_flag_yes" })
                    </div>
                    <div class="checkbox checkbox-inline checkbox-primary">
                        @Html.RadioButton("consent_flag", "No", (ViewBag.ConsentFlag == "No" ? true : false), new { @id = "consent_flag_no" })
                        @Html.Label("ไม่ยินยอม", new { @for = "consent_flag_no" })
                    </div>
                    <div class="checkbox checkbox-inline checkbox-primary">
                        @Html.RadioButton("consent_flag", "NoSelect", (ViewBag.ConsentFlag == "NoSelect" ? true : false), new { @id = "consent_flag_noselect" })
                        @Html.Label("ยังไม่ได้สอบถาม", new { @for = "consent_flag_noselect" })
                    </div>
                    <br />
                    <p><small>@ViewBag.ConsentHistoryText</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("consent_data_source", (string)ViewBag.ConsentDataSource)
@Html.Hidden("consent_type", (string)ViewBag.ConsentType)
@Html.Hidden("consent_version", (string)ViewBag.ConsentVersion)
@Html.Hidden("consent_id", (int)ViewBag.ConsentId)
@Html.Hidden("consent_date", (DateTime?)ViewBag.ConsentDate)
@Html.Hidden("consent_time", (string)ViewBag.ConsentTime)
