﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/content/brandlogos/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>@ViewBag.Title | Generali Thailand</title>
    
    <!-- Add local styles, mostly for plugins css file -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet">

    @if (IsSectionDefined("Styles")) {@RenderSection("Styles", required: false)}

    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")

    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")

    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/priceformat")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/plugins/tinycon")

    @if(IsSectionDefined("Scripts"))  {@RenderSection("scripts", required: false)}
   
    <script type="text/javascript">
        // if you need to include host and port in the url, use this:
        window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)), Url.Content("~/")).ToString(), true));
        
    </script>
</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper animated fadeInDown">
            <!-- Modal Popup -->
            @Html.Partial("_ModalPopUp")           
            <!-- Main view  -->
            <div id="main-div">
                @RenderBody()
            </div>
    </div>
</body>
</html>



