﻿<div class="footer red-bg">
    <div class="col-md-5 text-justify">
        <h5>บริษัท  เจนเนอราลี่ ประกันภัย (ไทยแลนด์) จำกัด (มหาชน)</h5>
        <h6>
            87/2  อาคาร ซีอาร์ซี ทาวเวอร์ ออลซีซั่นส์ เพลส ชั้น 16  ยูนิต 1601  และ 1607  ถนนวิทยุ
            แขวงลุมพินี  เขตปทุมวัน  กรุงเทพฯ  10330 โทร. 0-2685-3828 โทรสาร. 0-2685-3830
        </h6>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 text-justify">
        <h5>Generali Insurance (Thailand) Public Company Limited</h5>
        <h6>
            87/2 CRC Tower, All  Seasons Place, 16th Floor, Unit 1601 and 1607, Wireless Road,
            Lumpini, Patumwan, Bangkok 10330 Tel. 0-2685-3828   Fax. 0-2685-3830
        </h6>
    </div>
</div>
