﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/content/brandlogos/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>@ViewBag.Title | Generali Thailand</title>
    
    <!-- Add local styles, mostly for plugins css file -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet">

    @if (IsSectionDefined("Styles")) {@RenderSection("Styles", required: false)}

    
    @Styles.Render("~/font-awesome/css")

    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/css")


    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vuejs")
    @Scripts.Render("~/plugins/metsiMenu")
    @Scripts.Render("~/plugins/pace")
    @Scripts.Render("~/plugins/slimScroll")

    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/plugins/tinycon")

    @if(IsSectionDefined("Scripts"))  {@RenderSection("scripts", required: false)}
   
    <script type="text/javascript">
    // if you need to include host and port in the url, use this:
        window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)), Url.Content("~/")).ToString(), true));
        window.applicationBaseUrl = "@Request.SalesLink()/";
        window.crmBaseUrl = "@Request.CRMLink()/";
        $(document).ready(function () {
            getNewLeadAmount();
            _ajax_bindnotification('@User.Identity.GetUserId()');
    });
    </script>
</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper animated fadeInDown">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="backdrop-bg">
            <!-- Modal Popup -->
            @Html.Partial("_ModalPopUp")

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            <div id="main-div">
                @RenderBody()
            </div>

            <div class="h-100"></div>

            <!-- Footer -->
            @Html.Partial("_Footer")


        </div>
        <!-- End page wrapper-->

    </div>
    <div class="noty-custom-container">
        <div id="noty-custom-header" class='clearfix text-center bg-warning' style="display: none;">
            <span class="">ข้อความแจ้งเตือน <span id="noty_counter" class="badge badge-warning"></span></span>
            <button id='noty_expand' class='btn btn-white btn-xxs hidden pull-right'><i class='fa fa-chevron-up'></i></button>
            <button id='noty_collapse' class='btn btn-white btn-xxs pull-right'><i class='fa fa-chevron-down'></i></button>
            <button id='noty_clear' class='btn btn-white btn-xxs pull-right' title="ล้างรายการแจ้งเตือน"><i class='fa fa-tasks'></i></button>
        </div>
        <div class="noty-custom-body"></div>
    </div>
    <!-- End wrapper-->
    @Scripts.Render("~/plugins/priceformat")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/chosen")
</body>
</html>
