﻿@using System.Configuration
@using Microsoft.AspNet.Identity
@using GT.InboundApplication.Model.Common;
@{
    var linkcrm = Request.CRMLink();
}
@if (Request.IsAuthenticated)
{
    if (!User.IsInAnyRoles("UW", "QC"))
    {
        <div id="new-lead-amount" style="margin-top:10px;font-size:20px;">
            
        </div>
    }    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#"><i class="fa fa-male"></i>@User.Identity.GetUserName()</a>
            </li>
                @if (User.IsSaleTeam())
                {                
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-warning" id="alert_number"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages ">
                        <div class="dropdown-messages-body">
                            <div id="notification-div" class="full-height-scroll"></div>
                        </div>
                    </ul>   
                </li>  
                }
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>ออกจากระบบ</a></li>          
        </ul>
    }
}
else
{
    <ul class="nav navbar-top-links navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<script type="text/javascript">

    function getNewLeadAmount() {
        if ($("#new-lead-amount").length > 0) {
            $.ajax({
                url: '@linkcrm/leadassignment/NewLeadAmount',
                success: function (data) {
                    $("#new-lead-amount").html(data);
                }
            });
        }
    }
    function cancel_appointment(el) {
        var appointmentid = $(el).data("appointmentid");
        var name = $(el).data("name");
        swal({
            title: "ยืนยัน?",
            text: "คุณต้องการยกเลิกนัดหมายลูกค้า "+name,
            icon: "warning",
            buttons: {
                cancel: {
                    text: "ปิด",
                    value: null,
                    visible: true,
                },
                confirm: {
                    text: "ยกเลิกนัดหมาย",
                    value: true,
                    visible: true,
                    closeModal: true
                },
            }
        }).then(function (val) {
            if (val) {
                $.ajax({
                    type: "POST",
                    url: "@linkcrm/Prospect/CancelAppointment", data: { appointmentid: appointmentid },
                    success: function (retVal) {
                        if (retVal == 1) {
                            swal('Message Box', 'ยกเลิกนัดหมายแล้ว', "success");
                            $(el).parents("li.appointmentitem").remove();
                            $("#alert_number").html(Number($("#alert_number").html()) - 1);
                        }
                        else {
                            swal('Message Box', 'เกิดข้อผิดพลาดกรุณาแจ้งผู้ดูแลระบบ', 'warning');
                        }
                    },
                    error: function () {
                        swal('Message Box', 'เกิดข้อผิดพลาดกรุณาแจ้งผู้ดูแลระบบ', 'warning');
                    }
                });
                
            }
        });
    }
    function _ajax_bindnotification(userid) {
        var item = "";
        var domain = '@linkcrm/';
        var tsrclass = "@(User.IsTSR()?"hidden":"")";
        if ($("#alert_number").length > 0) {
            $.ajax({
                url: domain + '/prospect/GetAppointmentAlert/' + userid + '',
                cache:false,
                success: function (data) {
                    if (data.length > 0) {
                        data.forEach(function (entry) {
                            item += "<li class='appointmentitem'>"
                                + "<div class='dropdown-messages-box swing' style='background-color:" + entry.backcolor + ";'>"
                                + "<a href='" + domain + "Prospect/CreateFollowUpActivity?id=" + entry.prospectid + "&appointmentcode=" + entry.appointmentid + "'' class='pull-left'>"
                                + "<img alt='image' class='img-circle' src='" + domain + entry.imagepath + "' /><br/>"
                                + "<small class='text-muted'><font color='red'>" + entry.delay + "</font></small>"
                                + "</a>"
                                + "</div>"
                                + "<div class='media-body'>"
                                + "<a class='pull-right' href='#' onclick='cancel_appointment(this)' data-appointmentid='" + entry.appointmentid + "' data-name='" + entry.name + "'><i class='fa fa-close text-danger'></i></a>"
                                + "<small class='pull-left'><i class='fa fa-calendar'></i> " + entry.appointmenttime + "</small>"
                                + "<a href='" + domain + "Prospect/CreateFollowUpActivity?id=" + entry.prospectid + "&appointmentcode=" + entry.appointmentid + "' class='pull-left'>"
                                + "<small class='text-muted'>นัดหมายลูกค้า <strong>" + entry.name + "</strong> เรื่อง <strong>" + entry.appointmenttopic + "</strong></small></a>"
                                + "<br/><small class='text-muted pull-left'> Booking Date : " + entry.lastactivitydate + "</small>"
                                + "<br/><small class='text-muted pull-left'> " + entry.TSR + "</small></div>"
                                + "<hr/></li>"
                        });
                        $("#alert_number").html(data.length);
                    }
                    else {
                        item += "<li>"
                            + "<div class='text-center link-block'>"
                            + "<strong>No Notifications</strong>"
                            + "</a>"
                            + "</div>"
                            + "</li><li class='divider'></li>";

                        $("#alert_number").html("");
                    }

                    item +=
                        "<li>"
                        + "<div class='text-center link-block col-sm-6'>"
                        + "<a href='" + domain + "Prospect/Notification'>"
                        + "<i class='fa fa-bell-o'></i> &nbsp;<strong>Read All</strong>"
                        + "</a>"
                        + "</div>"
                        + "<div class='text-center link-block col-sm-6'>"
                        + "<a href='" + domain + "Prospect/NotificationCalendar'>"
                        + "<i class='fa fa-calendar'></i> &nbsp;<strong>Calendar</strong>"
                        + "</a>"
                        + "</div>"
                        + "</li>";

                    $("#notification-div").html("");
                    $("#notification-div").html(item);
                }
            });
        }
        
    }
</script>
