﻿<div class="modal inmodal fade" id="msg-div" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body dropdown-messages-body">
                <h5 id="msg-title"></h5>
                <div class="full-height-scroll">
                    <div id="msg-message"></div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary dim" data-dismiss="modal">Close</button>
                <!--class="btn btn-white" -->
            </div>
        </div>
    </div>
</div> 

<div class="modal inmodal fade" id="progress-div" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h5 id="progress-title"></h5>
                <div id="progress-message"></div>
            </div>
            <div style="clear:both;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary dim hide" id="progress-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
<!-- loading progress -->
<div id="spiner-loader" style="display:none; position: absolute; top: 50%; left: 50%; margin-top: -200px; margin-left: -100px; width: 100px; height: 100px; ">
    <div class="sk-spinner sk-spinner-pulse"></div>
</div>

<script type="text/javascript">
    function startloading() {
        $("#progress-title").html('ข้อความ');
        $("#progress-message").html('โปรดรอสักครู่ ระบบกำลังดำเนินการ..');
        $('#progress-div').modal();
    }
    function startloading(title, message)
    {
        $("#progress-title").html(title);
        $("#progress-message").html(message);
        $('#progress-div').modal();
    }
    function stoploading()
    {
        $('#progress-close').click();
    }

    //function pop_message(title, message, type) {
    //    swal({ title: title, text: message, html:true, type: type, confirmButtonColor: '#C21B17', timer:3000});
    //}
    function pop_submitform(submitform)
    {
        swal({
            title: 'Success!',
            text: 'Data has been saved.',
            type: 'success',
            confirmButtonColor: '#C21B17'
        }).then(
        function () {
            submitform.submit();
        });
        
    }

    function pop_message(title, message) {
        $("#msg-title").html(title);
        $("#msg-message").html(message);
        $("#msg-div").modal();
    }
</script>
