﻿@using Microsoft.AspNet.Identity
@using System.Configuration
@using GT.InboundApplication.Model.Common
@using GT.CRMApplication.Helpers
@{
    var linkcrm = Request.CRMLink();
    //var linksales = Request.SalesLink();
    var app_ver = ConfigurationManager.AppSettings["application_version"].ToString();
    var module = ConfigurationManager.AppSettings["application_module"].ToString();
    var project = ProjectSetupModel.GetProjectName();
}
<nav class="navbar-default navbar-static-side" role="navigation">        
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header" style="padding:0px;">
                @if (Request.IsAuthenticated)
                {
                    <div class="nav-label text-center" style="background-color: @(project.StartsWith("IG") ? "#C21B17": "#1C84C6"); color: #FFFFFF;padding:5px;font-size:46px;"><b>@project</b></div>
                    <div class="dropdown profile-element" style="padding: 20px 25px;">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">@User.Identity.GetUserName()</strong>
                                </span> <span class="text-muted text-xs block">จัดการบัญชีผู้ใช้งาน<b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInDown m-t-xs">
                            <li>@Html.ActionLink("เปลี่ยนรหัสผ่าน", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            @if (User.IsAdmin())
                            {
                                <li><a href="@linkcrm/Account/VerificationMember" title="Verification Member">ตรวจสอบสมาชิกใหม่</a></li>
                            }
                            @if (User.IsSuperAdmin())
                            {
                                <li><a href="@linkcrm/ApplicationUsers" title="Switch Account">Switch Account</a></li>
                                <li><a href="@linkcrm/elmah" title="">Elmah</a></li>
                            }
                        </ul>
                    </div>
                }
                <div class="logo-element">
                    @project
                </div>
            </li>
            <li class="@Html.IsSelected("Index","Home")" style="z-index:0;">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-home"></i><span class="nav-label">หน้าแรก</span> </a>
            </li>

            @if (Request.IsAuthenticated)
            {
                if (User.IsAdmin())
                {
                    <li class="@Html.IsSelected("Index,Search,CreateLeadProfile,DistributeLead,UnAssignLead,UploadLead,UploadResult", "LeadAssignment,Prospect")">
                        <a href="#"><i class="fa fa-fw fa-database"></i><span class="nav-label">จัดการลีด</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected("UploadLead,UploadResult", "LeadAssignment")"><a href="@linkcrm/LeadAssignment/UploadLead"><i class="fa fa-fw fa-cubes"></i><span class="nav-label">อัพโหลดลีด</span></a></li>
                            <li class="@Html.IsSelected("Index,Search", "LeadAssignment")"><a href="@linkcrm/LeadAssignment"><i class="fa fa-fw fa-cubes"></i><span class="nav-label">รายการลีด</span></a></li>
                            <li class="@Html.IsSelected("DistributeLead", "LeadAssignment")"><a href="@linkcrm/LeadAssignment/DistributeLead"><i class="fa fa-fw fa-mail-forward"></i><span class="nav-label">แจกลีดให้ TSR</span></a></li>
                            <li class="@Html.IsSelected("UnAssignLead", "LeadAssignment")"><a href="@linkcrm/LeadAssignment/UnAssignLead"><i class="fa fa-fw fa-mail-reply"></i><span class="nav-label">เรียกคืนลีด</span></a></li>
                            <li class="@Html.IsSelected("TsrLeadInspect", "LeadAssignment")"> <a href="@linkcrm/LeadAssignment/TsrLeadInspect"><i class="fa fa-fw fa-phone"></i>View TSR Lead</a></li>
                        </ul>
                    </li>
                }
                if (User.IsTSR())
                {                    
                    <li class="@Html.IsSelected("MyLead,Search,CreateActivity,MainProfile", "LeadAssignment,Prospect")"> <a href="@linkcrm/LeadAssignment/MyLead"><i class="fa fa-fw fa-phone"></i>My Lead</a></li>
                }
                
                <li class="@Html.IsSelected(Html.ViewContext.RouteData.Values["action"].ToString(),"Report")">
                    <a href="#"><i class="fa fa-fw fa-bar-chart"></i><span class="nav-label">รายงาน</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @if (User.IsAdmin())
                        {
                            <li class="@Html.IsSelected("ConfirmationCall", "Report")"><a href="@linkcrm/Report/ConfirmationCall"><i class="fa fa-fw fa-bar-chart"></i>Confirmation Call Result</a></li>
                            <li class="@Html.IsSelected("DailyReport", "Report")"><a href="@linkcrm/Report/DailyReport"><i class="fa fa-fw fa-bar-chart"></i>Daily Report</a></li>
                            <li class="@Html.IsSelected("Productivity", "Report")"><a href="@linkcrm/Report/Productivity"><i class="fa fa-fw fa-bar-chart"></i>Productivity Report</a></li>
                            <li class="@Html.IsSelected("Unsuccess", "Report")"><a href="@linkcrm/Report/Unsuccess"><i class="fa fa-fw fa-bar-chart"></i>Unsuccess Report</a></li>
                            <li class="@Html.IsSelected("DailyTrackingCallReport", "Report")"><a href="@linkcrm/Report/DailyTrackingCallReport"><i class="fa fa-fw fa-bar-chart"></i>Daily Tracking Call Report</a></li>
                            <li class="@Html.IsSelected("TimeAttendance", "Report")"><a href="@linkcrm/Report/TimeAttendance"><i class="fa fa-fw fa-bar-chart"></i>Time Attendance Report</a></li>
                        }
                        <li class="@Html.IsSelected("Invoice", "Report")"><a href="@linkcrm/Report/Invoice"><i class="fa fa-fw fa-bar-chart"></i>Invoice</a></li>
                        <li class="@Html.IsSelected("RawDataReport", "Report")"><a href="@linkcrm/Report/RawDataReport"><i class="fa fa-fw fa-bar-chart"></i>Raw Data</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected("", "Leave")"> <a href="@linkcrm/Leave/Index"><i class="fa fa-fw fa-calendar"></i>การลา</a></li>
                if (User.IsManager())
                {
                    <li class="@Html.IsSelected("Index,Create,Delete,Details,Edit", "ApplicationUsers,ResponseCategory,ResponseReason")">
                        <a href="#"><i class="fa fa-fw fa-cog"></i><span class="nav-label">ตั้งค่า</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected("Index", "ApplicationUsers")"><a href="@linkcrm/ApplicationUsers">ผู้ใช้งาน</a></li>
                            <li class="@Html.IsSelected("Index,Create,Delete,Details,Edit", "OfferProduct,ResponseCategory,ResponseReason,ResponseSubReason")">
                                <a href="#">ผลการตอบรับ<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li class="@Html.IsSelected("Index,Create,Delete,Details,Edit", "ResponseCategory")"><a href="@linkcrm/ResponseCategory">ผลการตอบรับ</a></li>
                                    <li class="@Html.IsSelected("Index,Create,Delete,Details,Edit", "ResponseReason")"><a href="@linkcrm/ResponseReason">เหตุผล</a></li>
                                </ul>
                            </li>
                            <li class="@Html.IsSelected("Index", "Coverages")"><a href="@linkcrm/Coverages">ข้อมูล Plan</a></li>
                            <li class="@Html.IsSelected("Index", "SpecialCalendar")"><a href="@linkcrm/SpecialCalendar">วันหยุด</a></li>
                            @if (User.IsSuperAdmin())
                            {
                                <li class="@Html.IsSelected("Index", "ValuePreferences")"><a href="@linkcrm/ValuePreferences">ValuePreference</a></li>
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </div>
    <div style="padding-left:15px; color:white">
        <h6>Confirmation Call System</h6>
        <h6>Direct Business Channel</h6>
        @if (Request.IsAuthenticated && (User.IsSuperAdmin()))
        {
            <h6>Server: @Html.GetServerName()</h6>
            <h6>Database: @Html.GetDatabaseName()</h6>
            <h6>Project: @project</h6>
        }
    </div>
</nav>