﻿<div id="broadcast-message" style="display:none">
    <div class="row" v-if="ibh.Message">
        <div class="m-b-none col-lg-12" v-bind:class="ibh.Style" style="overflow:hidden">
            <div class="marquee">
                <div id="bcmessage-ibh" class="m-b-none m-l-none m-r-none" v-bind:class="ibh.Style" v-bind:style="{padding:'0px', fontSize: ibh.FontSize }">
                    {{ ibh.Message }}
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="pm.Message">
        <div class="m-b-none col-lg-12" v-bind:class="pm.Style" style="overflow:hidden">
            <div class="marquee">
                <div id="bcmessage-pm" class="m-b-none m-l-none m-r-none" v-bind:class="pm.Style" v-bind:style="{padding:'0px', fontSize: pm.FontSize }">
                    {{ pm.Message }}
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="sup.Message">
        <div class="m-b-none col-lg-12" v-bind:class="sup.Style" style="overflow:hidden">
            <div class="marquee">
                <div id="bcmessage-sup" class="m-b-none m-l-none m-r-none" v-bind:class="sup.Style" v-bind:style="{padding:'0px', fontSize: sup.FontSize }">
                    {{ sup.Message }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0; border-bottom:1px solid #808080">
        <div class="navbar-header generali-symbol" style="width:40%">
            <div class="col-md-12">
                <div class="col-md-2 col-md-offset-1 generali-band">
                    <a class="navbar-minimalize welcome-logo" href="#">
                        <img src="~/Content/brandlogos/generali-logo-big.svg" class="generali-logo" />
                    </a>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <div class="col-md-12">
                        <div class="text-muted welcome-message">
                            <h2><b>Confirmation Call System</b></h2>
                            <p>Generali Thailand</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>