﻿@model GT.InboundApplication.Model.CRM.LeaveRequest

@{
    ViewBag.Title = "ยืนยันลบข้อมูล?";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="m-b-md">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m=>m.Id)
                            <div class="form-horizontal">
                                <h4>@ViewBag.Title</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="CalendarDate">วันที่</label>
                                    <div class="col-md-2">                                        
                                        @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control",@autocomplete="off" } })
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <a href="@Url.Action("Index")" class="btn btn-default">กลับ</a>
                                        <input type="submit" value="ลบ" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

