﻿@model GT.InboundApplication.Model.CRM.LeaveRequest

@{
    ViewBag.Title = "แก้ไข";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="m-b-md">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id);
                        <div class="form-horizontal">
                            <h4>วันลา</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-2" })
                            <div class="form-group">
                                <label class="control-label col-md-2" for="CalendarDate">วันที่</label>
                                <div class="col-md-2">
                                    <div class="input-group date" data-provide="datepicker" data-date-format="d/mm/yyyy">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="บันทึก" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

