﻿@using GT.InboundApplication.Model.Common;
@model IEnumerable<GT.InboundApplication.Model.CRM.LeaveRequest>

@{
    ViewBag.Title = "การลา";
    int year = (int)ViewBag.year;
    int cyear = DateTime.Today.Year;
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div>
                        <div class="form-inline m-b-sm">
                            @using (Html.BeginForm())
                            {
                                <select name="year" class="form-control">
                                    @for (int y = cyear - 1; y <= cyear + 1; y++)
                                    {
                                        <option value="@y" @(year == y ? "selected" : "")>@y</option>
                                    }
                                </select>
                                <input type="submit" value="ค้นหา" class="btn btn-primary btn-xs" />
                                if (User.IsTSR())
                                {
                                    <a href="@Url.Action("Create")" class="btn btn-primary btn-xs">เพิ่มข้อมูล</a>
                                }
                            }
                        </div>
                        
                        <table class="table table-bordered table-condensed table-striped">
                            <tr>
                                @if (!User.IsTSR())
                                {
                                    <th>
                                        TSR
                                    </th>
                                }
                                <th>
                                    วันที่
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Remark)
                                </th>
                                <th>
                                    สถานะ
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                var ci = System.Globalization.CultureInfo.CreateSpecificCulture("th-TH");
                        <tr>
                            @if (!User.IsTSR())
                            {
                                <td>
                                    @item.UserName
                                </td>
                            }
                            <td>
                                @item.Date.ToString("dddd dd MMMM yyyy", ci)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                            <td>
                                @if (item.Status == 0)
                                {<span class="label label-default">รออนุมัติ</span>}
                                @if (item.Status == 1)
                                {<span class="label label-success">อนุมัติ</span>}
                                @if (item.Status == 2)
                                {<span class="label label-danger">ปฏิเสธ</span>}

                            </td>
                            <td>
                                @if (User.IsTSR())
                                {
                                    <div class="btn-group" style="display: flex">
                                        <a class="btn btn-white btn-sm" href="@Url.Action("Edit", new { Id = item.Id })" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-white btn-sm btn-delete" href="@Url.Action("Delete", new { Id = item.Id })" title="Delete"><i class="fa fa-remove"></i></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="btn-group" style="display: flex">
                                        <a class="btn btn-success btn-sm" href="@Url.Action("Approve", new { Id = item.Id })" title="อนุมัติ">อนุมัติ</a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Reject", new { Id = item.Id })" title="ปฏิเสธ">ปฏิเสธ</a>
                                    </div>
                                }

                            </td>
                        </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>