﻿@model GT.InboundApplication.Model.CRM.Prospect_Activity

<div class="col-lg-11 col-lg-offset-1">
    <div id="call-div">
        <font color="#C21B17"><h2>ประวัติการสนทนา</h2></font>
        <dl class="dl-horizontal">
            <dt>เวลาที่สนทนา</dt>
            <dd>@Model.CreatedDate.Value.ToString("dd/MM/yyyy") @Model.CallTime </dd>            
        </dl>
    </div>
    <div id="sale-div">
        <dl class="dl-horizontal">            
            <dt>ผลตอบรับของลูกค้า</dt>
            <dd>
                @Model.ResponseCategory
            </dd>
            <dt>ผลตอบรับ (Level 1)</dt>
            <dd>
                @Model.ResponseReason
            </dd>            
            <dt>รายละเอียดเพิ่มเติม</dt>
            <dd>
                @Model.Detail
            </dd>
        </dl>
    </div>
    
    
    <div class="hr-line-dashed"></div>    
    
    <div id="appointment-div" class="gray-bg border-all">
        <div class="form-group" style="padding-top:10px;">
            <div class="col-sm-9 col-sm-offset-3">
                <font color="#C21B17"><h2><i class="fa fa-calendar"></i>&nbsp; การนัดหมาย</h2></font>
            </div>
        </div>
        <dl class="dl-horizontal">
            <dt>วันที่นัดหมาย</dt>
            <dd>  @(Model.Prospect_Appointment == null ? "" : Model.Prospect_Appointment.AppointmentDate.Value.ToString("dd/MM/yyyy")) </dd>
            <dt>เวลา</dt>
            <dd>
                @(Model.Prospect_Appointment==null? "" : Model.Prospect_Appointment.AppointmentTime)
            </dd>
            <dt>หัวข้อ</dt>
            <dd>
                @(Model.Prospect_Appointment==null? "" : Model.Prospect_Appointment.Topic)
            </dd>
            <dt>รายละเอียด</dt>
            <dd>
                @(Model.Prospect_Appointment==null? "" : Model.Prospect_Appointment.Note)
            </dd>
        </dl>
    </div>
    <div class="hr-line-dashed"></div>
    </div>
    