﻿@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;
@using GT.CRMApplication.WebMVC5.Helpers;
@using GT.InboundApplication.Model.CRM;
@model GT.InboundApplication.Model.CRM.Prospect_Activity
@{
    var project = AppConfigHelper.ProjectName();
    var telephony_url = System.Configuration.ConfigurationManager.AppSettings["telephony_url"].ToString();
    var telephony_accesstoken = System.Configuration.ConfigurationManager.AppSettings["telephony_accesstoken"].ToString();
    var ExtensionCode = User.Identity.GetExtension();
    var qcallprefix = AppConfigHelper.QCallPrefix();
    var qcallprefix_random = AppConfigHelper.QCallRandomPrefix();
    var port_no = AppConfigHelper.PortNo();
    var ws_qagent = System.Configuration.ConfigurationManager.AppSettings["ws_qagent"].ToString();
    var leadAssigmentId = Model.LeadAssignmentId;
    var lead = (LeadProfile)ViewBag.LeadProfile;
    var user = (ApplicationUser)ViewBag.User;
}
<div class="ibox-content animated fadeInDown">
    <!-- add reference zone -->
    @Html.ValidationSummary(true)
    @if (Model.AppointmentId > 0)
    {
        <div class="form-group">
            @{
                var prev_activity = Model.Prospect_Profile.Prospect_Activity.SingleOrDefault(row => !row.Prospect_Appointment.IsNullOrEmpty() && row.Prospect_Appointment.ItemId == Model.AppointmentId);
                var prev_appointment = prev_activity.Prospect_Appointment;
            }
            <label class="col-sm-3 control-label text-right">อ้างอิงจากนัดหมาย :</label>
            <div class="col-sm-8">
                <div class="alert alert-warning">
                    <h3>@prev_appointment.Topic</h3>
                    <span>วันที่นัดหมาย : <i class="fa fa-calendar"></i> @(prev_appointment.AppointmentDate.Value.ToString("dd/MM/yyyy") + " - " + prev_appointment.AppointmentTime) </span>
                    <br />
                    Note : <br /><span>@(prev_appointment.Note.IsNullOrEmpty() ? "-" : prev_appointment.Note)</span>
                </div>
            </div>
        </div>
    }
    <!-- end reference zone -->
<div id="div-form" class="form-horizontal">
    @Html.HiddenFor(model => model.Prospect_Profile.ProspectId)
    @Html.HiddenFor(model => model.ItemId)
    @Html.HiddenFor(model => model.AppointmentId)
    @Html.HiddenFor(model => model.ECommercePurchaseId)
    @Html.HiddenFor(model => model.QCallId)
    @Html.HiddenFor(model => model.TalkTime)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CallFrom)
    @Html.HiddenFor(model => model.Priority)
    @Html.HiddenFor(model => model.SubPriority)
    @Html.HiddenFor(model => model.PriorityVersion)
    @Html.HiddenFor(model => model.PriorityTime)
    @Html.HiddenFor(model => model.QCallMachineAnswer)
    @Html.HiddenFor(model => model.RingTime)


    @if (!String.IsNullOrEmpty(ExtensionCode))
    {
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="col-sm-12 no-padding">
                    <div class="input-group">
                        <input id="ctc-phonenumber" class="form-control input-numeric" value="@(Model.Prospect_Profile.TelPhone.isValidPhoneNumber()?Model.Prospect_Profile.MaskedTelphone:"")" @(Model.Prospect_Profile.TelPhone.isValidPhoneNumber()?"readonly":"") />

                        <div class="input-group-btn">
                            <a id="btn-call-custom" class="btn btn-success">
                                <i id="i-spinner-phone-custom" class="fa fa-spinner fa-pulse fa-fw hidden"></i>
                                <i id="i-phone-custom" class="fa fa-fw fa-phone"></i>โทรออก (ตัด @qcallprefix)
                            </a>
                            @*<a id="btn-call-custom-random" class="btn btn-info">
                                    <i id="i-spinner-phone-custom-random" class="fa fa-spinner fa-pulse fa-fw hidden"></i>
                                    <i id="i-phone-custom-random" class="fa fa-fw fa-phone"></i>โทรออก (ตัด @qcallprefix_random)
                                </a>*@
                        </div>
                    </div>
                </div>
                <hr />               
            </div>
            <div class="col-sm-3">
                @*<p>QAgent Extension: <font color="blue">@ExtensionCode</font></p>*@
                @*<h6 class="text-default">โปรดตรวจสอบ <u>QAgent Username ด้านบน และหัวเครื่องในระบบ QAgent ให้ตรงกัน</u> ก่อนโทรออก, หากไม่ตรงกันกรุณาแจ้ง Supervisor</h6>*@
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning">User ของท่านยังไม่ได้กำหนดค่า Extension เพื่อใช้งาน Click to Call</div>
    }
    <!-- end source of call division -->
    <div class="form-group">
        <label class="col-sm-3 control-label">เวลาที่สนทนา</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(modelItem => modelItem.CallTime, "{0:HH:mm}", new { @class = "form-control input-time", @data_mask = "99:99" })
        </div>
    </div>

    <br />
    <!-- switching division -->
    <div id="subheadings" class="gray-bg border-all">
        <div id="sale-div" >

            <div class="form-group m-t-md">
                <label class="col-sm-3 control-label">ผลตอบรับของลูกค้า</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(modelItem => modelItem.ResponseCategoryCode, (IEnumerable<SelectListItem>)ViewBag.ResponseCategory, "เลือก", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">เหตุผล</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(modelItem => modelItem.ResponseReasonCode, (IEnumerable<SelectListItem>)ViewBag.ResponseReason, "เลือก", new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">ความประสงค์เพิ่มเติม</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(modelItem => modelItem.ActivityType, (IEnumerable<SelectListItem>)ViewBag.Activity, "", new { @class = "form-control" })                        
                    </div>
                </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">รายละเอียดเพิ่มเติม</label>
                <div class="col-sm-8">
                    @Html.TextAreaFor(modelItem => modelItem.Detail, new { @class = "form-control" })
                </div>
            </div>

        </div>

        <br />
    </div>
    <!-- end switching division -->
    <div class="hr-line-dashed"></div>
    @*
        <div class="form-group">
            <label class="col-sm-3 control-label">บันทึก</label>
            <div class="col-sm-8">
                @Html.TextAreaFor(modelItem => modelItem.Note, new { @class = "form-control" })
            </div>
        </div>*@
    <div class="form-group">
        <label class="col-sm-3 control-label">สร้างการนัดหมาย</label>
        <div class="col-sm-9">
            <button class="btn btn-primary" id="newappointment"><i class="fa fa-calendar"></i>&nbsp;&nbsp;นัดโทรกลับหาลูกค้า</button>
        </div>
    </div>
    <!-- appointment date -->
    <div id="appointment-div" class="gray-bg border-all">
        <div class="form-group" style="padding-top:10px;">
            <div class="col-sm-9 col-sm-offset-3">
                <font color="#C21B17"><h2><i class="fa fa-calendar"></i>&nbsp; การนัดหมาย</h2></font>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">วันที่นัดหมาย</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(modelItem => modelItem.Prospect_Appointment.AppointmentDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-date-future" })
            </div>
            <label class="col-sm-1 control-label">เวลา</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(modelItem => modelItem.Prospect_Appointment.AppointmentTime, new { @class = "form-control input-time" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">หัวข้อ</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(modelItem => modelItem.Prospect_Appointment.Topic, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">รายละเอียด</label>
            <div class="col-sm-8">
                @Html.TextAreaFor(modelItem => modelItem.Prospect_Appointment.Note, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <!-- end appointment date -->
    <br />
    <div class="form-group">
        <label class="col-sm-3 control-label">อารมณ์ของลูกค้า</label>
        <div class="col-sm-8">
            <div class="form-inline">
                <div class="radio radio-inline radio-danger">
                    @Html.RadioButtonFor(model => model.EmotionCode, "smile", new { @id = "EmotionCode_Smile" })
                    <label for="EmotionCode_Smile">
                        อารมณ์ดี
                        <h2><font color="green"><i class="fa fa-smile-o"></i></font></h2>
                    </label>
                </div>
                <div class="radio radio-inline radio-danger">
                    @Html.RadioButtonFor(model => model.EmotionCode, "plain", new { @id = "EmotionCode_Plain" })
                    <label for="EmotionCode_Plain">
                        เฉยๆ
                        <h2><i class="fa fa-smile-o"></i></h2>
                    </label>
                </div>
                <div class="radio radio-inline radio-danger">
                    @Html.RadioButtonFor(model => model.EmotionCode, "frown", new { @id = "EmotionCode_Frown" })
                    <label for="EmotionCode_Frown">
                        อารมณ์เสีย
                        <h2><font color="lightblue"><i class="fa fa-frown-o"></i></font></h2>
                    </label>
                </div>
                <div class="radio radio-inline radio-danger">
                    @Html.RadioButtonFor(model => model.EmotionCode, "angry", new { @id = "EmotionCode_Angry" })
                    <label for="EmotionCode_Angry">
                        โมโห
                        <h2><font color="red"><i class="fa fa-frown-o"></i></font></h2>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div style="display:none">
        @Html.TextBoxFor(model => model.LeadAssignmentId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-3">
            <button class="btn btn-primary" id="btn_submit" type="button" onclick="validateform()">บันทึก</button>
            <a href="@Url.Action("MainProfile", "Prospect", new { @id = Model.Prospect_Profile.ProspectId })" class="btn btn-default">ยกเลิก</a>
            <br />
        </div>
    </div>
</div>
</div>


    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var app = new Vue({
        el: "#div-form",
            data: {
                inform_flag: "@((ViewBag.SourceInformFlag==true || ViewBag.SourceInformWording==null) ? "True" : "False")"
            }
        })

        $(function () {
            var chat = $.connection.clickToCallHub;

            // Create a function that the hub can call back to display messages.
            chat.client.updateResponse = function (callId, response, talkTime, ringTime) {

                console.log('====Answer=====');
                console.log('response', response);
                console.log('callid', callId);
                console.log('talktime', talkTime);

                if ($("#QCallId").val() == callId) {

                    $("#TalkTime").val(talkTime);
                    $('#RingTime').val(ringTime);
                    $('#QCallMachineAnswer').val(response);
                }
                switchSpinner(false);
            };
            chat.client.hello = function () {
                console.log("hello");
            };

            $.connection.hub.start().done(function () {
                console.log("Qcall connected!");
            });
        });

        function switchSpinner(isShowSpinner) {
            //if (isShowSpinner) {
            //    $('#i-spinner-phone, #i-spinner-phone-custom, i-spinner-phone-random, #i-spinner-phone-custom-random').removeClass('hidden');
            //    $('#i-phone, #i-phone-custom, #i-phone-random, #i-phone-custom-random').addClass('hidden');
            //} else {
            //    $('#i-spinner-phone, #i-spinner-phone-custom, i-spinner-phone-random, #i-spinner-phone-custom-random').addClass('hidden');
            //    $('#i-phone, #i-phone-custom, #i-phone-random, #i-phone-custom-random').removeClass('hidden');
            //}
        }

        $().ready(function () {

            $("#btn-call").click(dial);
            $("#btn-call-custom").click(dialCustom);
            $("#btn-call-random").click(dialRandom);
            $("#btn-call-custom-random").click(dialCustomRandom);

            function clickToCall(phone_number, prefix) {

                var ws_qagent = '@ws_qagent'
                var agent_id = '@ExtensionCode'
                var port_no = '@port_no'
                var lead_assignment_id = '@leadAssigmentId'
                var unique_id = port_no + "-" + $("#Prospect_Profile_ProspectId").val() + "-" + agent_id + "-" + lead_assignment_id + "-" + ((new Date().getTime() * 10000) + 621355968)

                console.log('uniqueId:', unique_id)
                console.log('phone_number:', phone_number)
                console.log('port_no: ', port_no)
                console.log('prefix', prefix)
                console.log('qCallPrefix:', prefix)

                var serviceURL = '@Url.Content("~/Prospect/SaveTelephonyRequest")' + "?unique_id=" + unique_id
                $.get(serviceURL);

                // connect web socket
                //let socket = new WebSocket("ws://127.0.0.1:8748/QAgent");
                let socket = new WebSocket(ws_qagent);

                            socket.onopen = function (e) {
                                console.log("[open] Connection established");
                                console.log("Sending to server");
                                socket.send("dial|" + prefix + phone_number + "|" + unique_id);

                                switchSpinner(true);
                            };

                            socket.onmessage = function (event) {
                            console.log(`[message] Data received from server: ${event.data}`);
                };

                    socket.onclose = function (event) {
                        if (event.wasClean) {
                            console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
                        } else {
                            // e.g. server process killed or network down
                            // event.code is usually 1006 in this case
                            console.log('[close] Connection died');
                        }
                        switchSpinner(false);
                    };

                    socket.onerror = function (error) {
                        switchSpinner(false);
                        console.log(`[error] ${error.message}`);
                    };

                $("#QCallId").val(unique_id);
                }

                function dial() {
                    var prefix = '@qcallprefix'
                    clickToCall($("#list-phone").val(), prefix)
                }

                function dialCustom() {
                    var prefix = '@qcallprefix'
                    var phonenumber = "@(Model.Prospect_Profile.TelPhone.isValidPhoneNumber()?Model.Prospect_Profile.TelPhone:"")";
                    if (!phonenumber) phonenumber = $("#ctc-phonenumber").val().replace(/[ -]/g, "");                    
                    clickToCall(phonenumber, prefix)
                }

                function dialRandom() {
                    var prefix = '@qcallprefix_random'
                    clickToCall($("#list-phone").val(), prefix)
                }

                function dialCustomRandom() {
                    var prefix = '@qcallprefix_random'
                    clickToCall($("#ctc-phonenumber").val().replace(/[ -]/g, ""), prefix)
                }
        });
    </script>