﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.CRMApplication.WebMVC5;
@using GT.InboundApplication.Model.Common;
@using GT.InboundApplication.Model.CRM;
@using GT.CRMApplication.WebMVC5.Helpers;
@model GT.InboundApplication.Model.CRM.Prospect_Profile

<style>
    dt{font-weight:normal;}
</style>
@if (Model != null)
{
    var project = AppConfigHelper.ProjectName();
    var telephony_url = System.Configuration.ConfigurationManager.AppSettings["telephony_url"].ToString();
    var telephony_accesstoken = System.Configuration.ConfigurationManager.AppSettings["telephony_accesstoken"].ToString();

    LeadProfile lead;
    using (var db = new GT.InboundApplication.Model.CRM.IGTCRMContext())
    {
        lead = db.LeadProfileSet.Where(c => c.ProspectId == Model.ProspectId).FirstOrDefault();
    }

    Coverage cov = null;
    using (var db = new IGTCRMContext())
    {
        var plan = db.MasterPlanSet.Find(lead.PlanCode);
        if (plan != null && plan.CoverageId != null)
        {
            cov = db.CoverageSet.Find(plan.CoverageId);
        }
    }
    <div class="ibox">
        <div class="ibox-title white-bg">
            <h5>
                <i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;&nbsp;ข้อมูลผู้ติดต่อ
            </h5>
        </div>
        <div class="ibox-content gray-bg">
            <div class="tab-content">
                <div id="contact-1" class="tab-pane active">
                    @*@if (Model.OptOut == "Y")
                        {
                            <div class="row m-b-sm">
                                <div class="col-sm-12 alert alert-danger">
                                    ไม่ต้องการให้ติดต่ออีก @(Model.OptOut_Date.HasValue ? "(" + Model.OptOut_Date.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")" : "")
                                </div>
                            </div>
                        }*@
                    <div class="row m-b-sm">
                        <div class="col-lg-4 text-center">
                            <h2>ลูกค้า</h2>
                            <div class="m-b-sm">
                                @{ var imagepath = Model.GenderCode == null ? Url.Content("~/Content") + "/images/profile_unknown.png"
: Model.GenderCode == "F" ? Url.Content("~/Content") + "/images/profile_female.png"
: Url.Content("~/Content") + "/images/profile_male.png";
                                    bool isReadOnly = false;
                                    if (ViewBag.isReadOnly != null)
                                    {
                                        isReadOnly = ViewBag.isReadOnly;
                                    }
                                }
                                <img alt="image" class="img-circle" src="@imagepath" style="width: 62px">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4>
                                <a id="link-profile" data-profileid="@Model.ProspectId" href="@Url.Action("MainProfile", "Prospect", new { @id = Model.ProspectId })">
                                    @(Model.FirstName == "" ? "ไม่มีชื่อ" : string.Format("{0} {1}", Model.FirstName, Model.LastName))
                                </a>
                            </h4>
                            <table class="footable table table-stripped table-hover">
                                <tr>
                                    <td>อารมณ์ล่าสุด : <b>@(Model.Prospect_Activity.Count() > 0 ? Model.Prospect_Activity.Last().Emotion : "-")</b></td>
                                </tr>
                                <tr>
                                    <td>จำนวนการติดต่อ : <b>@Model.Prospect_Activity.Count() &nbsp;สาย</b></td>
                                </tr>
                                <tr>
                                    <td>เบอร์โทร : <b>@(User.IsTSR() ? Model.MaskedTelphone : Model.TelPhone)</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    @if (isReadOnly == false)
                    {
                        <div class="row m-b-xs">
                            <div class="form-inline">
                                <div class="col-lg-5 text-center">
                                    <a href="@Url.Action("CreateActivity", "Prospect", new { @id = Model.ProspectId, @callfrom = @Request.Params["callfrom"] })"
                                       class="btn btn-primary btn-block @(!User.IsTSR() ? "disabled" : "")" data-toggle="tooltip" data-placement="left" title="Add New Activity"><i class="fa fa-plus-circle"></i>&nbsp;เพิ่มสายใหม่</a>
                                </div>
                                @*<div class="col-lg-5 col-lg-offset-1 text-center">
            <a href="@Url.Action("EditProfile", "Prospect", new { @id = Model.ProspectId })"
               class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="left" title="Edit Profile">แก้ไขข้อมูลผู้ติดต่อ</a>
        </div>*@
                                <div class="col-lg-5 col-lg-offset-1 text-center">
                                    <button class="btn btn-primary btn-block @(cov==null  ? "disabled" : "")" onclick="return false;" data-toggle="modal" data-target="#div-plan">ข้อมูล Plan</button>&nbsp;
                                </div>                                    
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-lg-12 m-b-sm">
                            <strong>TSR ผู้ติดต่อปัจจุบัน : </strong>
                            @{
                                using (var db = new GT.InboundApplication.Model.CRM.IGTCRMContext())
                                {
                                    var activeassignment = db.LeadProfileSet.ActiveSet().Where(c => c.ProspectId == Model.ProspectId && c.RecentLeadAssignment.LeadAssignment_LeadAssignmentId > 0);
                                    if (activeassignment.Any())
                                    {
                                        <span>@activeassignment.First().RecentLeadAssignment.ReceiverUserName</span>
                                    }
                                    else
                                    {
                                        <ul class="list-group clear-list">
                                            <li class="list-group-item fist-item">
                                                <span class="pull-left"> - ไม่มี</span>
                                            </li>
                                        </ul>
                                    }
                                }
                            }
                        </div>
                    </div>

                    <div class="client-detail">
                        <div class="full-height-scroll">
                            @{
                               
                            }
                            <strong><i class="fa fa-fw fa-book"></i>ข้อมูลกรมธรรม์</strong>
                            <p>
                                <div class="col-sm-6">
                                    <dl>
                                        <dt>Product:</dt>
                                        <dd>@lead.ProductGroup</dd>
                                        <dt>เลขที่ใบคำขอ:</dt>
                                        <dd>@lead.ApplicationNo</dd>
                                        <dt>แบบประกัน:</dt>
                                        <dd>@(lead.Planname=="" ? lead.PlanCode : lead.Planname)&nbsp;</dd>
                                        <dt>ทุนประกัน:</dt>
                                        <dd>@lead.SumInsure</dd>                                        
                                        <dt>ตัวแทน:</dt>
                                        <dd>@lead.AgentCode @lead.AgentName</dd>
                                        <dt>วันที่อนุมัติ :</dt>
                                        <dd>@lead.IssueDate.Value.ToString("dd/MM/yyyy")</dd>
                                        <dt>Post :</dt>
                                        <dd>@lead.PostTracking</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl>
                                        <dt>TM:</dt>
                                        <dd>@lead.TM</dd>
                                        <dt>เลขที่กรมธรรม์:</dt>
                                        <dd>@lead.PolicyNo</dd>
                                        <dt>Plan Code:</dt>
                                        <dd>@(lead.PlanCode)</dd>
                                        <dt>เบี้ยประกัน:</dt>
                                        <dd>@lead.NetPremium</dd>
                                        <dt>PayPlan:</dt>
                                        <dd>@lead.PayPlanName</dd>
                                        <dt>&nbsp;</dt>
                                        <dd>&nbsp;</dd>
                                        <dt>วันที่ส่ง :</dt>
                                        <dd>@lead.PostDate.Value.ToString("dd/MM/yyyy")</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-12">
                                    <dl>
                                        <dt>ที่อยู่ :</dt>
                                        <dd>@lead.Address</dd>
                                    </dl>
                                </div>
                            </p>
                            @*<strong><i class="fa fa-fw fa-file-o"></i>บันทึก</strong>
                                <p>
                                    @(Model.Note.IsNullOrEmpty() ? "- ไม่มี บันทึก" : Model.Note)
                                </p>*@
                            <div class="hr-line-dashed"></div>
                            @if (Model.Prospect_Activity.Count() > 0)
                            {
                                var has_unreply_appointment = !Model.Prospect_Activity.LastOrDefault(item => !item.Prospect_Appointment.IsNullOrEmpty()
                                                                                                            && !item.Prospect_Appointment.IsReply.Value
                                                                                                            && !item.Prospect_Appointment.IsCancel.Value).IsNullOrEmpty() ? true : false;
                                var latest_item = Model.Prospect_Activity.LastOrDefault(item => !item.Prospect_Appointment.IsNullOrEmpty()
                                                                                                && !item.Prospect_Appointment.IsReply.Value
                                                                                                && !item.Prospect_Appointment.IsCancel.Value);
                                var color = has_unreply_appointment ? "red" : "black";
                                <strong><font color="@color"><i class="fa fa-bell-o"></i>&nbsp; การนัดหมาย</font></strong>
                                <ul class="list-group clear-list">
                                    @if (has_unreply_appointment)
                                    {
                                        <li class="list-group-item fist-item">
                                            <div class="alert alert-warning" style="padding-bottom:20px;">
                                                <h4>@latest_item.Prospect_Appointment.Topic</h4>
                                                <span>@latest_item.Prospect_Appointment.Note</span>
                                                <span class="pull-left">วันที่นัดหมาย : <i class="fa fa-calendar"></i> @(latest_item.Prospect_Appointment.AppointmentDate.HasValue ? string.Format("{0} {1}", latest_item.Prospect_Appointment.AppointmentDate.Value.ToString("dd/MM/yyyy"), latest_item.Prospect_Appointment.AppointmentTime) : "")</span>
                                                <br />
                                                <small class="text-muted">@string.Format("นัดหมายโดย {0}", Html.GetAgentFullName(latest_item.CreatedBy))</small>
                                                @if (isReadOnly == false)
                                                {
                                                    <span class="pull-right">
                                                        <a href="@Url.Action("EditAppointment", "Prospect", new { @id = latest_item.Prospect_Appointment.ItemId })" class="btn btn-primary btn-xs"> <i class="fa fa-pencil"></i> แก้ไขนัดหมาย</a>
                                                        <a href="@Url.Action("CreateFollowupActivity", "Prospect", new { @id = latest_item.Prospect_Profile.ProspectId, @appointmentcode = latest_item.Prospect_Appointment.ItemId })" class="btn btn-primary btn-xs"> <i class="fa fa-phone"></i> โทรตามทันที</a>
                                                    </span>
                                                }
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item fist-item">
                                            <span class="pull-left"> - ไม่มีนัดหมาย</span>
                                        </li>
                                    }
                                </ul>
                            }
                            <div class="hr-line-dashed"></div>
                            <strong><i class="fa fa-fw fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการติดต่อ</strong>
                            <p></p>
                            <table class="footable table table-stripped table-hover toggle-arrow-tiny table-bordered" data-page-size="15" style="font-size:14px;">
                                <thead>
                                    <tr>
                                        <th>สนทนา</th>
                                        <th>วันที่ติดต่อ</th>
                                        <th>ผลการตอบรับ</th>
                                        <th>เหตุผล</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Prospect_Activity.OrderBy(item => item.CreatedDate))
                                    {
                                        <tr>
                                            <td>@item.ActivityType</td>
                                            <td><i class='fa fa-calendar'></i> @item.CreatedDate.Value.ToString("dd/MM/yyyy") @item.CallTime</td>
                                            <td style="word-wrap:break-word">
                                                @item.ResponseCategory
                                            </td>
                                            <td style="word-wrap:break-word">
                                                @item.ResponseReason
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="div-plan" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:95%">
            <div class="modal-content">
                @if (cov != null)
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h6 class="modal-title">@(cov.CoverageTitle)</h6>
                        <small class="font-bold"></small>
                    </div>
                    <div class="modal-body">
                        @Html.Raw(cov.CoverageContent)
                    </div>
                    <div style="clear:both;"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
