﻿@using GT.InboundApplication.Model.Common
@model IEnumerable<GT.InboundApplication.Model.CRM.Prospect_PhoneNumber>
@foreach (var item in Model)
{
    <tr>
        <td>@item.PhoneNumberDisplay</td>
        <td>@item.Label</td>
        <td>@if(item.IsPrimary){<span class='badge badge-primary'>เบอร์หลัก</span>}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-warning btn-edit-phonenumber" data-id="@item.ItemId" title="แก้ไข"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-xs btn-primary btn-remove-phonenumber @(item.IsPrimary?"disabled":"")" data-id="@item.ItemId" data-phonenumber="@item.PhoneNumberDisplay" title="ลบ"><i class="fa fa-close"></i></button>
            </div>
        </td>
    </tr>
}
