﻿@model IEnumerable<GT.CRMApplication.WebMVC5.Controllers.ProspectController.SearchResultProfileClass>
@if (Model != null)
{
    foreach (var entry in Model)
    {
        <tr> 
            <td>@entry.phonenumber </td>
            <td>@entry.name</td>
            <td>@entry.email</td>
            <td>@entry.age</td>
            <td>@entry.last_callsource</td>
            <td>@entry.product</td>
            <td>@Html.DisplayFor(m=>entry.response,"SalesResponse")</td>
            <td><i class='fa fa-clock-o'></i>@entry.last_contactdate</td>
            <td>@entry.numberofcontact</td>
            <td>@Html.ActionLink("Manage", "MainProfile", new { @id = entry.id }, new { @class = "btn btn-primary btn-xs" })</td>
        </tr>
    }
}
    