﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;
@model GT.InboundApplication.Model.CRM.Prospect_Activity
@{
    ViewBag.Title = "New Activity";
}
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>ผู้ติดต่อ</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @if (User.IsAdmin())
                    {
                        @Html.ActionLink("รายการลีด", "Index", "LeadAssignment")
                    }
                    else
                    {
                        @Html.ActionLink("My Lead", "MyLead", "LeadAssignment")
                    }
                </li>
                <li>
                    <a href="@Url.Action("MainProfile", "Prospect", new { @id = Model.Prospect_Profile.ProspectId })">ประวัติผู้ติดต่อ</a>
                </li>
                <li class="active">
                    <strong>เพิ่มข้อมูลการติดต่อ</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-4">
            @Html.Partial("_MainProfile", Model.Prospect_Profile)
        </div>
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-title red-bg">
                    <h5>                        
                        <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;สร้างการติดต่อใหม่ &nbsp;&nbsp;
                    </h5>
                </div>
                @if (ViewBag.NoAssignment == null)
                {
                    using (Html.BeginForm("CreateActivity", "Prospect"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("_ActivityForm", Model)
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/onviews/Prospect/ActivityForm")
    @Scripts.Render("~/bundles/vuejs")
    @Scripts.Render("~/plugins/fullCalendar")   

    <script type="text/javascript">
        $(document).ready(function () {
            bindevent_control();
            $('#appointment-div').hide();
        });

        function bindevent_control()
        {
            // validate
            preventuser_typeenter($('#main-div'));


            var calltypecode = $("#CallTypeCode_IB").is(':checked') ? "IB" : "OB";

            // new appointment change
            $('#newappointment').click(function () {
                if ($(this).hasClass('btn-primary')) {
                    $(this).removeClass('btn-primary').addClass('btn-default');
                    $('#appointment-div').slideDown(150);
                }
                else {
                    $(this).removeClass('btn-default').addClass('btn-primary');
                    $('#appointment-div').slideUp(150);
                    $('#appointment-div :input').val('');
                }
                return false;
            });

            $('#ResponseCategoryCode').change(function () {
                _ajax_binddropdown_responsereason($(this).val());
            });
        }
    </script>
}
@if (ViewBag.NoAssignment != null && ViewBag.NoAssignment)
{
    <script>
        pop_message('ข้อความ', 'ไม่พบข้อมูลการมอบหมายลีด หรือข้อมูลไม่ถูกต้อง กรุณาเลือกข้อมูลจากลีดที่ได้รับมอบหมาย');
    </script>
}


