﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@model GT.InboundApplication.Model.CRM.Prospect_Profile

@{
    ViewBag.Title = "New Profile";
}
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>ผู้ติดต่อ</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>เพิ่มผู้ติดต่อ</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox border-red">
                    <div class="ibox-title">
                        <h5>
                            <i class="fa fa-plus"></i> เพิ่มผู้ติดต่อใหม่
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content animated fadeInDown">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <!--<div class="col-sm-offset-4">
                                    <div class="m-b-sm">
                                        <i class="fa fa-plus"></i><img alt="image" id="profile_image" class="img-circle" src="''@Url.Content("~/Content/images")' + '/profile_unknown.png" style="width:62px;">
                                    </div>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">คำนำหน้า</label>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(modelItem => modelItem.SalutationCode, (IEnumerable<SelectListItem>)ViewBag.Salutation, "เลือก", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">ชื่อ</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(modelItem => modelItem.FirstName, new { @class = "form-control input-alpha" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">นามสกุล</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(modelItem => modelItem.LastName, new { @class = "form-control input-alpha" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">เพศ :</label>
                                <div class="col-sm-9">
                                    <div class="form-group form-inline">
                                        <div class="radio radio-inline radio-danger">
                                            @Html.RadioButtonFor(model => model.GenderCode, "M", new { @id = "GenderCode_M" })
                                            @Html.Label("ชาย", new { @for = "GenderCode_M" })
                                        </div>
                                        <div class="radio radio-inline radio-danger">
                                            @Html.RadioButtonFor(model => model.GenderCode, "F", new { @id = "GenderCode_F" })
                                            @Html.Label("หญิง", new { @for = "GenderCode_F" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">สร้างโปรไฟล์จาก :</label>
                                <div class="col-sm-9">
                                    <div class="form-group form-inline">
                                        <div class="radio radio-inline radio-danger">
                                            @Html.RadioButton("CreateBy", "CellPhone", new { @id = "CreateBy_CellPhone" })
                                            @Html.Label("เบอร์โทรศัพท์มือถือ", new { @for = "CreateBy_CellPhone" })
                                        </div>
                                        <div class="radio radio-inline radio-danger">
                                            @Html.RadioButton("CreateBy", "Phone", new { @id = "CreateBy_Phone" })
                                            @Html.Label("เบอร์โทรศัพท์บ้าน", new { @for = "CreateBy_Phone" })
                                        </div>
                                        <div class="radio radio-inline radio-danger">
                                            @Html.RadioButton("CreateBy", "Email", new { @id = "CreateBy_Email" })
                                            @Html.Label("Email Address", new { @for = "CreateBy_Email" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- switch div -->
                                <div class="lightgray-bg col-sm-offset-1 col-sm-10 border-all">
                                    <div id="phone-div">
                                        <br />
                                        <div class="form-group">
                                            <div class="col-sm-offset-3">
                                                <font color="red"><h4>[โทรศัพท์บ้าน]</h4></font>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">โทรศัพท์บ้าน <font color="red">*</font></label>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(modelItem => modelItem.TelPhone2, new { @class = "form-control input-numeric", @data_mask = "099 999 999" })
                                            </div>
                                            <label class="col-sm-2 control-label">เบอร์ต่อ (ถ้ามี) </label>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(modelItem => modelItem.TelPhone2_Extension, new { @class = "form-control input-numeric" })
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <div id="cellphone-div">
                                        <br />
                                        <div class="form-group">
                                            <div class="col-sm-offset-3">
                                                <font color="red"><h4>[โทรศัพท์มือถือ]</h4></font>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">โทรศัพท์มือถือ <font color="red">*</font></label>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(modelItem => modelItem.TelPhone, new { @class = "form-control input-numeric", @data_mask = "099 999 9999" })
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <div id="email-div">
                                        <br />
                                        <div class="form-group">
                                            <div class="col-sm-offset-3">
                                                <font color="red"><h4>[Email Address]</h4></font>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email Address <font color="red">*</font></label>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(modelItem => modelItem.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <!-- end switch div -->
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.HiddenFor(modelItem => modelItem.ProspectId)
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <button type="submit" value="CreateProfile" id="btn_submit" class="btn btn-primary">Create Profile</button>
                                        <a href="@Url.Action("Index","Prospect")" class="btn btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/onviews/Prospect/CreateProfile")
    <script type="text/javascript">
        $(document).ready(function () {
            bindevent_control();
            setdefaultscreen();
        });

        function setdefaultscreen()
        {
            $("#phone-div :input, #email-div :input, #cellphone-div :input").val('');
            $("#phone-div, #email-div, #cellphone-div").hide();
        }

        function validateform()
        {
            try
            {
                // validate input format.
                var message = "";
                var createby = "";
                createby = $('#CreateBy_Phone').is(':checked') ? "phone"
                           : $('#CreateBy_Email').is(':checked') ? "email"
                           : $('#CreateBy_CellPhone').is(':checked') ? "cellphone" : "";
                switch (createby) {
                    case "cellphone":
                        if ($("#TelPhone").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์มือถือ  </li>"; }
                        break;
                    case "phone":
                        if ($("#TelPhone2").val().length <= 0) { message += "<li> - เบอร์โทรศัพท์บ้าน  </li>"; }
                        break;
                    case "email":
                        if ($("#Email").val().length <= 0) { message += "<li> E-mail Address </li>"; }
                        break;
                    default:
                        message += "<li> กรุณาเลือกข้อมูลสำหรับสร้างโปรไฟล์ </li>";
                        break;
                };

                if (message != "") {
                    pop_message('กรุณาระบุข้อมูลต่อไปนี้', '<ul>' + message + '</ul>', 'warning');
                    return false;
                }

                // advanced validation.
                switch (createby) {
                    case "phone":
                        var data = $("#phone-div :input").serialize();
                        $.get('@Url.Content("~/Prospect/IsDuplicateCustomerByHomePhone")?' + data,
                            function (response) {
                                if (response > 0) {
                                    message = "<li>เบอร์โทรศัพท์ ที่ระบุ มีอยู่แล้วในระบบ</li>";
                                    pop_message('กรุณาตรวจสอบข้อมูลต่อไปนี้', '<ul>' + message + '</ul> <a href="' + '@Url.Content("~/Prospect/MainProfile")' + '/' + response + '"> ดูโปรไฟล์ของคนนี้</a>','warning');
                                }
                                else {
                                    $('form').submit();
                                }
                            });
                        break;
                    case "cellphone":
                        var data = $("#cellphone-div :input").serialize();
                        $.get('@Url.Content("~/Prospect/IsDuplicateCustomerByCellPhone")?' + data,
                            function (response) {
                                if (response > 0) {
                                    message = "<li>เบอร์โทรศัพท์มือถือ ที่ระบุ มีอยู่แล้วในระบบ</li>";
                                    pop_message('กรุณาตรวจสอบข้อมูลต่อไปนี้', '<ul>' + message + '</ul> <a href="' + '@Url.Content("~/Prospect/MainProfile")' + '/' + response + '"> ดูโปรไฟล์ของคนนี้</a> ', 'warning');
                                }
                                else {
                                    $('form').submit();
                                }
                            });
                        break;
                    case "email":
                        var data = $("#email-div :input").serialize();
                        $.get('@Url.Content("~/Prospect/IsDuplicateCustomerByEmail")?' + data,
                           function (response) {
                               if (response > 0) {
                                   message = "<li>อีเมล์ ที่ระบุ มีอยู่แล้วในระบบ</li>";
                                   pop_message('กรุณาตรวจสอบข้อมูลต่อไปนี้', '<ul>' + message + '</ul> <a href="' + '@Url.Content("~/Prospect/MainProfile")' + '/' + response + '"> ดูโปรไฟล์ของคนนี้</a>','warning');
                               }
                               else {
                                   $('form').submit();
                               }
                           });
                        break;
                };
                return false;
            }
            catch (e) { console.log(e.stack); return false; }
        }

        function bindevent_control()
        {
            $("#btn_submit").click(function () { validateform(); return false; });

            $("#CreateBy_Email, #CreateBy_Phone, #CreateBy_CellPhone").change(function () {
                if ($("#CreateBy_Email").is(":checked"))
                {
                    $("#email-div").slideToggle(150);
                    $("#phone-div :input, #cellphone-div :input").val('');
                    $("#phone-div, #cellphone-div").hide();
                }
                else if ($("#CreateBy_Phone").is(":checked")) {
                    $("#phone-div").slideToggle(150);
                    $("#email-div :input, #cellphone-div :input").val('');
                    $("#email-div, #cellphone-div").hide();
                }
                else if ($("#CreateBy_CellPhone").is(":checked")) {
                    $("#cellphone-div").slideToggle(150);
                    $("#phone-div :input, #email-div :input").val('');
                    $("#phone-div, #email-div").hide();
                }
                else
                {
                    $("#phone-div :input, #email-div :input").val('');
                    $("#phone-div, #email-div").hide();
                }
            });
        }

    </script>
}

