﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;
@model GT.InboundApplication.Model.CRM.Prospect_Activity
@{
    ViewBag.Title = "Delete Activity";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>ผู้ติดต่อ</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @if (User.IsAdmin())
                    {
                        @Html.ActionLink("รายการลีด", "Index", "LeadAssignment")
                    }
                    else
                    {
                        @Html.ActionLink("My Lead", "MyLead", "LeadAssignment")
                    }
                </li>
                <li>
                    @Html.ActionLink("ประวัติผู้ติดต่อ", "MainProfile", "Prospect", new { @id = Model.Prospect_Profile.ProspectId })
                </li>
                <li class="active">
                    <strong>ลบข้อมูลการติดต่อ</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    @Html.AntiForgeryToken()
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                @Html.Partial("_MainProfile", Model.Prospect_Profile)
            </div>
            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-title red-bg">
                        <h5>
                            <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;ลบข้อมูล การติดต่อ
                        </h5>
                    </div>
                    <div class="ibox-content animated fadeInDown">
                        <div class="form-horizontal">
                            @Html.HiddenFor(model => model.Prospect_Profile.ProspectId)
                            @Html.HiddenFor(model => model.ItemId)
                            @Html.HiddenFor(model => model.AppointmentId)
                            @Html.Partial("_ActivityView", Model)

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary" id="btn_submit" type="submit"><i class="fa fa-remove"></i>&nbsp;Confirm Delete</button>
                                    <a href="@Url.Action("MainProfile", "Prospect", new { @id = Model.Prospect_Profile.ProspectId })" class="btn btn-default">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}