﻿@model GT.InboundApplication.Model.CRM.Prospect_Appointment
<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>ผู้ติดต่อ</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    <a href="@Url.Action("MainProfile", "Prospect", new { @id = Model.Prospect_Activity.Prospect_Profile.ProspectId })">ประวัติผู้ติดต่อ</a>
                </li>
                <li class="active">
                    <strong>แก้ไขนัดหมาย</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-4">
            @Html.Partial("_MainProfile", Model.Prospect_Activity.Prospect_Profile)
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>แก้ไขนัดหมาย</h5>
                </div>
                <div class="ibox-content">
                    @if (Request.Params["message"] != null)
                    {
                        <div class="alert alert-warning">@Request.Params["message"]</div>
                    }
                    @using (Html.BeginForm("EditAppointment","Prospect",FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.ItemId)
                            <div id="appointment-div" class="gray-bg border-all">
                                <div class="form-group" style="padding-top:10px;">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <font color="#C21B17"><h2><i class="fa fa-calendar"></i>&nbsp; การนัดหมาย</h2></font>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">วันที่นัดหมาย</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(modelItem => modelItem.AppointmentDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-date-future" })
                                    </div>
                                    <label class="col-sm-1 control-label">เวลา</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(modelItem => modelItem.AppointmentTime, new { @class = "form-control input-time" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">หัวข้อ</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(modelItem => modelItem.Topic, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">รายละเอียด</label>
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(modelItem => modelItem.Note, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
