﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;
@using GT.InboundApplication.Model.CRM;
@model GT.InboundApplication.Model.CRM.Prospect_Profile

@{
    ViewBag.Title = "Edit Profile";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>ผู้ติดต่อ</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ค้นหาผู้ติดต่อ", "Index", "Prospect")
                </li>
                <li>
                    <a href="@Url.Action("MainProfile", "Prospect", new { @id = Model.ProspectId })">ประวัติผู้ติดต่อ</a>
                </li>
                <li class="active">
                    <strong>แก้ไขข้อมูลผู้ติดต่อ</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "profileform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(modelItem => modelItem.Status)
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                @Html.Partial("_MainProfile", Model)
            </div>
            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-title red-bg">
                        <h5>
                            <i class="fa fa-male"></i> <i class="fa fa-pencil"></i> Edit Profile
                        </h5>
                    </div>
                    <div class="ibox-content animated fadeInDown">
                        <div class="form-horizontal">
                            <div class="form-group @(User.IsAdmin() ? "" : "hidden")">
                                <label class="col-sm-3 control-label">Opt-Out</label>

                                <div class="form-inline">
                                    <div class="checkbox checkbox-inline checkbox-danger">
                                        <input type="checkbox" id="chk-optout" name="OptOut" value="Y" @(Model.OptOut == "Y" ? "checked" : "" ) />
                                        <label for="chk-optout">ไม่ต้องการให้ติดต่ออีก</label>
                                    </div>
                                    <label class="control-label m-l-md">วันที่</label>
                                    @Html.TextBoxFor(modelItem => modelItem.OptOut_Date, "{0:dd/MM/yyyy}", new { @class = "form-control input-date " })
                                </div>
                                @Html.HiddenFor(model => model.OptOut_ApproveBy)
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">ชื่อ-นามสกุล <font color="orange">*</font></label>
                                <div class="col-sm-2">
                                    @Html.DropDownListFor(modelItem => modelItem.SalutationCode, (IEnumerable<SelectListItem>)ViewBag.Salutation, "เลือก", new { @class = "form-control control-narrow" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(modelItem => modelItem.FirstName, new { @class = "form-control input-alpha" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(modelItem => modelItem.LastName, new { @class = "form-control input-alpha" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">เพศ</label>
                                <div class="col-sm-9">
                                    <div class="form-group form-inline">
                                        <div class="radio radio-inline radio-danger">
                                            @Html.RadioButtonFor(model => model.GenderCode, "M", new { @id = "GenderCode_M" })
                                            @Html.Label("ชาย", new { @for = "GenderCode_M" })
                                        </div>
                                        <div class="radio radio-inline radio-danger">
                                            @Html.RadioButtonFor(model => model.GenderCode, "F", new { @id = "GenderCode_F" })
                                            @Html.Label("หญิง", new { @for = "GenderCode_F" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="phone-div" class="form-group hidden">
                                <label class="col-sm-3 control-label">เบอร์โทรศัพท์ <font color="orange">*</font></label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(modelItem => modelItem.TelPhone2, new { @class = "form-control input-numeric", @data_mask = "099 999 999" })
                                </div>
                                <label class="col-sm-2 control-label">เบอร์ต่อ </label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(modelItem => modelItem.TelPhone2_Extension, new { @class = "form-control input-numeric" })
                                </div>
                            </div>
                            <div id="cellphone-div" class="form-group hidden">
                                <label class="col-sm-3 control-label">เบอร์โทรศัพท์มือถือ <font color="orange">*</font></label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(modelItem => modelItem.TelPhone, new { @class = "form-control input-numeric ", @data_mask = "099 999 9999" })
                                </div>
                            </div>
                            <div id="email-div" class="form-group">
                                <label class="col-sm-3 control-label">อีเมล์ </label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(modelItem => modelItem.Email, new { @class = "form-control", @type = "email" })
                                </div>
                            </div>
                            <div id="phonenumber-div" class="form-group">
                                <label class="col-sm-3 control-label">เบอร์โทรศัพท์ <font color="orange">*</font></label>
                                <div class="col-sm-6">
                                    <button id="btn-add-phonenumber" type="button" data-toggle="modal" data-target="#add-phonenumber-modal" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> เพิ่มเบอร์</button>
                                    <table id="table-phone" class="table">
                                        <tbody>
                                            @if (Model.Prospect_PhoneNumber != null && Model.Prospect_PhoneNumber.Any(c => c.Active))
                                            {
                                                @Html.Partial("_PhoneNumber", Model.Prospect_PhoneNumber.Where(c => c.Active))
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal inmodal" id="add-phonenumber-modal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content animated fadeInDown">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close"></i></span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">เพิ่มเบอร์โทรศัพท์ </h4>
                                            <input type="hidden" id="product-info" />
                                            <input type="hidden" id="proposalid-info" />
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <input type="hidden" id="phone-id" />
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">เบอร์</label>
                                                    <div class="col-sm-6">
                                                        @Html.TextBox("phone-number", "", new { @class = "form-control input-numeric col-sm-6", @data_mask = "099 999 999?9" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">เบอร์ต่อ</label>
                                                    <div class="col-sm-3">
                                                        <input id="phone-extension" class="form-control input-numeric" maxlength="10" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Label</label>
                                                    <div class="col-sm-6">
                                                        <input id="phone-label" name="label" list="suggestions" class="form-control">
                                                        <datalist id="suggestions">
                                                            <option value="มือถือ">
                                                            <option value="บ้าน">
                                                            <option value="ที่ทำงาน">
                                                        </datalist>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-danger col-sm-offset-3">
                                                        <input type="checkbox" id="chk-phone-primary">
                                                        <label for="chk-phone-primary" style="padding-left:7px;">เบอร์หลัก</label>
                                                    </div>
                                                </div>
                                                <div id="phone-save-warning" class="alert alert-warning"></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                                            <button type="button" class="btn btn-primary" id="btn-savephonenumber">บันทึก<i id="save-spinner" class="fa fa-spinner hidden"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <div class="form-group form-inline">
                                        <label class="col-sm-3 control-label">ประเภทบัตร</label>
                                        <div class="col-sm-9">
                                            <div class="radio radio-inline radio-danger">
                                                @Html.RadioButtonFor(model => model.CardType, "1", new { @id = "CardType_1" })
                                                @Html.Label("บัตรประชาชน", new { @for = "CardType_1" })
                                            </div>
                                            <div class="radio radio-inline radio-danger">
                                                @Html.RadioButtonFor(model => model.CardType, "2", new { @id = "CardType_2" })
                                                @Html.Label("บัตรข้าราชการ", new { @for = "CardType_2" })
                                            </div>
                                            <div class="radio radio-inline radio-danger">
                                                @Html.RadioButtonFor(model => model.CardType, "4", new { @id = "CardType_4" })
                                                @Html.Label("หนังสือเดินทาง", new { @for = "CardType_4" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">รหัสบัตร</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(modelItem => modelItem.CardId, new { @class = "form-control input-numeric" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">วันเดือนปี เกิด</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(modelItem => modelItem.BirthDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-date " })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">รายได้ต่อปี</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(modelItem => modelItem.AnnualIncome, new { @class = "form-control input-accounting" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">บันทึก</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(modelItem => modelItem.Note, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">ที่อยู่</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(modelItem => modelItem.Prospect_AddressInfo.Address, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">จังหวัด</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(modelItem => modelItem.Prospect_AddressInfo.ProvinceCode, (IEnumerable<SelectListItem>)ViewBag.Province, "เลือก", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">เขต/ อำเภอ</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(modelItem => modelItem.Prospect_AddressInfo.AmphureCode, (IEnumerable<SelectListItem>)ViewBag.District, "เลือก", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">แขวง/ ตำบล</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(modelItem => modelItem.Prospect_AddressInfo.DistrictCode, (IEnumerable<SelectListItem>)ViewBag.SubDistrict, "เลือก", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">รหัสไปรษณีย์</label>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(modelItem => modelItem.Prospect_AddressInfo.PostCode, new { @class = "form-control", @data_mask = "99999" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">หมายเหตุ</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(modelItem => modelItem.Remark, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                @Html.HiddenFor(modelItem => modelItem.ProspectId)
                                @Html.HiddenFor(modelItem => modelItem.Prospect_AddressInfo.ItemId)
                                @Html.HiddenFor(modelItem => modelItem.CreatedDate)
                                @Html.HiddenFor(modelItem => modelItem.CreatedBy)
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button type="submit" value="CreateProfile" id="btn_submit" class="btn btn-primary">บันทึก</button>
                                    <a href="@Url.Action("MainProfile", "Prospect", new { @id = Model.ProspectId })" class="btn btn-default">ยกเลิก</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            bindevent_control();
            $("#phone-save-warning").hide();

        });
        function refresh_phonetable(){
            $.ajax({url:"../RetrievePhoneTable",data:{prospectid:@Model.ProspectId}}).done(function(html){
                $("#table-phone").html(html);
            })
        }
        function bindevent_control() {
            $("#btn_submit").click(function () { validateform(); return false; });

            $("#Prospect_AddressInfo_ProvinceCode").change(function () {
                var parentcode = $(this).val();
                if (parentcode == "") return;
                else _ajax_binddropdown_amphure(parentcode);
            });
            $("#Prospect_AddressInfo_AmphureCode").change(function () {
                var parentcode = $(this).val();
                if (parentcode == "") return;
                else _ajax_binddropdown_district(parentcode);
            });
            $("#btn-add-phonenumber").click(function () {
                $("#phone-save-warning").hide();
            });
            $("#btn-savephonenumber").click(function () {
                if($("#phone-number").val()==""){
                    $("#phone-save-warning").show().html('กรุณากรอกเบอร์โทร');
                    return
                }else{
                    var pn = $("#phone-number").val().replace(/ /g,'');
                    var mobilephone_regex = /^0[689]/;
                    if (pn.length == 10){
                        if(mobilephone_regex.test(pn) === false) {
                            $("#phone-save-warning").show().html('รูปแบบหมายเลขโทรศัพท์มือถือไม่ถูกต้อง');
                            return false;
                        }else if($("#phone-extension").val()!=''){
                            $("#phone-save-warning").show().html('หมายเลขโทรศัพท์มือถือ ต้องไม่มีเบอร์ต่อ');
                            return
                        }
                    }
                    var homephone_regex = /^0[23457]/;
                    if (pn.length == 9 && homephone_regex.test(pn) === false) {
                        $("#phone-save-warning").show().html('รูปแบบหมายเลขโทรศัพท์บ้านไม่ถูกต้อง');
                        return false;
                    }
                }
                $("#save-spinner").removeClass("hidden");
                $.ajax({
                    url: '../SavePhoneNumber', method:'post',
                    data: {prospectid:@Model.ProspectId , phoneid: $("#phone-id").val(), phonenumber: $("#phone-number").val(),extension:$("#phone-extension").val(), label: $("#phone-label").val(),primary: $("#chk-phone-primary").is(":checked") }
                }).done(function (result) {
                    $("#save-spinner").addClass("hidden");
                    $("#phone-save-warning").hide()
                    if (result.status == "success") {
                        swal('Saved', 'บันทึกข้อมูลแล้ว', "success");
                        refresh_phonetable();
                        $('#add-phonenumber-modal').modal('hide');
                        $("#add-phonenumber-modal :input").val('');
                    } else if(result.status=="duplicated") {
                        console.log(result);
                        $("#phone-save-warning").show().html('เบอร์โทรศัพท์มือถือ นี้เคยมีการบันทึกแล้วในระบบ ภายใต้ชิ่อ ' + result.prospects.prospect_name + " <a target='_blank' class='btn btn-xs btn-primary' href='../MainProfile/"+result.prospects.prospect_id+"'>เปิด</a>");
                    }
                });
            });
            $("#table-phone").on("click",".btn-remove-phonenumber",function(){
                var pid = $(this).data("id")
                swal({
                    title: "ยืนยันการลบ?",
                    text: "คุณต้องการลบเบอร์โทรศัพท์ " + $(this).data("phonenumber") + " หรือไม่?",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "ยกเลิก",
                            value: null,
                            visible: true,
                        },
                        confirm: {
                            text: "ลบ",
                            value: true,
                            visible: true,
                            closeModal: false
                        },
                    }
                }).then(function (val) {
                    if(val){
                        $.ajax({
                            type: "GET",
                            url: '../DeletePhoneNumber',method:'post',
                            data: {id: pid},
                            success: function (retVal) {
                                swal('Deleted', 'ลบข้อมูลแล้ว', "success");
                                refresh_phonetable();
                            },
                            error: function () {
                                swal('Message Box', 'การลบข้อมูลเกิดข้อผิดพลาดกรุณาแจ้งผู้ดูแลระบบ', 'warning');
                            }
                        });
                    }
                });
            });
            $("#table-phone").on("click",".btn-edit-phonenumber",function(){
                $('#add-phonenumber-modal').modal('show');
                $.ajax({
                    url: '../GetPhoneNumber',
                    data: {id: $(this).data("id")}
                }).done(function (result){
                    $("#phone-id").val(result.id);
                    $("#phone-number").val(result.phonenumber);
                    $("#phone-extension").val(result.extension);
                    $("#phone-label").val(result.label);
                    $("#chk-phone-primary").prop('checked',result.primary);
                });
            });
        }

        function validateform()
        {
            try
            {
                // Input Validation
                var message = "";

                var salutationcode = $("#SalutationCode").val();
                var firstname = $("#FirstName").val();
                var lastname = $("#LastName").val();
                var cellphone = $("#TelPhone").val();
                var homephone = $("#TelPhone2").val();
                var homephone_extension = $("#TelPhone2_Extension").val();
                var email = $("#Email").val();

                if (salutationcode.length > 0 || firstname.length > 0 || lastname.length > 0) {
                    if ($("#SalutationCode").val().length <= 0) { message += "<li> คำนำหน้า </li>"; }
                    if ($("#FirstName").val().length <= 0) { message += "<li> ชื่อ </li>"; }
                    var namevalidator = /^[A-Za-zก-์.\-()// ]+$/
                    if(!namevalidator.test(firstname+lastname)){
                        message += "<li> ตรวจสอบชื่อนามสกุลห้ามใส่ตัวเลขหรืออักขระพิเศษ</li>"
                    }
                    //if ($("#LastName").val().length <= 0) { message += "<li> นามสกุล </li>"; }
                }
                if (!$("#Email").valid()){
                    message += "<li> อีเมล์ไม่ถูกต้อง</li>"
                }

                if (message != "") {
                    pop_message('', 'กรุณาระบุข้อมูลต่อไปนี้ <ul>' + message + '</ul>');
                    return false;
                }
                // Data Validation
                $.get('@Url.Content("~/Prospect/IsDuplicateCustomer/")?SalutationCode=' + salutationcode + '&FirstName=' + firstname + '&LastName=' + lastname + '&TelPhone2=' + homephone + '&TelPhone2_Extension=' + homephone_extension + '&TelPhone=' + cellphone + '&Email=' + email + '&ProspectId=' + '@Model.ProspectId',
                function (message) {
                    if (message != "") {
                        pop_message('', 'กรุณาตรวจสอบข้อมูลต่อไปนี้ <ul>' + message + '</ul>');
                        return false;
                    }
                    else {
                        $('#main-div form').submit();
                    }
                });
                return false;
            }
            catch (e) { console.log(e.stack); return false; }
        }

        function _ajax_binddropdown_amphure(parentcode) {
            $("#Prospect_AddressInfo_DistrictCode").val('');
            var serviceURL = '@Url.Content("~/Prospect/GetAmphureRelated")/' + parentcode + '';
            var targetcontrol = $("#Prospect_AddressInfo_AmphureCode");
            targetcontrol.find("option").remove();
            targetcontrol.append($('<option></option>').html("เลือก").val(""));
            $.ajax({
                type: "GET",
                url: serviceURL,
                contentType: "application/json;",
                dataType: "json", beforesend: startloading, complete:stoploading,
                success: function (data) {
                    data.forEach(function (entry) { targetcontrol.append($('<option></option>').val(entry.id).html(entry.name)); })
                    var districtcontrol = $("#Prospect_AddressInfo_District");
                    districtcontrol.find("option").remove();
                    districtcontrol.append($('<option></option>').html("เลือก").val(""));
                },
                error: function () { pop_message('Oops...', 'ajax_binddropdown_amphure function is crashed! - MVC controller call failed.'); }
            });
        }
        function _ajax_binddropdown_district(parentcode) {
            var serviceURL = '@Url.Content("~/Prospect/GetDistrictRelated")/' + parentcode + '';
            var targetcontrol = $("#Prospect_AddressInfo_DistrictCode");
            targetcontrol.find("option").remove();
            targetcontrol.append($('<option></option>').html("เลือก").val(""));
            $.ajax({
                type: "GET",
                url: serviceURL,
                contentType: "application/json;",
                dataType: "json", beforesend: startloading, complete:stoploading,
                success: function (data) {
                    data.forEach(function (entry) { targetcontrol.append($('<option></option>').val(entry.id).html(entry.name)); })
                },
                error: function () { pop_message('Oops...', 'ajax_binddropdown_district function is crashed! - MVC controller call failed.'); }
            });
        }
    </script>
}

