﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;
@using GT.InboundApplication.Model.CRM;
@model GT.InboundApplication.Model.CRM.Prospect_Profile
@{
    GT.InboundApplication.Model.CRM.LeadProfile lead;
    var SourceInformFlag = false;
    using (var db = new GT.InboundApplication.Model.CRM.IGTCRMContext())
    {
        lead = db.LeadProfileSet.ActiveSet().FirstOrDefault(c => c.ProspectId == Model.ProspectId);
        SourceInformFlag = lead.LeadsourceInformFlag ?? false;
    }
}
<div class="ibox-content animated fadeInDown">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                @if (Model != null)
                {
                    @Html.Action("ViewMainProfile", "Prospect", new { @id = @Model.ProspectId })
                }
                else
                {
                    string phonenumber = @ViewContext.RouteData.Values["Id"].ToString();
                    phonenumber = phonenumber.Replace("params=", "");
                    <h5>ไม่พบเบอร์ @phonenumber ในระบบ</h5>
                }
            </div>
            <div class="col-sm-8">
                <div class="ibox">
                    @if (Model != null)
                    {
                        <div class="ibox-title red-bg">
                            <h5>
                                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;ประวัติการติดต่อกับ คุณ @Model.FirstName @Model.LastName
                            </h5>
                        </div>
                        <div class="ibox-content animated fadeInDown">
                            <div class="form-horizontal">
                                @if (User.IsInAnyRoles("INBOUNDHEAD", "PM", "SUPERVISOR", "SYSTEMADMIN", "QC"))
                                {
                                    try
                                    {
                                        if (ViewBag.SourceInformWording != null && SourceInformFlag != true && lead.LeadTransactionId > 0)
                                        {
                                            <div class="gray-bg border-all m-b-sm">
                                                <div class="form-group">
                                                    <div class="col-md-offset-1 col-md-10 p-t-md">
                                                        <div class="form-group">
                                                            <font color="#C21B17"><h5><u>Source (บทแจ้งแหล่งที่มา)</u></h5></font>
                                                            <p>บริษัทขอขอบคุณที่คุณ @Model.FirstName @Model.LastName ได้ให้ความสนใจผลิตภัณฑ์ประกันภัยของบริษัท โดยที่ท่านได้ให้ข้อมูลของท่านผ่านช่องทาง @ViewBag.SourceInformWording</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!-- consent division -->
                                        if (lead.ConsentFlag != "1") //lead already accept consent no need to ask again
                                        {

                                            @Html.Partial("_ConsentView")
                                        }
                                        else
                                        {
                                            <span class="hidden">@lead.ConsentVersion</span>
                                        }
                                    }
                                    catch (Exception)
                                    {
                                        <span>script loading failed</span>
                                    }
                                    <div class="hr-line-dashed"></div>
                                }
                            </div>
                            
                            <table class="footable table table-stripped table-hover toggle-arrow-tiny table-bordered" data-page-size="15" style="font-size:14px;">
                                <thead>
                                    <tr>
                                        <th>ประเภทของสาย</th>
                                        <th>สายต้นทาง</th>
                                        <th>รูปแบบการสนทนา</th>
                                        <th>ผลการสนทนา</th>
                                        <th>ผลการสนทนา (ต่อ)</th>
                                        <th>วันที่ติดต่อ</th>
                                        <th>ผู้ติดต่อ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var lastitem = Model.Prospect_Activity.Count > 0 ? Model.Prospect_Activity.OrderBy(item => item.CreatedDate).Last() : null;
                                        var highLightColor = "transparent"; }

                                    @foreach (var item in Model.Prospect_Activity.OrderBy(item => item.ItemId))
                                    {
                                        if ((!item.AppointmentId.IsNullOrEmpty() && item.AppointmentId > 0) || !item.Prospect_Appointment.IsNullOrEmpty()) { highLightColor = "#fcf8e3"; } else { highLightColor = "#fff"; }
                                        <tr style="background-color:@(highLightColor)">
                                            <td>
                                                @Html.Raw(!item.AppointmentId.IsNullOrEmpty() && item.AppointmentId > 0 ? "<i class='fa fa-angle-double-right' title='สร้างจากนัดหมายเลขที่" + item.AppointmentId + "'></i>" : "")
                                                @(item.CallType == "IB" ? "CALL-IN" : item.CallType == "OB" ? "CALL-OUT" : "FOLLOW UP")
                                                @Html.Raw(!item.Prospect_Appointment.IsNullOrEmpty() ? item.Prospect_Appointment.IsCancel.Value == false ? "<i class='fa fa-bell' title='มีนัดหมายเลขที่ " + item.Prospect_Appointment.ItemId + "'></i>" : "<i class='fa fa-bell-slash' title='มีนัดหมายเลขที่ " + item.Prospect_Appointment.ItemId + "'></i>" : "")
                                            </td>
                                            <td title="@(item.CallSource)">@(item.CallSource.Length > 20 ? item.CallSource.Substring(0, 20) + ".." : item.CallSource)</td>
                                            <td>@item.ActivityType</td>
                                            <td style="word-wrap:break-word">
                                                @(item.ActivityTypeCode == "Sales" ? item.Prospect_SaleActivity.ResponseCategory
                                                    : item.ActivityTypeCode == "Service" ? item.Prospect_ServiceActivity.ServiceCategory
                                                    : item.ActivityTypeCode == "Complaint" ? item.Prospect_ComplaintActivity.ComplaintCategory
                                                    : item.ActivityTypeCode == "UnContact" ? item.Prospect_UnContactActivity.UnContactCategory
                                                    : item.ActivityTypeCode == "WrongCall" ? item.Prospect_WrongCallActivity.WrongCallCategory : "")
                                            </td>
                                            <td style="word-wrap:break-word">
                                                @(
item.ActivityTypeCode == "Sales" ?
                                                    item.Prospect_SaleActivity.ResponseReason
                                                    : item.ActivityTypeCode == "Service" ?
                                                    item.Prospect_ServiceActivity.Service
                                                    : item.ActivityTypeCode == "Complaint" ?
                                                    item.Prospect_ComplaintActivity.Complaint
                                                    : item.ActivityTypeCode == "UnContact" ?
                                                    item.Prospect_UnContactActivity.UnContactReason
                                                    : item.ActivityTypeCode == "WrongCall" ?
                                                    item.Prospect_WrongCallActivity.WrongCallReason : ""
                                                )
                                            </td>

                                            <td>@item.CreatedDate.Value.ToString("dd/MM/yyyy")&nbsp;@item.CallTime</td>

                                            <td>@Html.GetAgentFullName(item.CreatedBy)</td>
                                            <td width="100px">
                                                <div class="btn-group">
                                                    <button name="btn-history-view" id="@item.ItemId" title="รายละเอียด" class="btn btn-success btn-group btn-xs"><i class="fa fa-file-o"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-lg-3 text-center">

                                </div>
                                <div class="col-lg-9 border-left">
                                    <p><u>หมายเหตุ</u></p>
                                    <h6><i class='fa fa-fw fa-bell'></i> : รายการที่มีการนัดหมาย</h6>
                                    <h6><i class='fa fa-fw fa-bell-slash'></i> : รายการที่มีการนัดหมายที่ถูกยกเลิกอัตโนมัติ</h6>
                                    <h6><i class='fa fa-fw fa-angle-double-right'></i> : รายการที่สร้างขึ้นจากการนัดหมายครั้งก่อน</h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/onviews/Prospect/MainProfile")

