﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@model IEnumerable<GT.InboundApplication.Model.CRM.Prospect_Profile>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-8">
            <h2>ผู้ติดต่อ</h2>
        </div>
        <div class="col-md-2 text-right">
            <h1>@ViewBag.TotalProspect</h1>
        </div>
        <div class="col-md-2" style="padding-top:10px;">
            @if (GT.InboundApplication.Model.Common.UserExtension.IsAdmin(User))
            {
                <a href="@Url.Action("CreateProfile", "Prospect")" class="btn btn-primary" style="width:100%;"><i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;เพิ่มผู้ติดต่อใหม่</a>
            }
        </div>
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li class="active">
                    <strong>ค้นหาข้อมูลผู้ติดต่อ</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-2 text-right">
            <h5>ผู้ติดต่อทั้งหมด</h5>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("CreateActivity", "UnknownCall")" class="btn btn-success" style="width:100%;"><i class="fa fa-phone-square"></i>&nbsp;&nbsp;&nbsp;เพิ่มสายที่ระบุไม่ได้&nbsp;&nbsp;&nbsp;</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox border-red">
        <div class="ibox-title white-bg">
            <h5>
                <i class="fa fa-search"></i>&nbsp; ค้นหาผู้ติดต่อ
            </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content m-b-sm border-bottom gray-bg">
            <form id="search-form">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="phonenumber">เบอร์โทรศัพท์</label>
                            <input type="text" id="phonenumber" name="phonenumber" value="" class="form-control input-numeric" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="name">ชื่อ-นามสกุล</label>
                            <input type="text" id="name" name="name" value="" class="form-control" placeholder="Name or Surname">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="activitydate">วันที่โทรออก</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="activitydate" type="text" class="form-control input-date-past">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="calltype">ประเภทสายล่าสุด</label>
                            <select id="calltype" name="calltypename" class="form-control">
                                <option value="">เลือก</option>
                                <option value="IB">CALL-IN</option>
                                <option value="OB">CALL-OUT</option>
                                <option value="FLWUP">FOLLOW UP</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="email">สายต้นทางล่าสุด</label>
                            <select id="callsource" name="callsource" class="form-control">
                                <option value="">เลือก</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="activitytype">ประเภทการสนทนาล่าสุด</label>
                            <select id="activitytype" name="activitytypename" class="form-control">
                                <option value="">เลือก</option>
                                <option value="Sales">Sales</option>
                                <option value="Service">Service</option>
                                <option value="Complaint">Complaint</option>
                                <option value="UnContact">No Contact</option>
                                <option value="WrongCall">WrongCall</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class=" col-sm-3">
                    <button class="btn btn-primary" onclick='search()'><i class="fa fa-search"></i> Search <i id="spinner" class="fa fa-spinner fa-pulse fa-fw hidden"></i></button>
                    <button class="btn btn-default" onclick='clearform()'>Clear</button>
                </div>
                <div class="col-sm-3 col-sm-offset-6 text-right" style="vertical-align:text-bottom;">
                    <label class="control-label">ผลการค้นหาทั้งหมด จำนวน  <span id="resultcount">0</span> ผู้ติดต่อ</label>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <br />
                <div class="col-sm-12">
                    <table class="footable table table-stripped" data-page-size="25">
                        <thead>
                            <tr>
                                <th>เบอร์โทรศัพท์</th>
                                <th>ชื่อผู้ติดต่อ</th>
                                <th>Email</th>
                                <th>อายุ</th>
                                <th>ประเภทสายล่าสุด</th>
                                <th>สายต้นทาง</th>
                                <th>การสนทนาล่าสุด</th>
                                <th>Last Contact</th>
                                <th>จำนวนที่ติดต่อ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="body">
                            <tr>
                                <td colspan="10" class="text-center">- No Data - </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")

    <script type="text/javascript">
        $(document).ready(function () {
            bindcontrol_datepicker($('#searchdiv'));
            bindcontrol_timepicker($('#searchdiv'));
            $('.footable').footable();

            $('#calltype').bind('change', function()
            {
                var calltypecode = $(this).val();
                _ajax_binddropdown_callsource(calltypecode);
            })
        });

        function search()
        {
            var ispass = false;
            $('#search-form :input').each(function (index, value) {
                if($(this).val() != "")
                {
                    ispass = true;
                }
            });
            if(!ispass)
            {
                pop_message('กรุณากรอกข้อมูลก่อนทำการค้นหาข้อมูล', '','warning');
                return false;
            }

            var phonenumber = JSON.stringify($('#phonenumber').val());
            //var email = JSON.stringify($('#email').val());
            var name = JSON.stringify($('#name').val());
            var activitydate = JSON.stringify($('#activitydate').val());
            var calltype = JSON.stringify($('#calltype').val());
            var activitytype = JSON.stringify($('#activitytype').val());
            var callsource = JSON.stringify($('#callsource').val());

            phonenumber = ' phonenumber : ' + JSON.stringify($('#phonenumber').val());
            //email = ' email : ' + JSON.stringify($('#email').val());
            name = ' name : ' + JSON.stringify($('#name').val());
            activitydate = ' activitydate : ' +  JSON.stringify($('#activitydate').val());
            calltype = ' calltype : ' +  JSON.stringify($('#calltype').val());
            activitytype = ' activitytype : ' + JSON.stringify($('#activitytype').val());
            callsource = ' callsource : ' + JSON.stringify($('#callsource').val());

            var criteria = '{' + phonenumber + ',' + callsource + ',' + name + ',' + activitydate + ',' + calltype + ',' + activitytype + '}';

            var serviceURL = '@Url.Content("~/Prospect/SearchProfile")';
            var targetcontrol = $("#tableresult");
            var totalrecord = $("#resultcount");
            $("#spinner").removeClass("hidden");
            $.ajax({
                type: "POST",
                data: criteria,
                url: serviceURL,
                contentType: "application/json;",
                dataType: "JSON", beforesend: startloading, complete:stoploading,
                success: function (data) {
                    $("#spinner").addClass("hidden");
                    var item = "";
                    $("#body").html(item);
                    totalrecord.html(data.length);
                    data.forEach(function (entry) {
                        item += "<tr>"
                                + "<td>" + entry.phonenumber + "</td>"
                                + "<td>" + entry.name + "</td>"
                                + "<td>" + entry.email + "</td>"
                                + "<td>" + entry.age + "</td>"
                                + "<td>" + entry.last_calltype + "</td>"
                                + "<td>" + entry.last_callsource + "</td>"
                                + "<td>" + (entry.last_activity == "" ? " - " : "<span class='label label-success'> " + entry.last_activity + "</span>") + "</td>"
                                + "<td>" + (entry.last_contactdate == "" ? " - " : "<i class='fa fa-clock-o'></i> " + entry.last_contactdate) + "</td>"
                                + "<td>" + entry.numberofcontact + "</td>"
                                + "<td><a href='" + '@Url.Content("~/Prospect/MainProfile")' + "?id=" + entry.id + "&returnurl=" + window.location.href + "&message=' class='btn btn-primary btn-xs'>Manage</a></td>"
                                + "</tr>";
                    });
                    $("#body").html(item);
                    $('.footable').trigger('footable_redraw');
                },
                error: function () { $("#spinner").addClass("hidden"); pop_message('Oops...', 'search function crashed! - MVC controller call failed.'); }
            });

        }

        function clearform()
        {
            $('#search-form :input').val('');
            return false;
        }

        function _ajax_binddropdown_callsource(calltypecode) {
            var serviceURL = '@Url.Content("~/Prospect/GetCallSource")/' + calltypecode + '';
            var targetcontrol = $("#callsource");
            targetcontrol.find("option").remove();
            targetcontrol.append($('<option></option>').html("เลือก").val(""));
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json;",
                dataType: "json", beforesend: startloading, complete:stoploading,
                success: function (data) {
                    data.forEach(function (entry) { targetcontrol.append($('<option></option>').val(entry.name).html(entry.name)); })
                },
                error: function () { pop_message('Oops..', '_ajax_binddropdown_callsource load failed!', 'error'); }
            });
        }

    </script>
}


