﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using GT.InboundApplication.Model.Common;
@using GT.InboundApplication.Model.CRM;
@using GT.CRMApplication.WebMVC5.Helpers;
@using Microsoft.AspNet.Identity;
@model GT.InboundApplication.Model.CRM.Prospect_Profile

@{
    ViewBag.Title = "ข้อมูลลูกค้า";
    var telephony_url = System.Configuration.ConfigurationManager.AppSettings["telephony_url"].ToString();
    var telephony_accesstoken = System.Configuration.ConfigurationManager.AppSettings["telephony_accesstoken"].ToString();
    GT.InboundApplication.Model.CRM.LeadProfile lead;    
}
<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>ผู้ติดต่อ</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @if (User.IsAdmin())
                    {
                        @Html.ActionLink("รายการลีด", "Index", "LeadAssignment")
                    }
                    else
                    {
                        @Html.ActionLink("My Lead", "MyLead", "LeadAssignment")
                    }
                </li>
                <li class="active">
                    <strong>ข้อมูลลูกค้า</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-4">
            @Html.Partial("_MainProfile", Model)
        </div>
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-title red-bg">
                    <h5>
                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;ประวัติการติดต่อ
                    </h5>
                </div>
                <div class="ibox-content animated fadeInDown">
                    <table class="footable table table-stripped table-hover toggle-arrow-tiny table-bordered" data-page-size="15" style="font-size:14px;">
                        <thead>
                            <tr>
                                <th>วันที่ติดต่อ</th>
                                <th>ผู้ติดต่อ</th>
                                <th>ผลการตอบรับ</th>
                                <th>เหตุผล</th>
                                <th>รายละเอียดเพิ่มเติม</th>
                                <th>นัดหมาย</th>
                                <th>[จัดการข้อมูล]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var lastitem = Model.Prospect_Activity.Count > 0 ? Model.Prospect_Activity.OrderBy(item => item.CreatedDate).Last() : null;
                                var highLightColor = "transparent"; }

                            @foreach (var item in Model.Prospect_Activity.OrderBy(item => item.ItemId))
                            {
                                if ((!item.AppointmentId.IsNullOrEmpty() && item.AppointmentId > 0) || !item.Prospect_Appointment.IsNullOrEmpty()) { highLightColor = "#fcf8e3"; } else { highLightColor = "#fff"; }
                            <tr style="background-color:@(highLightColor)">                                
                                <td>
                                    @Html.Raw(!item.AppointmentId.IsNullOrEmpty() && item.AppointmentId > 0 ? "<i class='fa fa-angle-double-right' title='สร้างจากนัดหมายเลขที่" + item.AppointmentId + "'></i>" : "")
                                    @Html.Raw(!item.Prospect_Appointment.IsNullOrEmpty() ? item.Prospect_Appointment.IsCancel.Value == false ? "<i class='fa fa-bell' title='มีนัดหมายเลขที่ " + item.Prospect_Appointment.ItemId + "'></i>" : "<i class='fa fa-bell-slash' title='มีนัดหมายเลขที่ " + item.Prospect_Appointment.ItemId + "'></i>" : "")
                                    @item.CreatedDate.Value.ToString("dd/MM/yyyy")&nbsp;@item.CallTime
                                </td>
                                <td>@Html.GetAgentFullName(item.CreatedBy)</td>
                                <td style="word-wrap:break-word">
                                    @(item.ResponseCategory)
                                    @switch (item.EmotionCode)
                                    {
                                        case "smile":<font color="green"><i class="fa fa-smile-o"></i></font> break;
                                        case "plain": <i class="fa fa-smile-o"></i> break;
                                        case "frown": <font color="lightblue"><i class="fa fa-frown-o"></i></font> break;
                                        case "angry": <font color="red"><i class="fa fa-frown-o"></i></font>break;
                                        default:
                                            break;
                                    }
                                </td>
                                <td style="word-wrap:break-word">
                                    @item.ResponseReason
                                </td>
                                <td style="word-wrap:break-word">
                                    <div class="iffyTip">
                                        @(item.Detail)
                                    </div>
                                </td>
                                <td>
                                    @if (item.Prospect_Appointment != null && item.Prospect_Appointment.AppointmentDate.HasValue)
                                    {
                                        @item.Prospect_Appointment.AppointmentDate.Value.ToString("dd/MM/yyyy");
                                    }
                                </td>
                                <td width="130px">
                                    <div class="btn-group">
                                        @if (lastitem == item)
                                        {

                                            if ((User.IsTSR() && User.Identity.GetUserId() == item.CreatedBy) || User.IsAdmin())
                                            {
                                                <a href="@Url.Action("EditActivity", "Prospect", new { @id = Model.ProspectId, @activitycode = lastitem.ItemId })"
                                                   class="btn btn-group btn-success btn-xs" title="แก้ไขสายสนทนา"><i class="fa fa-edit"></i></a>
                                            }
                                            else
                                            {
                                                <a href="#"
                                                   class="btn btn-group btn-default btn-xs" disabled="disabled" title="แก้ไขสายสนทนา"><i class="fa fa-edit"></i></a>
                                            }
                                            <button name="btn-history-view" id="@lastitem.ItemId" title="รายละเอียด" class="btn btn-success btn-group btn-xs"><i class="fa fa-file-o"></i></button>

                                        }
                                        else if (lastitem != item)
                                        {
                                            if (User.IsSuperAdmin())
                                            {
                                                <a href="@Url.Action("EditActivity", "Prospect", new { @id = Model.ProspectId, @activitycode = item.ItemId })"
                                                   class="btn btn-group btn-success btn-xs" title="แก้ไขสายสนทนา"><i class="fa fa-edit"></i></a>
                                            }
                                            else
                                            {
                                                <a href="#"
                                                   class="btn btn-group btn-default btn-xs" disabled="disabled" title="แก้ไขสายสนทนา"><i class="fa fa-edit"></i></a>
                                            }

                                            <button name="btn-history-view" id="@item.ItemId" title="รายละเอียด" class="btn btn-success btn-group btn-xs"><i class="fa fa-file-o"></i></button>

                                        }
                                        @if (User.IsAdmin())
                                        {
                                            <a href="@Url.Action("DeleteActivity", "Prospect", new { @id = Model.ProspectId, @activitycode = item.ItemId })"
                                               class="btn btn-group btn-primary btn-xs" title="ลบสายสนทนา"><i class="fa fa-remove"></i></a>
                                        }
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <a href="@Url.Action("CreateActivity", "Prospect", new { @id = Model.ProspectId ,@callfrom=@Request.Params["callfrom"]})"
                               class="btn btn-primary btn-block @(!User.IsTSR()?"disabled":"")" data-toggle="tooltip" data-placement="left" title="เพิ่มสายใหม่"><i class="fa fa-plus-circle"></i>&nbsp;เพิ่มสายใหม่</a>

                        </div>
                        <div class="col-lg-9 border-left">
                            <p><u>หมายเหตุ</u></p>
                            <h6><i class='fa fa-fw fa-bell'></i> : รายการที่มีการนัดหมาย</h6>
                            <h6><i class='fa fa-fw fa-bell-slash'></i> : รายการที่มีการนัดหมายที่ถูกยกเลิกอัตโนมัติ</h6>
                            <h6><i class='fa fa-fw fa-angle-double-right'></i> : รายการที่สร้างขึ้นจากการนัดหมายครั้งก่อน</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Styles {
    <style type="text/css">
        .iffyTip {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100px;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/onviews/Prospect/MainProfile")
}

<script type="text/javascript">
   @Html.Raw(ViewBag.RunScript)
    $(document).on('mouseenter', ".iffyTip", function () {
        var $this = $(this);
        if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
            $this.tooltip({
                title: $this.text(),
                placement: "bottom"
            });
            $this.tooltip('show');
        }
    });
</script>





