﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using Microsoft.AspNet.Identity;
@model IEnumerable<GT.InboundApplication.Model.CRM.Prospect_Appointment>

@{
    ViewBag.Title = "Notification";
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>การแจ้งเตือน</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ค้นหาข้อมูลผู้ติดต่อ", "Index", "Prospect")
                </li>
                <li class="active">
                    <strong>ผู้ติดต่อ : ตารางนัดหมายทั้งหมด </strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="col-lg-12">
        <div class="ibox border-red">
            <div class="ibox-title white-bg">
                <h5>
                    ตารางนัดหมาย
                </h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th data-hide="Name">ชื่อผู้ติดต่อ</th>
                            <th data-hide="Appointment Date">วันที่นัดหมาย</th>
                            <th data-hide="Reply Date">Reply Date</th>
                            <th data-hide="Delay">Delay</th>
                            <th data-hide="Topic">Topic</th>
                            <th class="text-right">Last Activity</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody id="body"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")
    @*@Scripts.Render("~/onviews/prospect")*@

    <script type="text/javascript">
        $(document).ready(function () {
            bindallappointment('@User.Identity.GetUserId()');
            $('.footable').footable();
        });

        function bindallappointment(userid)
        {
            var serviceURL = '@Url.Content("~/Prospect/GetAllAppointment")/' + userid;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json;",
                dataType: "json", beforesend: startloading, complete:stoploading,
                success: function (data) {
                    var item = "";
                    $("#body").html(item);
                    var i = 1;
                    data.forEach(function (entry) {
                        item += "<tr>"
                                + "<td>" + (i++) + "</td>"
                                + "<td>" + entry.name + "</td>"
                                + "<td>" + entry.appointmentdate + "</td>"
                                + "<td>" + entry.replydate + "</td>"
                                + "<td>" + entry.delay + "</td>"
                                + "<td>" + entry.topic + "</td>"
                                + "<td>" + entry.lastactivity + "</td>"
                                + "<td>" + (entry.replydate == "Waiting for Reply..." ? "<a href='" + '@Url.Content("~/Prospect/CreateFollowupActivity")' + "?id=" + entry.prospectid + "&appointmentcode=" + entry.appointmentid + "' class='btn btn-primary btn-xs'>Follow Up</button>" : "Followed") + "</td>"
                                + "</tr>";
                    });
                    $("#body").html(item);
                },
                error: function () { pop_message('Oops...', 'search function crashed! - MVC controller call failed.'); }
            });
        }
    </script>
}
