﻿@using DM.Utilities.NetFramework.Databases.MsSQLs;
@using DM.Utilities.NetFramework.DataTables;
@using DM.Utilities.NetFramework.Models;
@using DM.Utilities.NetFramework.Generics;
@using Microsoft.AspNet.Identity;
@model IEnumerable<GT.InboundApplication.Model.CRM.Prospect_Appointment>

@{
    ViewBag.Title = "Notification";
}

<div class="row wrapper border-bottom lightgray-bg page-heading">
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>Notification</h2>
        </div>
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ค้นหาข้อมูลผู้ติดต่อ", "Index", "Prospect")
                </li>
                <li class="active">
                    <strong>ปฏิทินนัดหมาย</strong>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="col-lg-12">
        <div class="ibox border-red">
            <div class="ibox-title white-bg">
                <h5>
                    <i class="fa fa-calendar-o"></i> ตารางการนัดหมายของคุณ
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/fullCalendarStyles")
    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")

    <script type="text/javascript">
        $(document).ready(function () {
            createcalendar();
        });

        function createcalendar() {

            /* initialize the calendar
            -----------------------------------------------------------------*/
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar
                drop: function () {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },
                events: @Html.Raw(ViewBag.Json)
            });
        }
    </script>
}


