﻿@using GT.CRMApplication.WebMVC5.Helpers;
@{
    ViewBag.Title = "Voice Search";
    var project = AppConfigHelper.ProjectName();
    var oneapp_url = System.Configuration.ConfigurationManager.AppSettings["oneapp_url"].ToString();
}
<div class="ibox-content animated fadeInDown" style="height:100%;min-height:100%;">
    <div class="wrapper wrapper-content" style="height:100%;min-height:100%;">
        <div class="row">
            <form>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control input-daterange" id="daterange1" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Tel No.</label>
                        <input type="text" id="phonenumber" class="form-control input-sm" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Extension</label>
                        <input type="text" id="extension" class="form-control input-sm" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" style="margin-top:28px;">
                        <button id="btn-search" class="btn btn-primary btn-xs" type="button">Search</button>                            
                    </div>
                </div>
                
            </form>
        </div>
        <div class="row" style="height:100%">
            <iframe id="frame-voicesearch" class="col-lg-12" style="background:white;min-height:900px"></iframe>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/daterangepicker/css")
    @Styles.Render("~/plugins/multiple-select/css")
}

@section Scripts {
    @Scripts.Render("~/plugins/daterangepicker")
    @Scripts.Render("~/plugins/multiple-select")
}


        <script type="text/javascript">
            $().ready(function () {
                $("#btn-search").click(function () {
                    var daterange = $("#daterange1").data('daterangepicker')
                    var start = daterange.startDate.format('YYYYMMDD');
                    var end = daterange.endDate.format('YYYYMMDD');
                    var url = "@oneapp_url" + "voicerecording/voiceSearch.php?access_token=TO5LG9ARUQHESD4CJ826&cus_number=" + $("#phonenumber").val().replace(/[ -]/g, "")+ "&extension=" + $("#extension").val() + "&startdate=" + start + "&enddate=" + end;
                    $("#frame-voicesearch").attr("src", url);
                });
            }
            );
        </script>
