﻿@model IEnumerable<GT.InboundApplication.Model.CRM.Prospect_Profile>

@{
    ViewBag.Title = "ตรวจสอบรายการ Opt-Out";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Opt-Out List</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("หน้าแรก", "Index", "Home")
            </li>
            <li class="active">
                <strong>ตรวจสอบรายการ Opt-Out</strong>
            </li>
        </ol>
    </div>
</div>

<div id="vue" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>รายการ Opt-Out</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered dataTables" style="width:100%">
                        <thead>
                            <tr>
                                <th>ชื่อ</th>
                                <th>เบอร์โทรศัพท์</th>
                                <th>สายต้นทาง</th>
                                <th>ผลการสนทนา</th>
                                <th data-orderable="false">รายละเอียด</th>
                                <th>Last Contact</th>
                                <th>TSR</th>
                                <th data-orderable="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in data">
                                <td>{{row.name}}</td>
                                <td>{{row.phone}}</td>
                                <td>{{row.source}}</td>
                                <td>{{row.response}}</td>                        
                                <td>{{row.detail}}</td>
                                <td>{{row.calldate}}</td>
                                <td>{{row.tsr}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a v-bind:href="'@Url.Action("MainProfile")/'+row.id" title="Profile" class="btn btn-white btn-xs" target="_blank">รายละเอียด</a>
                                        <a v-bind:href="'@Url.Action("OptOutApprove")/'+row.id" title="Approve Opt-Out" class="btn btn-success btn-xs"><i class="fa fa-fw fa-check"></i>ยืนยัน</a>
                                        <a v-bind:href="'@Url.Action("OptOutDeny")/'+row.id" title="Deny Opt-Out" class="btn btn-danger btn-xs"><i class="fa fa-fw fa-times"></i>ยกเลิก</a>
                                    </div>
                                </td>
                            </tr>
                            <tr v-if="data.length==0">
                                <td colspan="12" class="text-center">ไม่มีข้อมูล</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $().ready(function () {
        var app = new Vue({
            el: "#vue",
            data: {
                data: []
            }
        });
        $.ajax({
            url: "@Url.Action("GetOptOutList")",
            success: function (result) {
                app.data = result;
            }
        })
    });
</script>