﻿@model GT.InboundApplication.Model.Common.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-md-12">
        <div class="col-sm-4">
            <h2>Delete</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการผู้ใช้งาน", "Index")
                </li>
                <li class="active">
                    <strong>Delete</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User</h5>
                </div>
                <div class="ibox-content">
                    <h4 class="text-danger">Are you sure you want to delete this?</h4>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DataUserName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DataUserName)
                        </dd>                        
                        <dt>
                            @Html.DisplayNameFor(model => model.SupervisorName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SupervisorName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsBlocked)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.IsBlocked)
                        </dd>
                        <dt>
                            ช่องทางการเข้าใช้งาน
                        </dt>
                        <dd>
                            @(ViewBag.UserRoleName)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">                            
                            <input type="submit" value="Delete" class="btn btn-primary" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
