﻿@using GT.InboundApplication.Model.Common;
@model GT.InboundApplication.Model.Common.ApplicationUser

    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="row wrapper border-bottom gray-bg page-heading">
        <div class="col-lg-12">
            <div class="col-sm-4">
                <h2>Details</h2>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("หน้าแรก", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("รายการผู้ใช้งาน", "Index")
                    </li>
                    <li class="active">
                        <strong>Details</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Details User</h5>
                    </div>
                    <div class="ibox-content">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DataUserName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DataUserName)
                            </dd>
                            @if (User.IsPM() || User.IsInboundHead() || User.IsSuperAdmin())
                            {
                                string rolename = ViewBag.UserRoleName;
                                if (!User.isUnder(rolename))
                                {
                                    <dt>
                                        @Html.DisplayNameFor(model => model.DataPassword)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.DataPassword)
                                    </dd>
                                }
                            }                           
                            <dt>
                                @Html.DisplayNameFor(model => model.SupervisorName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.SupervisorName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.IsBlocked)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.IsBlocked)
                            </dd>
                            <dt>
                                บทบาท
                            </dt>
                            <dd>
                                @(ViewBag.UserRoleName)
                            </dd>

                        </dl>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })
                    </div>
                </div>
            </div>
        </div>
    </div>












