﻿@model GT.InboundApplication.Model.Common.ApplicationUser

    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="row wrapper border-bottom gray-bg page-heading">
        <div class="col-lg-12">
            <div class="col-sm-4">
                <h2>ผู้ใช้งาน</h2>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("หน้าแรก", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("รายการผู้ใช้งาน", "Index")
                    </li>
                    <li class="active">
                        <strong>แก้ไข</strong>
                    </li>
                </ol>
            </div>
            <div class="col-sm-8">
                <div class="title-action">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Edit User</h5>
                    </div>
                    <div class="ibox-content">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstName)
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LastName)
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NickName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NickName)
                                    @Html.ValidationMessageFor(model => model.NickName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email)
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DataUserName, new { @disabled = "disabled", @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DataUserName)
                                    @Html.ValidationMessageFor(model => model.DataUserName)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="SupervisorId" class="control-label col-md-2">Supervisor</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.SupervisorId, (IEnumerable<SelectListItem>)ViewBag.Supervisors, "เลือก", new { @class = "form-control" })
                                    @Html.HiddenFor(model => model.SupervisorName)
                                    @Html.ValidationMessageFor(model => model.SupervisorId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("บทบาท", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("UserRole", (IEnumerable<SelectListItem>)ViewBag.Roles, "เลือก", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ExtensionCode, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ExtensionCode)
                                    @Html.ValidationMessageFor(model => model.ExtensionCode)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $("#SupervisorId").change(function () {
        if ($("#SupervisorId").val() != "") {
            $("#SupervisorName").val($("#SupervisorId>option:selected").html());
        } else {
            $("#SupervisorName").val("");
        }
    });
</script>