﻿@using GT.InboundApplication.Model.Common;
@model IEnumerable<GT.InboundApplication.Model.Common.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-lg-12">
        <div class="col-sm-4">
            <h2>ผู้ใช้งาน</h2>
            <ol class="breadcrumb">
                <li>
                    <strong>@Html.ActionLink("หน้าแรก", "Index", "Home")</strong>
                </li>
                <li class="active">
                    <strong>รายการผู้ใช้งาน</strong>
                </li>
            </ol>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Users</h5>
                    <div class="ibox-tools">
                        @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })*@
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th>
                                    ชื่อ
                                </th>
                                <th>
                                    นามสกุล
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    TSR Code (NL)
                                </th>
                                <th>
                                    TSR Code (OL)
                                </th>
                                <th>
                                    License No. (NL)
                                </th>
                                <th>
                                    License No. (OL)
                                </th>
                                <th>
                                    Supervisor
                                </th>
                                <th>
                                    บทบาท
                                </th>
                                <th>
                                    Extension
                                </th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{  var roles = (IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)ViewBag.Roles;
                                var rolename = "";
                            }
                            @foreach (var item in Model)
                            {
                                {
                                    var userroleid = item.Roles.FirstOrDefault();
                                    if (userroleid != null) { rolename = roles.SingleOrDefault(row => row.Id == userroleid.RoleId).Name; }
                                }
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataUserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TSRCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TSRCode_OL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LicenseNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LicenseNumber_OL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupervisorName)
                                </td>
                                <td>
                                    @(rolename)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.ExtensionCode)
                                </th>
                                <td>
                                    <div class="btn-group" style="display: flex">
                                        @if (User.IsSuperAdmin())
                                        {
                                            <a class="btn btn-white btn-sm" href="@Url.Action("UseLogin","Account", new { userid = item.Id })" title="Use this account"><i class="fa fa-sign-in"></i></a>
                                        }                                       
                                        <a class="btn btn-white btn-sm" href="@Url.Action("Details", new { id = item.Id })" title="Details"><i class="fa fa-file-o"></i></a>
                                        <a class="btn btn-white btn-sm" href="@Url.Action("Edit", new { id = item.Id })" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-white btn-sm" href="@Url.Action("Delete", new { id = item.Id })" title="Delete"><i class="fa fa-remove"></i></a>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

            

        });

        function SyncHybridTSR(id) {
            $.ajax({
                url: "@Url.Action("SyncHybridTSR")",
                data: { userid: id },
                type: 'get',
                dataType: 'json',
                contentType: 'application/json',
            }).done(function (result) {
                console.log(result);
                if (result == 1) {
                    swal("Success", "Sync ข้อมูลสำเร็จแล้ว", "success");
                }
                else {
                    swal("Failed", "เกิดข้อผิดพลาด", "error");
                }
            }).error(function () { swal("Failed","เกิดข้อผิดพลาด", "error") });
        }
    </script>
}