﻿@model string
@if ("N".Equals(Model))
{
    <span class="label label-danger">ลีดใหม่</span>
}
else if ("O".Equals(Model))
{
    <span class="label label-default">ลีดเก่า</span>
}
else if ("D".Equals(Model))
{
    <span class="label label-default">ลีดซ้ำ</span>
}
