﻿@model string
@switch (Model)
{
    case "1": <span class="label label-info">Follow up</span> break;
    case "2": <span class="label label-success">Success</span> break;
    case "3": <span class="label label-default">Not Target</span> break;
    case "4": <span class="label label-default">Reject</span> break;
    case "5": <span class="label label-white">No Contact</span> break;
    case "6": <span class="label label-default">Not Update</span> break;
    case "7": <span class="label label-success">Success-Online</span> break;
    case "8": <span class="label label-default">Duplicate</span> break;
    case "9": <span class="label label-default">Refer</span> break;
}
