﻿@model GT.InboundApplication.Model.CRM.ValuePreference

@{
    ViewBag.Title = "ValuePreference";
    var title = ViewBag.Title;
    var mode = "รายละเอียด";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <h2>@title</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการ", "Index")
                </li>
                <li class="active">
                    <strong>@mode @title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@mode @title</h5>
                </div>
                <div class="ibox-content">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Code)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Code)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Value)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Value)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Note)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Note)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Active)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Active)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>
                    </dl>


                    @Html.ActionLink("แก้ไข", "Edit", new { id = Model.ValuePreferenceId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>












