﻿@model GT.InboundApplication.Model.CRM.Coverage

@{
    ViewBag.Title = "Coverage";
}

@using (Html.BeginForm())
{
    <div class="row wrapper border-bottom gray-bg page-heading">
        <div class="col-sm-8">
            <h2>Coverage</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("ความคุ้มครอง", "Index", "Coverages")
                </li>
                <li class="active">
                    <strong>สร้าง Coverage</strong>
                </li>
            </ol>
        </div>

        <div class="col-sm-4">
            <div class="title-action">
                <input type="submit" value="Save" onclick="savedata()" class="btn btn-primary" />
                @Html.ActionLink("ยกเลิก", "Index", "Coverages", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:20px;">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create Coverage</h5>
                </div>
                <div class="ibox-content">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.CoverageTitle, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CoverageTitle)
                                @Html.ValidationMessageFor(model => model.CoverageTitle)
                            </div>
                            <div style="display:none;">
                                @Html.HiddenFor(model => model.CoverageContent)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Active)
                                @Html.ValidationMessageFor(model => model.Active)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content no-padding">
        <div class="summernote">
            @Html.Raw(Model.CoverageContent)
        </div>
    </div>
}

@section Styles {
    @GTStyles.Render("~/plugins/summernoteStyles")
}

@section Scripts {
    @GTScripts.Render("~/plugins/summernote")

}
<script type="text/javascript">
    $(document).ready(function () {
        $('.summernote').summernote();
    });

    function savedata() {
        $('#CoverageContent').val($(".note-editable").html());
        return true;
    }
</script>
