﻿@model GT.InboundApplication.Model.CRM.Coverage

@{
    ViewBag.Title = "Coverage";
	var title = ViewBag.Title;
	var mode = "ลบข้อมูล";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom gray-bg page-heading">
	<div class="col-sm-12">
		<div class="col-sm-4">
			<h2>@title</h2>
			<ol class="breadcrumb">
				<li>
					@Html.ActionLink("หน้าแรก","Index","Home")
				</li>
				<li>
				  @Html.ActionLink("รายการ", "Index")
				</li>
				<li class="active">
					<strong>@mode @title</strong>
				</li>
			</ol>
		</div>
		<div class="col-sm-8">
			<div class="title-action">
				@Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-primary"})
			</div>
		</div>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@mode @title</h5>
                </div>
                <div class="ibox-content">
				<h4 class="text-danger">คุณต้องการลบข้อมูลนี้ใช่หรือไม่ ?</h4>
				 <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoverageTitle)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-white"})
        </div>
    }



                </div>
            </div>
        </div>
    </div>
 </div>


