﻿@model GT.InboundApplication.Model.CRM.Activity

@{
    ViewBag.Title = "Activity";
    var title = ViewBag.Title;
    var mode = "สร้าง";
}

<div class="row wrapper border-bottom gray-bg page-heading">
    <div class="col-sm-12">
        <div class="col-sm-4">
            <h2>@title</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("หน้าแรก", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("รายการ", "Index")
                </li>
                <li class="active">
                    <strong>@mode @title</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                @Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title gray-bg">
                    <h5>@mode @title</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Code)
                                    @Html.ValidationMessageFor(model => model.Code)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Note)
                                    @Html.ValidationMessageFor(model => model.Note)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Active)
                                    @Html.ValidationMessageFor(model => model.Active)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsSupportInboundCall, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.IsSupportInboundCall)
                                    @Html.ValidationMessageFor(model => model.IsSupportInboundCall)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsSupportOutboundCall, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.IsSupportOutboundCall)
                                    @Html.ValidationMessageFor(model => model.IsSupportOutboundCall)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsSupportFollowupCall, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.IsSupportFollowupCall)
                                    @Html.ValidationMessageFor(model => model.IsSupportFollowupCall)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsSupportUnknownPerson, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.IsSupportUnknownPerson)
                                    @Html.ValidationMessageFor(model => model.IsSupportUnknownPerson)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsSupportProspectPerson, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.IsSupportProspectPerson)
                                    @Html.ValidationMessageFor(model => model.IsSupportProspectPerson)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
